<template>
  <div class="content">
    <!-- <loading
       :active.sync="isLoading"
       :can-cancel="true"
       :on-cancel="onCancel"
       :is-full-page="fullPage"
       ></loading> -->

    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <!-- <div class="col-lg-3 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Data Member</h6>
          
        </div> -->
        <div class="col-lg-12 col-5 text-right">
          <!-- <base-button size="sm" type="neutral">New</base-button> -->
          <nuxt-link
            to="/crm/crm_member_temp/add"
            class="btn btn-neutral btn-sm"
            >Tambah Data
          </nuxt-link>
          <!-- <base-button
            type="success"
            class="btn btn-sm"
            @click="templateExcel()"
          >
            Format Upload
          </base-button> -->
          <base-button
            class="crm-upload"
            size="sm"
            type=""
            @click="openModalClassic()"
          >
            Upload Data By Excel
          </base-button>

          <base-button
            class="crm-foto"
            size="sm"
            type=""

            @click="modals.contohFoto = true"
          >
            Upload Foto
          </base-button>

          <!-- <base-button
            type="success"
            class="btn btn-sm"
            @click="templateUpdate()"
          >
            Format Update
          </base-button> -->
          <base-button 
            class="crm-update"
            size="sm"
            type=""
            @click="updateExcel()"
          >
            Update Data By Excel
          </base-button>

          <base-button
            type="danger"
            class="btn btn-sm"
            @click="downloadModal()"
          >
            Download Data Member
          </base-button>

          <!--Upload Excel modal-->
          <modal backdrop="static" :show.sync="modals.download">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <b> <center>Download Data Member</center> </b>
              </div>
              <div class="col-md-2"></div>
            </div>

            <br />

            <v-form ref="importExcel">
              <base-input>
                <el-select
                  v-model="search.customer"
                  filterable
                  placeholder="Pilih Customer Dahulu"
                  @change="onChangeCustomer()"
                >
                  <el-option
                    v-for="option in customerOptions"
                    :key="option.idAkun"
                    :label="option.perusahaanName"
                    :value="option.idAkun"
                  ></el-option>
                </el-select>
              </base-input>
            </v-form>

            <template slot="footer">
              <base-button
                type="danger"
                class="ml-auto"
                @click="modals.download = false"
                >Batal</base-button
              >

              <a
                v-if="this.search.customer"
                v-bind:href="
                  `${$axios.defaults.baseURL}main_base/member_temp/member_temp_data/data_member_` +
                  this.tanggalSekarang +
                  '.xls?idAkun=' +
                  this.search.customer
                "
                target="_blank"
              >
                <base-button type="primary" native-type="submit" class="btn-md">
                  Download
                </base-button>
              </a>
            </template>
          </modal>

          <!--Upload Excel modal-->
          <modal backdrop="static" :show.sync="modals.classic">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <b> <center>Upload File Excel Data Anda</center> </b>
              </div>
              <div class="col-md-2"></div>
            </div>

            <br />

            <v-form ref="importExcel">
              <base-input>
                <el-select
                  v-model="search.customer"
                  filterable
                  placeholder="Pilih Customer"
                  @change="onChangeCustomer()"
                >
                  <el-option
                    v-for="option in customerOptions"
                    :key="option.idAkun"
                    :label="option.perusahaanName"
                    :value="option.idAkun"
                  ></el-option>
                </el-select>
              </base-input>

              <!-- <input
                type="file"
                name="file"
                id="file"
                ref="file"
                class="form-control"
                @change="filesChange()"
              /> -->

              <input
                type="file"
                id="icon"
                ref="icon"
                accept="icon/*"
                class="form-control"
                @change="fileChangeUpload()"
              />
            </v-form>

            <template slot="footer">
              <base-button type="success" @click="templateExcel()">
                <!-- class="btn btn-sm" -->
                Template Upload
              </base-button>
              <base-button
                type="danger"
                class="ml-auto"
                @click="modals.classic = false"
                >Batal</base-button
              >
              <base-button type="primary" @click="postFileExcel()"
                >Upload</base-button
              >
            </template>
          </modal>

          <modal
            size="xl"
            backdrop="static"
            :show.sync="modals.responUpload"
            style="overflow: scroll"
          >
            <h6 slot="header" class="modal-title text-center">
              Hasil Upload Data Member By Excel
            </h6>
            <form>
              <div class="form-group row">
                <label class="col-md-2"></label>
                <label class="col-md-4 col-form-label form-control-label">
                  <h3>
                    <b> Data Valid = {{ this.rowValid1 }} </b>
                  </h3>
                </label>
                <label class="col-md-4 col-form-label form-control-label">
                  <h3>
                    <b> Data Tidak Valid = {{ this.rowNonValid1 }} </b>
                  </h3>
                </label>
                <label class="col-md-2"></label>
              </div>
            </form>

            <table
              v-if="this.error1.length > 0"
              class="table table-hover-table-stripped thead-light"
              width="100%"
              style="text-align: center"
            >
              <thead>
                <tr style="background-color: #f6f9fc">
                  <th colspan="3">Tabel Data Tidak Valid</th>
                </tr>
                <tr style="background-color: #f6f9fc">
                  <th>Keterangan</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in error1" :key="index">
                  <td>{{ item }}</td>
                </tr>
              </tbody>
            </table>

            <template slot="footer">
              <base-button @click="modals.responUpload = false" type="warning"
                >Kembali</base-button
              >
            </template>
          </modal>

          <modal
            size="xl"
            backdrop="static"
            :show.sync="modals.responFotoUpload"
            style="overflow: scroll"
          >
            <h6 slot="header" class="modal-title text-center">
              Hasil Upload Foto
            </h6>
            <form>
              <div class="form-group row">
                <label class="col-md-2"></label>
                <label class="col-md-4 col-form-label form-control-label">
                  <h3>
                    <b> Data Sukses = {{ this.success.total }} </b>
                  </h3>
                </label>
                <label class="col-md-4 col-form-label form-control-label">
                  <h3>
                    <b> Data Gagal = {{ this.fail.total }} </b>
                  </h3>
                </label>
                <label class="col-md-2"></label>
              </div>
            </form>

            <table
              v-if="this.fail.file.length > 0"
              class="table table-hover-table-stripped thead-light"
              width="100%"
              style="text-align: center"
            >
              <thead>
                <tr style="background-color: #f6f9fc">
                  <th colspan="3">Tabel Foto Gagal Upload</th>
                </tr>
                <tr style="background-color: #f6f9fc">
                  <th>Nama File</th>
                  <th>Keterangan</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in fail.file" :key="index">
                  <td>{{ item.number }}</td>
                  <td>{{ item.status }}</td>
                </tr>
              </tbody>
            </table>

            <template slot="footer">
              <base-button
                @click="modals.responFotoUpload = false"
                type="warning"
                >Kembali</base-button
              >
            </template>
          </modal>

          <!--Update modal-->
          <modal backdrop="static" :show.sync="modals.update">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <b> <center>Update Data Member By File Excel</center> </b>
              </div>
              <div class="col-md-2"></div>
            </div>

            <br />

            <v-form ref="importExcel">
              <base-input>
                <el-select
                  v-model="search.customer"
                  filterable
                  placeholder="Pilih Customer"
                  @change="onChangeCustomer()"
                >
                  <el-option
                    v-for="option in customerOptions"
                    :key="option.idAkun"
                    :label="option.perusahaanName"
                    :value="option.idAkun"
                  ></el-option>
                </el-select>
              </base-input>

              <p style="color: red; font-size: 13px; text-align: left">
                <b>
                  Pilih kolom dibawah ini sesuai dengan isian kolom excel yang
                  diubah
                </b>
              </p>

              <base-input>
                <el-select
                  v-model="updateField"
                  filterable
                  placeholder="Pilih Kolom Yang Diubah"
                >
                  <el-option
                    v-for="option in fieldUpdate"
                    :key="option"
                    :label="option"
                    :value="option"
                  ></el-option>
                </el-select>
              </base-input>

              <input
                type="file"
                name="file"
                id="file"
                ref="file"
                class="form-control"
                @change="filesChange()"
              />
            </v-form>

            <template slot="footer">
              <base-button
                type="success"
                @click="templateUpdate()"
              >
                <!-- class="btn btn-sm" -->
                Template Update
              </base-button>
              <base-button
                type="danger"
                class="ml-auto"
                @click="modals.update = false"
                >Batal</base-button
              >
              <base-button type="primary" @click="updateExcelFile()"
                >Upload</base-button
              >
            </template>
          </modal>

          <!-- Migrasi Ke Katalis -->

          <modal backdrop="static" :show.sync="modals.katalisMigrasi">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <b> <center>Anda Yakin Sinkronisasi ke Katalis ?</center> </b>
              </div>
              <div class="col-md-2"></div>
            </div>

            <br />

            <v-form ref="importExcel">
              <base-input>
                <el-select
                  v-model="search.customer"
                  filterable
                  placeholder="Pilih Customer"
                  @change="onChangeCustomer()"
                >
                  <el-option
                    v-for="option in customerOptions"
                    :key="option.idAkun"
                    :label="option.perusahaanName"
                    :value="option.idAkun"
                  ></el-option>
                </el-select>
              </base-input>
            </v-form>

            <template slot="footer">
              <base-button
                type="danger"
                class="ml-auto"
                @click="modals.katalisMigrasi = false"
                >Batal</base-button
              >
              <base-button type="primary" @click="migrasiKatalis()"
                >Ya, Sinkronisasi Sekarang</base-button
              >
            </template>
          </modal>

          <!-- Status Sinkronisasi Ke Katalis -->

          <modal backdrop="static" :show.sync="modals.cekMigrasiKatalis">
            <h2 slot="header" class="mb-0">Status Sinkronisasi Katalis</h2>

            <div class="row py-3 align-items-center">
              <div class="col-sm-9">
                <h3>
                  Sudah Tersinkronisasi : {{ this.sinkronisasi.sudah }} Data
                </h3>
              </div>
            </div>

            <div class="row py-3 align-items-center">
              <div class="col-sm-9">
                <h3>
                  Belum Tersinkronisasi : {{ this.sinkronisasi.belum }} Data
                </h3>
              </div>
            </div>

            <template slot="footer">
              <base-button
                type="danger"
                class="ml-auto"
                @click="modals.cekMigrasiKatalis = false"
                >Kembali</base-button
              >
            </template>
          </modal>

          <modal
            size="xl"
            backdrop="static"
            :show.sync="modals.responUpdate"
            style="overflow: scroll"
          >
            <h6 slot="header" class="modal-title text-center">
              Hasil Update Data Member By Excel
            </h6>
            <form>
              <div class="form-group row">
                <label class="col-md-2"></label>
                <label class="col-md-4 col-form-label form-control-label">
                  <h3>
                    <b> Data Valid = {{ this.rowValid }} </b>
                  </h3>
                </label>
                <label class="col-md-4 col-form-label form-control-label">
                  <h3>
                    <b> Data Tidak Valid = {{ this.rowInValid }} </b>
                  </h3>
                </label>
                <label class="col-md-2"></label>
              </div>
            </form>

            <table
              v-if="this.inValid.length > 0"
              class="table table-hover-table-stripped thead-light"
              width="100%"
              style="text-align: center"
            >
              <thead>
                <tr style="background-color: #f6f9fc">
                  <th colspan="3">Tabel Data Tidak Valid</th>
                </tr>
                <tr style="background-color: #f6f9fc">
                  <th>Number</th>
                  <th>Nama</th>
                  <th>Keterangan</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in inValid" :key="index">
                  <td>{{ item.number }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.note }}</td>
                </tr>
              </tbody>
            </table>

            <template slot="footer">
              <base-button @click="modals.responUpdate = false" type="warning"
                >Kembali</base-button
              >
            </template>
          </modal>

          <!--contoh foto modal-->
          <modal size="xl" backdrop="static" :show.sync="modals.contohFoto">
            <div class="text-center">
              <h1>Contoh Format Foto Yang Benar dan Salah</h1>
            </div>
            <div class="row mb--3">
              <div class="col-md-8">
                <div class="card mt-3">
                 <img src="img/contohfoto/contoh.png" alt="Image placeholder" class="zoom fotoUkuran">
                 </div>
              </div>
              <div class="col-md-4">
                <div class="card-body pt-0">
                  <div class="text-center">
                    <div class="h2">
                      <i class="ni education_hat mr-2"></i> Keterangan Format
                      Foto Yang Benar
                    </div>
                  </div>

                  <ol class="text-left">
                    <li>Foto terang dan jelas</li>
                    <li>Latar belakang diusahakan polos dan tidak ramai</li>
                    <li>Format foto adalah potrait</li>
                    <li>
                      Tidak menggunakan aksesoris pada wajah seperti kacamata
                      dan masker
                    </li>
                    <li>Jarak foto jangan terlalu dekat</li>
                    <li>
                      Jika ada siswi yang bercadar bisa mengkonfirmasi terlebih
                      dahulu ke pihak PT. Teknologi kartu Indonesia
                    </li>
                    <li>Maksimal ukuran foto adalah 1 Mb</li>
                  </ol>
                </div>

                 <base-button
                  type="danger"
                  class="ml-auto"
                  @click="modals.contohFoto = false"
                  >Batal</base-button
                >
                <base-button type="primary" @click="modalFoto()"
                  > Mulai Upload Foto</base-button
                >
                
              </div>

            </div>

            <!-- <template slot="footer">
              <base-button
                type="danger"
                class="ml-auto"
                @click="modals.contohFoto = false"
                >Batal</base-button
              >
              <base-button type="primary" @click="modalFoto()">
                Mulai Upload Foto</base-button
              >
            </template> -->
          </modal>

          <!--Classic modal-->
          <modal backdrop="static" :show.sync="modals.foto">
            <h6 slot="header" class="modal-title">Upload Seluruh Data Foto</h6>
            <form>
              <base-input>
                <el-select
                  v-model="search.customer"
                  filterable
                  placeholder="Pilih Customer Terlebih Dahulu"
                  @change="onChangeCustomer()"
                >
                  <el-option
                    v-for="option in customerOptions"
                    :key="option.idAkun"
                    :label="option.perusahaanName"
                    :value="option.idAkun"
                  ></el-option>
                </el-select>
              </base-input>

              <input
                type="file"
                name="file"
                id="file"
                ref="files"
                @change="filesChangeImage(e)"
                multiple
                class="form-control"
                accept="image/x-png,image/jpeg"
              />
            </form>

            <template slot="footer">
              <base-button type="info" @click="contohFotoLagi()"
                >Format Foto Yang Benar</base-button
              >
              <base-button
                type="danger"
                class="ml-auto"
                @click="modals.foto = false"
                >Batal</base-button
              >
              <base-button type="primary" @click="postFoto()"
                >Kirim</base-button
              >
            </template>
          </modal>
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--6">
      <div>
        <card
          class="no-border-card"
          body-classes="px-0 pb-1"
          footer-classes="pb-2"
        >
          <template slot="header">
            <h3 class="mb-0">Data Member</h3>
            <p class="text-sm mb-0">Manajemen Data Member</p>
          </template>
          <div>
            <div class="row mb-2 pl-2">
              <div class="col-4">
                <div>
                  <base-input>
                    <el-select
                      v-model="search.customer"
                      filterable
                      placeholder="Pilih Customer terlebih dahulu"
                      @change="onChangeCustomer()"
                    >
                      <el-option
                        v-for="option in customerOptions"
                        :key="option._id"
                        :label="option.perusahaanName"
                        :value="option.idAkun"
                      ></el-option>
                    </el-select>
                  </base-input>
                </div>
              </div>

              <!-- <div class="col-4">
                <div>
                  <base-input>
                    <el-select
                      v-model="search.pipeline"
                      filterable
                      clearable
                      @change="onChangePipeline()"
                      placeholder="Pilih Pipeline terlebih dahulu"
                    >
                      <el-option
                        v-for="option in pipelineOptions"
                        :key="option._id"
                        :label="option.title"
                        :value="option._id"
                      ></el-option>
                    </el-select>
                  </base-input>
                </div>
              </div> -->

                  <!-- <div v-if="this.search.customer"> -->






              <!-- <div class="col-3">
                <div>
                  <base-button type="primary" @click="migrasiKatalisModal()"
                    >Sinkronisasi Ke Katalis</base-button
                  >
                </div>
              </div>

              <div class="col-3">
                <div>
                  <base-input>
                    <el-select
                      v-model="filtering.filter"
                      @change="
                        getDatas(paging.size, paging.page, filtering.filter)
                      "
                      placeholder="Filter Status Sinkronisasi"
                    >
                      <el-option
                        v-for="option in statusOptions"
                        :key="option.value"
                        :label="option.label"
                        :value="option.value"
                      ></el-option>
                    </el-select>
                  </base-input>
                </div>
              </div>

              <div class="col-2">
                <div>
                  <base-button type="success" @click="cekMigrasiKatalisModal()"
                    >Cek Status</base-button
                  >
                </div>
              </div> -->






                  <!-- <div v-if="this.search.customer"> -->

              <!-- <div class="col-2">
                <button
                  type="button"
                  class="btn btn-primary btn-mini"
                  v-if="superUserId == $store.state.user.user.userId"
                  @click="openModalIntegrasi()"
                >
                  <i class="el-icon-refresh-left"></i> &nbsp; Integrasi Katalis
                </button>

                <modal :show.sync="modals.integrasi" data-backdrop="static">
                  <h6 slot="header" class="modal-title">
                    Integrasi Member Temp dengan Katalis
                  </h6>

                  <base-input>
                    <el-select
                      v-model="integrasi.type"
                      placeholder="Pilih Status Integrasi Katalis"
                    >
                      <el-option label="Belum" value="belum"></el-option>
                      <el-option label="Sudah" value="sudah"></el-option>
                    </el-select>
                  </base-input>

                  <base-button
                    type="primary"
                    :disabled="isDisabledMigrasiButton"
                    @click="doIntegrasiKatalis()"
                    >Mulai Integrasi</base-button
                  >
                  <br />
                  <center>
                    <h1>{{ integrasi.progress }} %</h1>
                  </center>
                  Member sudah diintegrasi : {{ integrasi.sudah }}<br />
                  Member belum diintegrasi : {{ integrasi.belum }}<br />
                  Semua Data Member : {{ integrasi.semua }}<br />
                  <template slot="footer">
                    <base-button
                      type="danger"
                      class="ml-auto"
                      :disabled="isDisabledMigrasiButton"
                      @click="modals.integrasi = false"
                      >Batal</base-button
                    >
                  </template>
                </modal>
              </div> -->
            </div>

            <!-- Seaching -->
            <div class="row mb-3">
              <!-- search company name -->
              <div class="col-2 ml-1">
                <div>
                  <base-input
                    v-model="name"
                    placeholder="Cari Nama"
                    @keyup="changePageSize()"
                  >
                  </base-input>
                </div>
              </div>

              <!-- search pic name -->
              <div class="col-2 ml--2">
                <div>
                  <base-input
                    v-model="number"
                    placeholder="Cari NIS"
                    @keyup="changePageSize()"
                  >
                  </base-input>
                </div>
              </div>

              <div class="col-2">
                <base-input>
                  <el-select
                    v-model="kelas"
                    clearable
                    filterable
                    placeholder="Cari Kelas"
                    @change="changePageSize()"
                  >
                    <el-option
                      v-for="item in kelasOptions"
                      :key="item"
                      :label="item"
                      :value="item"
                    >
                    </el-option>
                  </el-select>
                </base-input>
              </div>

              <div class="col-2">
                <base-input>
                  <el-select
                    v-model="kelasDetail"
                    clearable
                    filterable
                    placeholder="Cari Kelas Detail"
                    @change="changePageSize()"
                  >
                    <el-option
                      v-for="item in kelasDetailOptions"
                      :key="item"
                      :label="item"
                      :value="item"
                    >
                    </el-option>
                  </el-select>
                </base-input>
              </div>

              <!-- search tags -->
              <div class="col-2">
                <base-input>
                  <el-select
                    v-model="tags"
                    multiple
                    filterable
                    placeholder="Filter Tags"
                    @change="changePageSize()"
                  >
                    <el-option
                      v-for="item in tagsOptions"
                      :key="item"
                      :label="item"
                      :value="item"
                    >
                    </el-option>
                  </el-select>
                </base-input>
              </div>

              <div class="col-1">

                <el-tooltip content="Perbarui Filter" placement="top">
                  <base-button size="md" type="info" @click="refreshSearch()">
                    <i class="text-white el-icon-refresh-left"></i>
                  </base-button>
                </el-tooltip>
              </div>

              <!-- <div class="col-1">
                <el-tooltip content="Perbarui Filter Tags" placement="top">
                  <base-button size="md" type="info" @click="refreshTags()">
                    <i class="text-white el-icon-refresh-left"></i>
                  </base-button>
                </el-tooltip>
              </div> -->

              <!-- Select Size Page -->
              <!-- <div class="col-2">
                <el-select
                  class="select-primary pagination-select"
                  v-model="paging.size"
                  placeholder="Per page"
                  @change="changePageSize()"
                >
                  <el-option
                    class="select-primary"
                    v-for="item in paging.perPageOptions"
                    :key="item"
                    :label="item"
                    :value="item"
                  ></el-option>
                </el-select>
              </div> -->
            </div>

            <el-table
              class="mt--3"
              :data="tableData"
              row-key="id"
              header-row-class-name="thead-light"
            >
              <!-- @sort-change="sortChange" -->
              <!-- @selection-change="selectionChange" -->

              <el-table-column
                v-for="column in tableColumns"
                :key="column.label"
                v-bind="column"
              ></el-table-column>

              <el-table-column
                min-width="200px"
                align="center"
                label="Status Sinkronisasi"
              >
                <div slot-scope="{ row }" class="d-flex">
                  <div v-if="row.statusMigrasiKatalis === false">
                    <div style="color: orange">
                      
                      <base-button type="warning" class="btn btn-sm">
                        Belum Sinkronisasi
                      </base-button>
                    </div>
                  </div>
                  <div v-else>
                    <div style="color: green">
                      
                      <base-button type="success" class="btn btn-sm">
                        Sudah Sinkronisasi
                      </base-button>
                    </div>
                  </div>
                </div>
              </el-table-column>

              <el-table-column min-width="130px" align="center" label="Actions">
                <div slot-scope="{ $index, row }" class="d-flex">
                  <nuxt-link :to="`/crm/crm_member_temp/edit?id=` + row._id">
                    <!-- <nuxt-link
                    :to="{
                      name: 'crm-crm_member_temp-edit',
                      params: { id: row._id },
                    }"
                  > -->
                    <el-tooltip content="Edit" placement="top">
                      <base-button size="sm" type="warning">
                        <i class="text-white icon-pencil"></i>
                      </base-button>
                    </el-tooltip>
                  </nuxt-link>

                  &nbsp;&nbsp;

                  <el-tooltip content="Hapus" placement="top">
                    <base-button
                      @click.native="handleDelete($index, row)"
                      size="sm"
                      type="danger"
                      class="remove btn-link"
                    >
                      <i class="text-white icon-trash"></i>
                    </base-button>
                  </el-tooltip>
                </div>
              </el-table-column>
            </el-table>
          </div>
          <div
            slot="footer"
            class="
              col-12
              d-flex
              justify-content-center justify-content-sm-between
              flex-wrap
            "
          >
            <div class>
              <p class="card-category">
                Showing {{ from + 1 }} to {{ to }} of
                {{ paging.totalElements }} entries
              </p>
            </div>

            <ul class="pagination pagination-no-border">
              <li
                class="page-item prev-page"
                :class="{ disabled: paging.page + 1 === 1 }"
              >
                <a class="page-link" aria-label="Previous" @click="prevPage">
                  <span aria-hidden="true">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                  </span>
                </a>
              </li>

              <li
                class="page-item"
                :class="{ active: paging.page + 1 === item }"
                :key="item"
                v-for="item in range(1, paging.totalPages)"
              >
                <a
                  v-if="Math.abs(item - paging.page) <= 2"
                  class="page-link"
                  @click="changePage(item)"
                  >{{ item }}</a
                >
              </li>

              <li
                class="page-item next-page"
                :class="{ disabled: paging.page + 1 === paging.totalPages }"
              >
                <a class="page-link" aria-label="Next" @click="nextPage">
                  <span aria-hidden="true">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </span>
                </a>
              </li>
            </ul>

            <div class>
                <el-select
                  class="select-primary pagination-select"
                  v-model="paging.size"
                  placeholder="Per page"
                  @change="changePageSize()"
                >
                  <el-option
                    class="select-primary"
                    v-for="item in paging.perPageOptions"
                    :key="item"
                    :label="item"
                    :value="item"
                  ></el-option>
                </el-select>
              </div>

          </div>
        </card>
      </div>
    </div>
  </div>
</template>

<script>
import { Table, TableColumn, Select, Option } from "element-ui";
import RouteBreadCrumb from "@/components/argon-core/Breadcrumb/RouteBreadcrumb";
import { BasePagination } from "@/components/argon-core";
import clientPaginationMixin from "~/components/tables/PaginatedTables/clientPaginationMixin";
import swal from "sweetalert2";
import users from "~/components/tables/users2";
import Modal from "@/components/argon-core/Modal.vue";
import FileInput from "@/components/argon-core/Inputs/FileInput";
import TagsInput from "@/components/argon-core/Inputs/TagsInput";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";

export default {
  mixins: [clientPaginationMixin],
  // layout: "DashboardLayout",
  components: {
    FileInput,
    TagsInput,
    Modal,
    BasePagination,
    RouteBreadCrumb,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
  },
  data() {
    return {
      tanggalSekarang: "",
      icon: "",
      superUserId: process.env.superUserId,
      updateField: "",
      search: {
        customer: "",
        pipeline: "",
        status: null,
      },
      customerOptions: [],
      pipelineOptions: [],

      fieldUpdate: ["tags", "note", "kelas", "kelasDetail"],

      statusOptions: [
        {
          value: "all",
          label: "Semua Data",
        },
        {
          value: "katalis",
          label: "Sudah Tersinkronisasi",
        },
        {
          value: "nonkatalis",
          label: "Belum Tersinkronisasi",
        },
      ],

      rowValid: "",
      rowInValid: "",
      inValid: [],

      rowValid1: "",
      rowNonValid1: "",
      error1: [],

      fail: {
        file: [],
        total: "",
      },

      success: {
        file: [],
        total: "",
      },

      pipeline: "",
      pipeline_import_excel: "",
      tagsOptions: [],
      kelasOptions:[],
      kelasDetailOptions:[],
      files: "",
      file: "",
      file0: "",
      file1: "",
      modals: {
        classic: false,
        foto: false,
        integrasi: false,
        update: false,
        responUpdate: false,
        responUpload: false,
        download: false,
        katalisMigrasi: false,
        cekMigrasiKatalis: false,
        contohFoto: false,
        responFotoUpload: false,
      },
      memberTempData: [],
      propsToSearch: ["name"],
      tableColumns: [
        {
          prop: "name",
          label: "Nama",
          minWidth: 160,
          sortable: true,
        },
        {
          prop: "number",
          label: "Account Number",
          minWidth: 130,
          sortable: true,
        },
        {
          prop: "kelas",
          label: "Kelas",
          minWidth: 130,
          sortable: true,
        },
        {
          prop: "kelasDetail",
          label: "Kelas Detail",
          minWidth: 160,
          sortable: true,
        },
        {
          prop: "tags",
          label: "Tags",
          minWidth: 160,
          sortable: true,
        },
      ],
      tableData: [],
      tableInfo: {},
      name: "",
      tags: "",
      kelas:"",
      kelasDetail:"",
      number: null,
      selectedRows: [],
      url: "main_base/member_temp/get_by_pelanggan/",
      paging: {
        size: 10,
        totalElements: 0,
        totalPages: 0,
        page: 0,
        perPageOptions: [5, 10, 25, 50],
      },
      filtering: {
        filter: "",
      },
      resp: {
        upload: "",
      },
      integrasi: {
        sudah: 0,
        belum: 0,
        semua: 0,
        type: "belum",
        progress: 0,
      },
      sinkronisasi: {
        sudah: 0,
        belum: 0,
      },
      isDisabledMigrasiButton: false,
    };
  },
  beforeMount() {
    this.getDatas(this.paging.size, this.paging.page, this.filtering.filter);
    this.getCustomer();
    this.dateNow();
    this.filtering.filter = "all";
  },
  computed: {
    to() {
      let highBound = this.from + this.paging.size;

      if (this.paging.totalElements < highBound) {
        highBound = this.paging.totalElements;
      }
      return highBound;
    },
    from() {
      return this.paging.size * this.paging.page;
    },
  },
  methods: {
    dateNow() {
      const today = new Date();
      const date =
        today.getFullYear() +
        "-" +
        (today.getMonth() + 1).toString().padStart(2, 0) +
        "-" +
        today.getDate().toString().padStart(2, 0);
      this.tanggalSekarang = date;

      console.log("ini tanggal sekarang = " + this.tanggalSekarang);
    },
    getCustomer() {
      let loader = this.$loading.show(); // manggil loading
      this.$axios
        .$get("main_base/pelanggan/get_combo_pelanggan")
        .then((response) => {
          loader.hide(); // hide loading

          this.customerOptions = response;
          this.getDatas(
            this.paging.size,
            this.paging.page,
            this.filtering.filter
          );
        })
        .catch((e) => {
          loader.hide(); // hide loading

          swal.fire({
            title: "Data Customer Error !",
            type: "failed",
            confirmButtonClass: "btn btn-danger btn-fill",
            buttonsStyling: false,
          });
        });
    },
    getTags() {
      this.$axios
        .$get(`main_base/member_temp/get_tag/` + this.search.customer)
        .then((response) => {
          this.tagsOptions = response;
        });
    },
    getKelas() {
      this.$axios
        .$get(`main_base/member_temp/get_kelas/` + this.search.customer)
        .then((response) => {
          this.kelasOptions = response;
        });
    },
    getKelasDetail() {
      this.$axios
        .$get(`main_base/member_temp/get_kelasDetail/` + this.search.customer)
        .then((response) => {
          this.kelasDetailOptions = response;
        });
    },
    onChangeCustomer() {
      this.getDatas(this.paging.size, this.paging.page, this.filtering.filter);
      this.$store.commit("customer/SET_CUSTOMER_ID", this.search.customer);
      // this.getPipeline();
      this.getTags();
      this.getKelas();
      this.getKelasDetail();
    },
    onChangePipeline() {
      this.getDatas(this.paging.size, this.paging.page, this.filtering.filter);
      this.$store.commit("customer/SET_PIPELINE_ID", this.search.pipeline);
    },
    openModalClassic() {
      this.resp = {};
      this.$refs.file.value = null;
      this.file = "";
      this.modals.classic = true;
    },
    updateExcel() {
      this.resp = {};
      this.$refs.file.value = null;
      this.file = "";
      this.modals.update = true;
    },

    downloadModal() {
      this.modals.download = true;
    },

    migrasiKatalisModal() {
      this.modals.katalisMigrasi = true;
    },

    cekMigrasiKatalisModal() {
      if (this.search.customer === "") {
        this.$notify({
          message: "Pilih Customer Terlebih Dahulu",
          timeout: 5000,
          icon: "ni ni-fat-remove",
          type: "danger",
        });
      } else {
        let loader = this.$loading.show(); // manggil loading

        this.$axios
          .post(
            `main_base/member_temp/get_summary_katalis/` + this.search.customer
          )
          .then((response) => {
            loader.hide(); // hide loading
            // console.log(response);
            this.sinkronisasi.sudah = response.data.totalTrueMigration;
            this.sinkronisasi.belum = response.data.totalFalseMigration;

            this.modals.cekMigrasiKatalis = true;
          })
          .catch((error) => {
            loader.hide(); // hide loading
          });
      }
    },

    openModalIntegrasi() {
      this.$axios
        .get(
          `main_base/member_temp/member_temp/count_integrasi/` +
            this.search.customer
        )
        .then((response) => {
          // console.log(response);
          this.integrasi.belum = response.data.belum;
          this.integrasi.sudah = response.data.sudah;
          this.integrasi.semua = response.data.semua;
          this.modals.integrasi = true;
        });
    },
    async doIntegrasiKatalis() {
      this.isDisabledMigrasiButton = true;
      var totalData = 0;
      if (this.integrasi.type == "belum") {
        if (this.integrasi.belum == 0) {
          alert(
            "Jumlah Member yang belum di integrasi 0, tidak bisa melakukan integrasi"
          );
          this.isDisabledMigrasiButton = false;
          return false;
        }
        totalData = this.integrasi.belum;
      } else if (this.integrasi.type == "semua") {
        totalData = this.integrasi.semua;
      }

      var paging = Math.ceil(totalData / 100);
      var page = 1;
      for (var ii = 0; ii < paging; ii++) {
        await this.$axios
          .get(
            `main_base/member_temp/integrasi_member_temp?customerId=` +
              this.search.customer +
              `&type=` +
              this.integrasi.type +
              `&page=` +
              ii
          )
          .then((response) => {
            this.integrasi.progress = Math.ceil((page / paging) * 100);
            page++;
            if (page == paging) {
              this.openModalIntegrasi();
              this.isDisabledMigrasiButton = false;
            }
          })
          .catch((err) => {
            // console.log(err);
            alert("Terdapat kesalahan sistem || " + err.response.data.detail);
            this.isDisabledMigrasiButton = false;
            ii = paging - 1;
            return false;
          });
      }
    },
    getDatas(size, page, filter) {
      // search
      let search = [];

      if (this.name) {
        search.push({ field: "name", key: this.name });
      } 
      if (this.number) {
        search.push({ field: "number", key: this.number });
      }
      if (this.kelas) {
        search.push({ field: "kelas", key: this.kelas });
      }
      if (this.kelasDetail) {
        search.push({ field: "kelasDetail", key: this.kelasDetail });
      }

      // search tag
      let tagSearch = [];
      if (this.tags.length > 0) {
        tagSearch.push({ field: "tags", key: this.tags });
      }

      if (this.search.customer) {
        let loader = this.$loading.show(); // manggil loading

        this.$axios
          .$post(
            `main_base/member_temp/get_filter_by_pelanggan/${this.search.customer}?page=${page}&sort=name&dir=1&filter=${filter}&size=${size}`,
            {
              search,
              tagSearch,
            }
          )
          .then((response) => {
            loader.hide(); // hide loading
            this.tableData = response.content;
            this.tableInfo = response;
            this.paging.totalElements = response.totalElements;
            this.paging.totalPages = response.totalPages;
            this.paging.page = page;
            this.paging.size = size;
          })
          .catch((e) => {
            loader.hide(); // hide loading
          });
      }
    },

    refreshSearch() {
      let loader = this.$loading.show(); // manggil loading

      this.$axios
        .$get("main_base/member_temp/refresh_search")
        .then((response) => {
          loader.hide(); // hide loading

          this.$notify({
            message: "Filter Kelas, Kelas Detail Berhasil Diperbarui",
            timeout: 2000,
            icon: "ni ni-check-bold",
            type: "success",
          });
        })
        .catch((e) => {
          loader.hide(); // hide loading

          this.$notify({
            message: "Filter Kelas, Kelas Detai Gagal Diperbarui",
            timeout: 2500,
            icon: "ni ni-fat-remove",
            type: "danger",
          });
          this.isDisabledSubmitButton = false;
        });
    },

    refreshTags() {
      let loader = this.$loading.show(); // manggil loading

      this.$axios
        .$get("main_base/member_temp/refresh_tag")
        .then((response) => {
          loader.hide(); // hide loading

          this.$notify({
            message: "Tags Berhasil Diperbarui",
            timeout: 2000,
            icon: "ni ni-check-bold",
            type: "success",
          });
        })
        .catch((e) => {
          loader.hide(); // hide loading

          this.$notify({
            message: "Tags Gagal Diperbarui",
            timeout: 2500,
            icon: "ni ni-fat-remove",
            type: "danger",
          });
          this.isDisabledSubmitButton = false;
        });
    },

    fileChangeUpload() {
      this.icon = this.$refs.icon.files[0];
    },

    filesChange() {
      this.file = this.$refs.file.files[0];
      // this.inputs.file = files;
      // const allowTypes0 = [
      //   "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
      // ];
      // this.file = this.$refs.file.files[0];
      // if (!allowTypes0.includes(this.file.type)) {
      //   swal.fire({
      //     title: "File Bukan Excel, Harap Masukan File Excel !",
      //     type: "failed",
      //     confirmButtonClass: "btn btn-danger btn-fill",
      //     buttonsStyl"ing: false,
      //   });
      //   this.$refs.file.files = [];
      // }
    },

    filesChangeImage() {
      // this.inputs.file = files;
      const allowTypes = ["image/jpeg", "image/jpg", "image/png"];
      this.files = this.$refs.files.files;
      this.file0 = this.$refs.files.files[0];
      if (!allowTypes.includes(this.file0.type)) {
        swal.fire({
          title: "File Bukan Image, Harap Masukan File Image !",
          type: "failed",
          confirmButtonClass: "btn btn-danger btn-fill",
          buttonsStyling: false,
        });
        this.$refs.files.files = [];
      }
    },

    postFileExcel() {
      let formData = new FormData();
      formData.append("file", this.icon);

      var customer = "";
      if (this.search.customer != "") {
        customer = this.search.customer;
      } else {
        this.$notify({
          message: "Data Customer belum dipilih",
          timeout: 5000,
          icon: "ni ni-fat-remove",
          type: "danger",
        });
        return false;
        // break;
      }

      if (this.icon === "") {
        this.$notify({
          message: "File Excel Masih Kosong",
          timeout: 5000,
          icon: "ni ni-fat-remove",
          type: "danger",
        });
        return false;
      }

      let loader = this.$loading.show(); // manggil loading

      this.$axios
        .$post(
          `/main_base/member_temp/upload_member_temp/` + customer,
          formData,
          {
            headers: {
              "Content-Type": "multipart/form-data",
              "Access-Control-Allow-Origin": "*",
            },
          }
        )
        .then((response) => {
          loader.hide(); // hide loading

          this.modals.classic = false;

          this.rowValid1 = response.rowValid;
          this.rowNonValid1 = response.rowNonValid;
          this.error1 = response.error;

          this.modals.responUpload = true;

          this.$notify({
            message: "Upload Data Telah Berhasil",
            timeout: 3500,
            icon: "ni ni-check-bold",
            type: "success",
          });
          this.resp.upload = response;
          this.getDatas(
            this.paging.size,
            this.paging.page,
            this.filtering.filter
          );
        })
        .catch((e) => {
          loader.hide(); // hide loading

          swal.fire({
            title: "Gagal Upload !",
            type: "failed",
            confirmButtonClass: "btn btn-danger btn-fill",
            buttonsStyling: false,
          });
          this.getDatas(
            this.paging.size,
            this.paging.page,
            this.filtering.filter
          );
        });
    },

    updateExcelFile() {
      let formData = new FormData();
      formData.append("file", this.file);

      var customer = "";
      var updateField = "";
      if (this.search.customer != "") {
        customer = this.search.customer;
      } else {
        this.$notify({
          message: "Data Customer Belum dipilih",
          timeout: 5000,
          icon: "ni ni-fat-remove",
          type: "danger",
        });
        return false;
      }

      if (this.updateField != "") {
        updateField = this.updateField;
      } else {
        this.$notify({
          message: "Kolom Yang diubah belum dipilih",
          timeout: 5000,
          icon: "ni ni-fat-remove",
          type: "danger",
        });
        return false;
      }

      if (this.file === "") {
        this.$notify({
          message: "File Excel Masih Kosong",
          timeout: 5000,
          icon: "ni ni-fat-remove",
          type: "danger",
        });
        return false;
      }

      let loader = this.$loading.show(); // manggil loading

      this.$axios
        .$post(
          `/main_base/member_temp/upload_update/` +
            customer +
            "/" +
            updateField,
          formData,
          {
            headers: {
              "Content-Type": "multipart/form-data",
              "Access-Control-Allow-Origin": "*",
            },
          }
        )
        .then((response) => {
          loader.hide(); // hide loading
          this.modals.update = false;

          this.rowValid = response.rowValid;
          this.rowInValid = response.rowInValid;
          this.inValid = response.inValid;

          this.modals.responUpdate = true;

          this.getDatas(
            this.paging.size,
            this.paging.page,
            this.filtering.filter
          );
        })
        .catch((e) => {
          loader.hide(); // hide loading

          swal.fire({
            title: "Gagal Update !",
            type: "failed",
            confirmButtonClass: "btn btn-danger btn-fill",
            buttonsStyling: false,
          });
          this.getDatas(
            this.paging.size,
            this.paging.page,
            this.filtering.filter
          );
        });
    },

    modalFoto() {
      this.modals.contohFoto = false;

      this.modals.foto = true;
    },

    contohFotoLagi() {
      this.modals.contohFoto = true;

      this.modals.foto = false;
    },

    async postFoto() {
      const formData = new FormData();
      for (var i = 0; i < this.files.length; i++) {
        let file = this.files[i];
        formData.append("files", file);
      }

      var customer = "";
      if (this.search.customer === "") {
        this.$notify({
          message: "Data Customer belum dipilih",
          timeout: 5000,
          icon: "ni ni-fat-remove",
          type: "danger",
        });
        return false;
        // break;
      }
      if (this.files === "") {
        this.$notify({
          message: "File Masih Kosong",
          timeout: 5000,
          icon: "ni ni-fat-remove",
          type: "danger",
        });
        return false;
        // break;
      }

      let loader = this.$loading.show(); // manggil loading

      await this.$axios
        .$post(
          `/main_base/member_image/multi_image/number/` + this.search.customer,
          formData,
          {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          }
        )
        .then((res) => {
          loader.hide(); // hide loading

          this.fail.file = res.fail.file;

          this.fail.total = res.fail.total;

          this.success.file = res.success.file;

          this.success.total = res.success.total;

          this.modals.foto = false;

          this.modals.responFotoUpload = true;

          // console.log();
          this.getDatas(
            this.paging.size,
            this.paging.page,
            this.filtering.filter
          );
          this.$refs.files.value = null;
          this.files = "";
          // this.modals.foto = false;
        })
        .catch((e) => {
          loader.hide(); // hide loading

          // console.log();
          swal.fire({
            title: "Gagal Upload !",
            type: "failed",
            confirmButtonClass: "btn btn-danger btn-fill",
            buttonsStyling: false,
          });
        });
    },

    migrasiKatalis() {
      if (this.search.customer === "") {
        this.$notify({
          message: "Data Customer belum dipilih",
          timeout: 5000,
          icon: "ni ni-fat-remove",
          type: "danger",
        });
        return false;
      } else {
        let loader = this.$loading.show(); // manggil loading
        this.$axios
          .$get(
            `main_base/member_temp/tombol_sync_integrasi?customerId=${this.search.customer}&limitasi=` +
              this.paging.totalElements
          )
          .then((response) => {
            loader.hide(); // hide loading
            this.$notify({
              message: response,
              timeout: 8000,
              icon: "ni ni-check-bold",
              type: "success",
            });

            this.modals.katalisMigrasi = false;
          })
          .catch((error) => {
            loader.hide(); // hide loading
          });
      }
    },

    handleDelete(index, row) {
      swal
        .fire({
          title: "Apakah Anda Yakin ?",
          text: `Data yang dihapus tidak dapat dikembalikan`,
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn btn-success btn-fill",
          cancelButtonClass: "btn btn-danger btn-fill",
          confirmButtonText: "Hapus",
          cancelButtonText: "Batal",
          buttonsStyling: false,
        })
        .then((result) => {
          if (result.value) {
            this.deleteRow(row);
          }
        });
    },

    deleteRow(row) {
      this.$axios
        .$delete(`main_base/member_temp/member_temp/` + row._id)
        .then((user) => {
          // swal.fire({
          //   title: "Terhapus",
          //   text: `Data telah berhasil dihapus`,
          //   type: "success",
          //   confirmButtonClass: "btn btn-success btn-fill",
          //   buttonsStyling: false,
          // });

          this.$notify({
            message: "Data Telah Berhasil Dihapus",
            timeout: 3500,
            icon: "ni ni-check-bold",
            type: "success",
          });
          this.getDatas(
            this.paging.size,
            this.paging.page,
            this.filtering.filter
          );
        })

        .catch((error) => {
          // swal.fire({
          //   title: "Gagal Terhapus!",
          //   text: `Gagal Menghapus Data`,
          //   type: "failed",
          //   confirmButtonClass: "btn btn-danger btn-fill",
          //   buttonsStyling: false,
          // });

          this.$notify({
            message: "Data Gagal Terhapus",
            timeout: 3500,
            icon: "ni ni-fat-remove",
            type: "danger",
          });
        });
    },

    selectionChange(selectedRows) {
      this.selectedRows = selectedRows;
    },
    range(min, max) {
      let arr = [];
      for (let i = min; i <= max; i++) {
        arr.push(i);
      }
      return arr;
    },
    changePage(item) {
      const page = item - 1;
      this.getDatas(this.paging.size, page, this.filtering.filter);
    },
    nextPage() {
      const page = this.paging.page + 1;
      this.getDatas(this.paging.size, page, this.filtering.filter);
    },
    prevPage() {
      const page = this.paging.page - 1;
      this.getDatas(this.paging.size, page, this.filtering.filter);
    },
    changePageSize() {
      const page = this.paging.page;
      this.getDatas(this.paging.size, page, this.filtering.filter);
    },
    templateExcel() {
      window.open(
        "https://drive.google.com/uc?export=download&id=17V20y95lK5jZGsA5Rqu0KLiVjFw_fit2",
        "_blank"
      );
    },
    templateUpdate() {
      window.open(
        "https://drive.google.com/uc?export=download&id=1IzMY38x4kJFI6euN-9PVwJPoEGdXq8Ih",
        "_blank"
      );
    },
  },
};
</script>
<style>
.no-border-card .card-footer {
  border-top: 0;
}

.fontvue {
  background-color: red;
}

.fotoUkuran { 
  /* width: 700px;  */
  height: 470px; 
  /* margin-top: 10px; */
} 

/* .zoom:hover {
  -ms-transform: scale(1.2); 
  -webkit-transform: scale(1.2); 
  transform: scale(1.2); 
} */
</style>
