<template>
  <div>
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">
            Data Customer
          </h6>
          <!-- <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-breadcrumb />
          </nav> -->
        </div>

        <div class="col-lg-6 col-5 text-right">
          <nuxt-link to="/crm/crm_customer" class="btn btn-neutral btn-sm"
            >Kembali</nuxt-link
          >
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card-wrapper">
            <card>
              <!-- Card header -->
              <h3 slot="header" class="mb-0">Tambah Data Customer</h3>

              <form
                class="needs-validation row"
                @submit.prevent="customerFormSubmit"
              >
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label form-control-label required1"
                      >Nama Perusahaan / Lembaga</label
                    >
                    <div class="col-md-9">
                      <base-input
                        name="perusahaanName"
                        placeholder="Nama Perusahaan / Lembaga"
                        success-message="Looks good!"
                        v-model="form.perusahaanName"
                      ></base-input>

                      <a
                        style="color: red; font-weight: 500; font-size: 13px"
                        v-if="this.form.perusahaanName === ''"
                      >
                        {{ this.errors1.perusahaanName }}
                      </a>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label form-control-label required1"
                      >Inisial</label
                    >
                    <div class="col-md-9">
                      <base-input
                        name="initials"
                        placeholder="Inisial"
                        success-message="Looks good!"
                        v-model="form.initials"
                      ></base-input>

                      <a
                        style="color: red; font-weight: 500; font-size: 13px"
                        v-if="this.form.initials === ''"
                      >
                        {{ this.errors1.initials }}
                      </a>
                    </div>
                  </div>
                  <div class="form-group row" v-if="this.form.id !== ''">
                    <label class="col-md-3 col-form-label form-control-label required1"
                      >Company Id Katalis</label
                    >
                    <div class="col-md-9">
                      <base-input
                        name="idCompanyRegister"
                        placeholder="Company Id Katalis"
                        success-message="Looks good!"
                        v-model="form.idCompanyRegister"
                      ></base-input>

                      <a
                        style="color: red; font-weight: 500; font-size: 13px"
                        v-if="this.form.idCompanyRegister === null"
                      >
                        {{ this.errors1.idCompanyRegister }}
                      </a>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label form-control-label"
                      >Nama Implementator</label
                    >
                    <div class="col-md-9">
                      <base-input>
                        <el-select
                          v-model="implementator"
                          filterable
                          multiple
                          placeholder="Pilih Implementator"
                        >
                          <el-option
                            v-for="(option, keyImp) in implementatorOptions"
                            :key="keyImp"
                            :label="option.name"
                            :value="option.accountId"
                          ></el-option>
                        </el-select>
                      </base-input>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label form-control-label required1"
                      >Nama PIC</label
                    >
                    <div class="col-md-9">
                      <base-input
                        name="name"
                        placeholder="Nama PIC"
                        success-message="Looks good!"
                        v-model="form.name"
                      ></base-input>

                      <a
                        style="color: red; font-weight: 500; font-size: 13px"
                        v-if="this.form.name === ''"
                      >
                        {{ this.errors1.name }}
                      </a>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label form-control-label required1"
                      >No Hp PIC</label
                    >
                    <div class="col-md-9">
                      <base-input
                        type="number"
                        name="phone"
                        placeholder="No Hp PIC"
                        success-message="Looks good!"
                        v-model="form.phone"
                      ></base-input>

                      <a
                        style="color: red; font-weight: 500; font-size: 13px"
                        v-if="this.form.phone === ''"
                      >
                        {{ this.errors1.phone }}
                      </a>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label form-control-label required1"
                      >Email PIC</label
                    >
                    <div class="col-md-9">
                      <base-input
                        type="email"
                        name="email"
                        placeholder="Email PIC"
                        success-message="Looks good!"
                        v-model="form.email"
                      ></base-input>

                      <a
                        style="color: red; font-weight: 500; font-size: 13px"
                        v-if="this.form.email === ''"
                      >
                        {{ this.errors1.email }}
                      </a>
                    </div>
                  </div>
                  
                </div>
                <div class="col-md-6">

                  <div class="form-group row">
                    <label class="col-md-3 col-form-label form-control-label required1"
                      >Nama Yayasan</label
                    >
                    <div class="col-md-9">
                      <base-input
                        name="yayasanName"
                        placeholder="Nama Yayasan"
                        success-message="Looks good!"
                        v-model="form.yayasanName"
                      ></base-input>

                      <a
                        style="color: red; font-weight: 500; font-size: 13px"
                        v-if="this.form.yayasanName === ''"
                      >
                        {{ this.errors1.yayasanName }}
                      </a>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 col-form-label form-control-label"
                      >Provinsi</label
                    >
                    <div class="col-md-9">
                      <base-input>
                        <el-select
                          v-model="form.identity.province"
                          filterable
                          placeholder="Pilih Provinsi"
                          @change="getCity()"
                        >
                          <el-option
                            v-for="option in provinceOptions"
                            :key="option.id"
                            :label="option.name"
                            :value="option.name"
                          ></el-option>
                        </el-select>
                      </base-input>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 col-form-label form-control-label"
                      >Kota</label
                    >
                    <div class="col-md-9">
                      <base-input>
                        <el-select
                          v-model="form.identity.city"
                          filterable
                          placeholder="Pilih Kota"
                        >
                          <el-option
                            v-for="option in citiOptions"
                            :key="option.id"
                            :label="option.name"
                            :value="option.name"
                          ></el-option>
                        </el-select>
                      </base-input>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label form-control-label required1"
                      >Alamat</label
                    >
                    <div class="col-md-9">
                      <textarea
                        class="form-control"
                        name="address"
                        placeholder="Alamat"
                        success-message="Looks good!"
                        :rules="{ required: true }"
                        v-model="form.identity.address"
                        rows="3"
                      ></textarea>

                      <a
                        style="color: red; font-weight: 500; font-size: 13px"
                        v-if="this.form.identity.address === ''"
                      >
                        {{ this.errors1.address }}
                      </a>
                    </div>
                  </div>
                  <!-- <div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label"
                        >Solution</label
                      >
                      <div class="col-md-9">
                        <base-input>
                          <el-select
                            v-model="form.solutions"
                            multiple
                            filterable
                            placeholder="Pilih Solution"
                          >
                            <el-option
                              v-for="option in solutionOptions"
                              :key="option"
                              :label="option"
                              :value="option"
                            ></el-option>
                          </el-select>
                        </base-input>
                      </div>
                    </div> -->

                  <div class="form-group row">
                    <label class="col-md-3 col-form-label form-control-label required1"
                      >Jenis Pelanggan</label
                    >
                    <div class="col-md-9">
                      <base-input>
                        <el-select
                          v-model="form.jenis"
                          filterable
                          placeholder="Pilih Jenis Pelanggan"
                        >
                          <el-option
                            v-for="option in jenisOptions"
                            :key="option"
                            :label="option"
                            :value="option"
                          ></el-option>
                        </el-select>
                      </base-input>

                      <a
                        style="color: red; font-weight: 500; font-size: 13px"
                        v-if="this.form.jenis === ''"
                      >
                        {{ this.errors1.jenis }}
                      </a>
                    </div>
                  </div>

                  <!-- <div class="form-group row">
                    <label class="col-md-3 col-form-label form-control-label"
                      >Tipe Yayasan Pelanggan</label
                    >
                    <div class="col-md-9">
                      <base-input>
                        <el-select
                          v-model="form.tipe"
                          filterable
                          placeholder="Pilih Tipe Yayasan Pelanggan"
                        >
                          <el-option
                            v-for="option in ['ISLAM', 'KRISTEN', 'OTHER']"
                            :key="option"
                            :label="option"
                            :value="option"
                          ></el-option>
                        </el-select>
                      </base-input>
                    </div>
                  </div> -->

                </div>

                <div class="col-md-12 mt-4">
                  <div class="row">
                    <div class="col-md-4">
                      <a class="required2">
                        Wajib Diisi
                      </a>
                    </div>
                    <div class="col-md-5"></div>
                    <div class="col-md-3">
                      <nuxt-link class="btn btn-danger" to="/crm/crm_customer"
                        >Batal</nuxt-link
                      >
                      <base-button type="success" native-type="submit"
                        >Simpan</base-button
                      >
                    </div>
                  </div>
                </div>

              </form>
            </card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TagsInput from "@/components/argon-core/Inputs/TagsInput";
import RouteBreadCrumb from "@/components/argon-core/Breadcrumb/RouteBreadcrumb";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
import { Select, Option } from "element-ui";

export default {
  name: "customerForm",
  components: {
    TagsInput,
    [Select.name]: Select,
    [Option.name]: Option,
  },
  data() {
    return {
      isDisabledSubmitButton: false,
      jenisOptions: [],
      provinceOptions: [],
      citiOptions: [],
      solutionOptions: [],
      wilayahOptions: [],
      cabangOptions: [],
      implementator: [],
      validated: false,
      implementatorOptions: [],
      form: {
        perusahaanName: "",
        initials: "",
        idCompanyRegister: null,
        id: "",
        name: "",
        phone: "",
        email: "",
        yayasanName: "",
        implementators: [],
        solutions: [],
        jenis: "",
        tipe: "",
        identity:{
          address: "",
          province: "",
          city: "",
        }
      },

      errors1: {
        perusahaanName: "",
        initials: "",
        idCompanyRegister: "",
        name: "",
        address: "",
        phone: "",
        email: "",
        yayasanName: "",
        jenis: "",
      },

      level: {
        wilayah: "",
        cabang: "",
      },
      show: {
        wilayah: true,
        cabang: true,
      },
      doSubmit: true,
    };
  },
  beforeMount() {
    this.getProvince();
    this.getSolution();
    this.getJenis();

    this.$axios
      .$get("main_base/user/get_user_combo_implementator")
      .then((response) => {
        this.implementatorOptions = response;
        if (response.length == 1) {
          this.implementator.push(response[0].accountId);
        }
      });

    if (Object.entries(this.$route.query).length > 0) {
      console.log(this.$route.query);
      this.$axios
        .$get(`main_base/pelanggan/get_pelanggan/${this.$route.query.id}`)
        .then((response) => {
          this.form = response;
          this.form.id = response._id;
          this.form.idCompanyRegister = response.idCompanyRegister;
          this.form.identity.address = response.identity.address;
          this.form.identity.province = response.identity.province;
          this.getCity();
          this.form.identity.city = response.identity.city;
          if (response.implementators.length > 0) {
            var accountId = [];
            response.implementators.map(function(impl) {
              accountId.push(impl.accountId);
            });
            this.implementator = accountId;
          }
        });
    }
  },
  methods: {
    getProvince() {
      this.$axios
        .$get("https://api.katalis.info/wilayah/getAllProvinces")
        .then((response) => {
          this.provinceOptions = response;
        });
    },
    getCity() {
      var indexProv = this.provinceOptions.findIndex(
        (x) => x.name === this.form.identity.province
      );
      if (indexProv != null) {
        var provId = this.provinceOptions[indexProv].id;
        this.$axios
          .$get("https://api.katalis.info/wilayah/getRegencies/" + provId)
          .then((response) => {
            this.citiOptions = response;
          });
      }
    },
    getWilayah() {
      this.$axios.$get("main_base/company/get_wilayah").then((response) => {
        console.log(response);
        this.wilayahOptions = response;
      });
    },

    getCabang() {
      this.level.cabang = "";
      this.$axios
        .$get("main_base/company/get_cabang/" + this.level.wilayah)
        .then((response) => {
          console.log(response);
          this.cabangOptions = response;
        });
    },

    getSolution() {
      this.$axios
        .$get("/main_base/company/combo_company_solution")
        .then((response) => {
          this.solutionOptions = response;
        });
    },

    getJenis() {
      this.$axios
        .$get("/main_base/company/combo_jenis_pelanggan")
        .then((response) => {
          this.jenisOptions = response;
        });
    },
    async customerFormSubmit() {
      let data = {
        ...this.form,
      };

      var implementators = [];
      var implementatorOptions = this.implementatorOptions;

      this.implementator.map(function(impl) {
        var indexImplementator = implementatorOptions.findIndex(
          (x) => x.accountId === impl
        );
        implementators.push(implementatorOptions[indexImplementator]);
      });
      this.form.implementators = implementators;

      if (this.form.id == "") {
        this.isDisabledSubmitButton = true;

        if (
          this.form.perusahaanName === "" ||
          this.form.initials === "" ||
          this.form.name === "" ||
          this.form.identity.address === "" ||
          this.form.phone === "" ||
          this.form.email === "" ||
          this.form.yayasanName === "" ||
          this.form.jenis === ""
        ) {
          this.errors1.perusahaanName = "Nama Perusahaan Belum Diisi";
          this.errors1.initials = "Inisial Belum Diisi";
          this.errors1.name = "Nama Belum Diisi";
          this.errors1.address = "Alamat Belum Diisi";
          this.errors1.phone = "Nomor HP Belum Diisi";
          this.errors1.email = "Email PIC Belum Diisi";
          this.errors1.yayasanName = "Nama Yayasan Belum Diisi";
          this.errors1.jenis = "Jenis Pelanggan Belum Diisi";

          this.$notify({
            message: "Inputan Belum Lengkap, Silahkan Melengkapi Inputan Terlebih Dahulu",
            timeout: 3000,
            icon: "ni ni-fat-remove",
            type: "danger",
          });

        } else {

          let loader = this.$loading.show(); // manggil loading

          this.$axios
            .$post(`main_base/pelanggan/add_pelanggan`, data)
            .then((response) => {
              loader.hide(); // hide loading

              this.$notify({
                message: "Data Telah Berhasil Disimpan",
                timeout: 1500,
                icon: "ni ni-check-bold",
                type: "success",
              });

              this.isDisabledSubmitButton = false;
              this.$router.push("/crm/crm_customer");
            })
            .catch((e) => {
              loader.hide(); // hide loading

              this.$notify({
                message: "Data Gagal Tersimpan",
                timeout: 2500,
                icon: "ni ni-fat-remove",
                type: "danger",
              });
              this.isDisabledSubmitButton = false;
            });
        }
      } else {

        if (
          this.form.perusahaanName === "" ||
          this.form.initials === "" ||
          this.form.name === "" ||
          this.form.identity.address === "" ||
          this.form.phone === "" ||
          this.form.email === "" ||
          this.form.yayasanName === "" ||
          this.form.idCompanyRegister === null ||
          this.form.jenis === ""
        ) {
          this.errors1.perusahaanName = "Nama Perusahaan Belum Diisi";
          this.errors1.initials = "Initial Belum Diisi";
          this.errors1.name = "Nama Belum Diisi";
          this.errors1.address = "Alamat Belum Diisi";
          this.errors1.phone = "Alamat Belum Diisi";
          this.errors1.email = "Email Belum Diisi";
          this.errors1.yayasanName = "Nama Yayasan Belum Diisi";
          this.errors1.idCompanyRegister = "Company Id Katalis Belum Diisi";
          this.errors1.jenis = "Jenis Pelanggan Belum Diisi";

          this.$notify({
            message: "Inputan Belum Lengkap, Silahkan Melengkapi Inputan Terlebih Dahulu",
            timeout: 3000,
            icon: "ni ni-fat-remove",
            type: "danger",
          });
        } else {
          let loader = this.$loading.show(); // manggil loading

          this.$axios
            .$put(
              `main_base/pelanggan/update_pelanggan/${this.$route.query.id}`,
              data
            )
            .then((response) => {
              loader.hide(); // hide loading

              this.$notify({
                message: "Data Telah Berhasil Diubah",
                timeout: 2500,
                icon: "ni ni-check-bold",
                type: "success",
              });
              this.$router.push("/crm/crm_customer");
              this.isDisabledSubmitButton = false;
            })
            .catch((e) => {
              loader.hide(); // hide loading

              this.$notify({
                message: "Data Gagal Tersimpan",
                timeout: 2500,
                icon: "ni ni-fat-remove",
                type: "danger",
              });
              this.isDisabledSubmitButton = false;
            });
        }
      }
    },
  },
};
</script>

<style>
.required1:after {
  content: " *";
  color: red;
}

.required2:before {
  content: " *";
  color: red;
}
</style>