<template>
  <div>
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Data Slider</h6>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <nuxt-link to="/website/website_slider" class="btn btn-neutral btn-sm"
            >Kembali</nuxt-link
          >
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card-wrapper">
            <card>
              <!-- Card header -->
              <h3 slot="header" class="mb-0">Tambah Data</h3>
              <!-- <validation-observer v-slot="{handleSubmit}" ref="formValidator"> -->
              <validation-observer ref="form">
                <form class="needs-validation" @submit.prevent="sliderSubmit">
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Judul</label
                      >
                      <div class="col-md-7">
                        <base-input
                          name="title"
                          placeholder="Masukkan Judul"
                          success-message="Looks good!"
                          rules="required"
                          v-model="form.title"
                        ></base-input>
                      </div>
                    </div>

                    <!-- <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Sub Judul</label
                      >
                      <div class="col-md-7">
                        <input
                          type="text"
                          name="subtitle"
                          class="form-control"
                          v-model="form.subtitle"
                          placeholder="Masukkan Sub Judul"
                          @input="inputanCek"
                          :class="{ borderWar: !minLimit }"
                        /><span>{{ minLimit }}/{{ maxLimit }}</span>
                      </div>
                    </div> -->
                     <!-- <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Sub Judul</label
                      >
                      <div class="col-md-7">
                        <base-input
                          name="subtitle"
                          placeholder="Sub Judul"
                          success-message="Looks good!"
                          v-model="form.subtitle"
                        ></base-input>
                      </div>
                    </div> -->

                    <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Image</label
                      >
                      <div class="col-md-7">
                        <dropzone-file-upload
                          v-model="image"
                          ref="image"
                          type="file"
                          @change="uploadImage"
                        ></dropzone-file-upload>
                      </div>
                    </div>

                  </div>
                  <base-button type="primary" native-type="submit"
                    >Simpan</base-button
                  >
                  <nuxt-link
                    class="btn btn-warning"
                    to="/website/website_slider"
                    >Batal</nuxt-link
                  >
                </form>
              </validation-observer>
            </card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TagsInput from "@/components/argon-core/Inputs/TagsInput";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
import { Select, Option } from "element-ui";
import DropzoneFileUpload from "@/components/argon-core/Inputs/DropzoneFileUpload";
// Basic Use - Covers most scenarios
import { VueEditor } from "vue2-editor";

export default {

  components: {
    TagsInput,
    DropzoneFileUpload,
    [Select.name]: Select,
    [Option.name]: Option,
    VueEditor,
  },

  data() {
    return {
      // maxLimit: 100,
      validated: false,
      form: {
        title: "",
        imageUrl:""
      },
      doSubmit: true,
      image: "",
    };
  },
  beforeMount() {
    window.addEventListener("keypress", (e) => {
      if (e.keyCode == 13) {
        this.doSubmit == false;
        e.preventDefault();
        return false;
      }
    });
  },
  // computed: {
  //   minLimit() {
  //     return this.maxLimit - this.form.subtitle.length;
  //   },
  // },
  methods: {
    // inputanCek() {
    //   this.form.subtitle = this.form.subtitle.substr(0, this.maxLimit);
    // },

   uploadImage() {
      // console.log(this.image);
      const formData = new FormData();
      for (var i = 0; i < this.image.length; i++) {
        let file = this.image[i];
        formData.append("file", file);
      }
      const allowTypes = ["image/jpeg", "image/jpg", "image/png"];
      let image = this.$refs.image.files[0];

      if (image.size > 5 * 1024 * 1024) {
        swal.fire({
          icon: 'error',
          title: "Maaf Ukuran File Terlalu Besar!",
          text: 'Ukuran File Harus dibawah 5 Mb!',
          type: "failed",
          confirmButtonClass: "btn btn-danger btn-fill",
          buttonsStyling: false,
        });
            this.$refs.image.files = [];
      } else {

          if (!allowTypes.includes(image.type)) {
              swal.fire({
                title: "File Bukan Image, Harap Masukan File Image!",
                type: "failed",
                confirmButtonClass: "btn btn-danger btn-fill",
                buttonsStyling: false,
                 });
                  this.$refs.image.files = [];
          } else {
            let loader = this.$loading.show();
            this.$axios
              .$post(`/main_base/image/upload_image`, formData, {
                headers: {
                  "Content-Type": "multipart/form-data",
                },
              })
              .then((response) => {
                loader.hide();
                // console.log(response.name);
                 this.form.imageUrl = response.name;
              });
          }
      }
    },

    async sliderSubmit() {
        await this.$refs.form.validate().then((success) => {
          if (!success) {
            return;
          }
            this.$axios
              .$post(`main_web/web_slider/slider`, this.form)
              .then((response) => {
                this.$notify({
                message:'Data Telah Berhasil Disimpan',
                timeout: 3500,
                icon: 'ni ni-check-bold',
                type: "success",
              });
                this.$router.push("/website/website_slider");
              })
              .catch((e) => {});
        });

    },
  },
};
</script>
