<template>
  <div>
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Detail Data Produk</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-breadcrumb />
          </nav>
        </div>

        <div class="col-lg-6 col-5 text-right">
          <!-- <base-button size="sm" type="neutral">New</base-button> -->
          <nuxt-link to="/pos/product" class="btn btn-neutral btn-sm"
            >Kembali</nuxt-link
          >
          <!-- <base-button size="sm" type="neutral">Filters</base-button> -->
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card-wrapper">
            <card>
              <!-- Card header -->
              <h3 slot="header" class="mb-0">Detail Produk "{{ form.name }}" </h3>
              <!-- <validation-observer v-slot="{handleSubmit}" ref="formValidator"> -->
              <validation-observer ref="form">
                <form>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label
                          class="col-md-3 col-form-label form-control-label"
                          >Nama Produk</label
                        >
                        <div class="col-md-9">
                          <base-input
                            disabled=""
                            name="name"
                            success-message="Looks good!"
                            rules="required"
                            v-model="form.name"
                          ></base-input>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label
                          class="col-md-3 col-form-label form-control-label"
                          >Barcode</label
                        >
                        <div class="col-md-9">
                          <base-input
                            disabled=""
                            name="barcode"
                            success-message="Looks good!"
                            v-model="form.barcode"
                          ></base-input>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label
                          class="col-md-3 col-form-label form-control-label"
                          >Harga</label
                        >
                        <div class="col-md-9">
                          <base-input
                            disabled=""
                            name="price"
                            success-message="Looks good!"
                            rules="required"
                            type="number"
                            v-model="form.price"
                          ></base-input>

                          <span style="font-size: 13px;">
                            Harga = Rp. {{ formatPrice(form.price) }}
                          </span>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label
                          class="col-md-3 col-form-label form-control-label"
                          >Stock Produk</label
                        >
                        <div class="col-md-9">
                          <base-input
                            disabled=""
                            name="stock"
                            success-message="Looks good!"
                            rules="required"
                            type="number"
                            v-model="form.stock"
                          ></base-input>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label
                          class="col-md-3 col-form-label form-control-label"
                          >Harga Diskon</label
                        >
                        <div class="col-md-9">
                          <base-input
                            disabled=""
                            name="discountPrice"
                            success-message="Looks good!"
                            rules="required"
                            v-model="form.discountPrice"
                            type="number"
                          ></base-input>

                          <span style="font-size: 13px;">
                            Harga Diskon = Rp.
                            {{ formatPrice(form.discountPrice) }}
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label
                          class="col-md-3 col-form-label form-control-label"
                          >Deskripsi Produk</label
                        >
                        <div class="col-md-9">
                          <textarea
                            disabled=""
                            class="form-control"
                            name="description"
                            success-message="Looks good!"
                            rules="required"
                            v-model="form.description"
                            rows="3"
                          ></textarea>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label
                          class="col-md-3 col-form-label form-control-label"
                          >Kategori</label
                        >
                        <div class="col-md-9">
                          <base-input
                            disabled=""
                            success-message="Looks good!"
                            rules="required"
                            v-model="form.tags"
                          ></base-input>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label
                          class="col-md-3 col-form-label form-control-label"
                          >volume</label
                        >
                        <div class="col-md-9">
                          <base-input
                            disabled=""
                            name="volume"
                            success-message="Looks good!"
                            rules="required"
                            v-model="form.volume"
                            type="number"
                          ></base-input>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label
                          class="col-md-3 col-form-label form-control-label"
                          >Volume Tipe</label
                        >
                        <div class="col-md-9">
                           <base-input
                            disabled=""
                            success-message="Looks good!"
                            rules="required"
                            v-model="form.volType"
                          ></base-input>
                        </div>
                      </div>
                      <!-- </div> -->

                      <div class="form-group row">
                        <label
                          class="col-md-3 col-form-label form-control-label"
                          >Gambar Produk</label
                        >
                        <a v-if="fileImage === ''">
                           <img :src="'/no-product.png'" alt="" width="200px" />
                        </a>
                        
                        <a v-else-if="fileImage === null">
                           <img :src="'/no-product.png'" alt="" width="200px" />
                        </a>
                        
                        <!-- jika image ada isinya (tidak kosong) maka akan tampil image nya -->
                        <a v-else>
                          <img
                            class="card-img-top imageSize"
                            :src="
                              `${$axios.defaults.baseURL}main_base/image/get/${fileImage}/pas`
                            "
                            alt=""
                          />
                          
                        </a>
                      </div>
                    </div>
                  </div>

                </form>
              </validation-observer>
            </card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TagsInput from "@/components/argon-core/Inputs/TagsInput";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
import { Select, Option } from "element-ui";
import DropzoneFileUpload from "@/components/argon-core/Inputs/DropzoneFileUpload";
//import Multiselect from "vue-multiselect";
import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";

export default {
  name: "PelangganForm",
  components: {
    TagsInput,
    [Select.name]: Select,
    [Option.name]: Option,
    flatPicker,
    DropzoneFileUpload,
    //        Multiselect,
  },
  data() {
    return {
      pipeline: "",
      customer: "",
      pipelineOptions: [],
      customerOptions: [],
      genderOptions: [
        {
          label: "Laki-laki",
          value: "Laki-laki",
        },
        {
          label: "Perempuan",
          value: "Perempuan",
        },
      ],
      volTypeOptions: [
        {
          label: "miligram",
          value: "miligram",
        },
        {
          label: "gram",
          value: "gram",
        },
        {
          label: "kilogram",
          value: "kilogram",
        },
        {
          label: "cc",
          value: "cc",
        },
        {
          label: "liter",
          value: "liter",
        },
        {
          label: "ikat",
          value: "ikat",
        },
        {
          label: "biji",
          value: "biji",
        },
        {
          label: "pcs",
          value: "pcs",
        },
      ],
      validated: false,
      form: {
        name: "",
        barcode: "",
        price: "",
        description: "",
        discountPrice: "",
        volume: "",
        volType: "",
        images: "",
        stock: "",
        tags: "",
      },
      doSubmit: true,
      fileImage: "",
      options: [{ name: "Makanan" }, { name: "Minuman" }],
    };
  },
  beforeMount() {
    window.addEventListener("keypress", (e) => {
      if (e.keyCode == 13) {
        this.doSubmit == false;
        e.preventDefault();
        return false;
      }
    });

    if (this.$route.query.id) {
      this.$axios
        .$get(`main_store/product/product/${this.$route.query.id}`)
        .then((response) => {
          this.form.name = response.name;
          this.form.barcode = response.barcode;
          this.form.price = response.price;
          this.form.stock = response.stock;
          this.form.discountPrice = response.discountPrice;
          this.form.description = response.description;
          this.form.tags = response.tags;
          this.form.volume = response.volume;
          this.form.volType = response.volType;
          this.fileImage = response.images;
        });
    }
  },
  methods: {

    formatPrice(value) {
      let val = (value / 1).toFixed(0).replace(".", ",");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    },

  },
};
</script>

<style>
  .imageSize {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  /* border-radius: 100px; */
}
</style>
