<template>
  <div>
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Data Product</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-breadcrumb />
          </nav>
        </div>

        <div class="col-lg-6 col-5 text-right">
          <!-- <base-button size="sm" type="neutral">New</base-button> -->
          <nuxt-link to="/pos/product" class="btn btn-neutral btn-sm"
            >Kembali</nuxt-link
          >
          <!-- <base-button size="sm" type="neutral">Filters</base-button> -->
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card-wrapper">
            <card>
              <!-- Card header -->
              <h3 slot="header" class="mb-0">Manajemen Data Produk</h3>
              <!-- <validation-observer v-slot="{handleSubmit}" ref="formValidator"> -->
              <validation-observer ref="form">
                <form
                  class="needs-validation"
                  @submit.prevent="productSubmit()"
                >
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label
                          class="col-md-3 col-form-label form-control-label"
                          >Nama Produk</label
                        >
                        <div class="col-md-9">
                          <base-input
                            name="name"
                            placeholder="Nama Produk"
                            success-message="Looks good!"
                            rules="required"
                            v-model="form.name"
                          ></base-input>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label
                          class="col-md-3 col-form-label form-control-label"
                          >Barcode</label
                        >
                        <div class="col-md-9">
                          <base-input
                            name="barcode"
                            placeholder="Barcode"
                            success-message="Looks good!"
                            v-model="form.barcode"
                          ></base-input>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label
                          class="col-md-3 col-form-label form-control-label"
                          >Harga</label
                        >
                        <div class="col-md-9">
                          <base-input
                            name="price"
                            placeholder="Harga"
                            success-message="Looks good!"
                            rules="required"
                            type="number"
                            v-model="form.price"
                          ></base-input>

                          <span style="font-size: 13px;">
                            Harga = Rp. {{ formatPrice(form.price) }}
                          </span>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label
                          class="col-md-3 col-form-label form-control-label"
                          >Stok Produk</label
                        >
                        <div class="col-md-9">
                          <base-input
                            name="stock"
                            placeholder="Jumlah Produk Yang Ada"
                            success-message="Looks good!"
                            rules="required"
                            type="number"
                            v-model="form.stock"
                          ></base-input>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label
                          class="col-md-3 col-form-label form-control-label"
                          >Harga Diskon</label
                        >
                        <div class="col-md-9">
                          <base-input
                            name="discountPrice"
                            placeholder="Isi 0 Jika Tidak Ada Diskon"
                            success-message="Looks good!"
                            v-model="form.discountPrice"
                            type="number"
                            rules="required"
                          ></base-input>

                          <span style="font-size: 13px;">
                            Harga Diskon = Rp.
                            {{ formatPrice(form.discountPrice) }}
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label
                          class="col-md-3 col-form-label form-control-label"
                          >Deskripsi Produk</label
                        >
                        <div class="col-md-9">
                          <textarea
                            class="form-control"
                            name="description"
                            placeholder="Deskripsi Produk"
                            success-message="Looks good!"
                            v-model="form.description"
                            rows="3"
                          ></textarea>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label
                          class="col-md-3 col-form-label form-control-label"
                          >Kategori</label
                        >
                        <div class="col-md-9">
                          <base-input
                            rules="required"
                          >
                            <el-select
                              v-model="form.tags"
                              multiple
                              filterable
                              placeholder="Pilih Kategori"
                            >
                              <el-option
                                v-for="option in GET_KATEGORI"
                                :key="option.tag"
                                :label="option.tag"
                                :value="option.tag"
                              ></el-option>
                            </el-select>
                          </base-input>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label
                          class="col-md-3 col-form-label form-control-label"
                          >volume</label
                        >
                        <div class="col-md-9">
                          <base-input
                            name="volume"
                            placeholder="volume"
                            success-message="Looks good!"
                            v-model="form.volume"
                            type="number"
                            rules="required"
                          ></base-input>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label
                          class="col-md-3 col-form-label form-control-label"
                          >Tipe Volume </label
                        >
                        <div class="col-md-9">
                          <base-input
                            rules="required"
                          >
                            <el-select
                              v-model="form.volType"
                              placeholder="Tipe Volume"
                            >
                              <el-option
                                v-for="option in volTypeOptions"
                                :key="option.label"
                                :label="option.label"
                                :value="option.value"
                              ></el-option>
                            </el-select>
                          </base-input>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label
                          class="col-md-3 col-form-label form-control-label"
                          >Gambar Produk</label
                        >
                        <div class="col-md-9">
                          <div>
                            <!-- jika image kosong, maka tampil dropzone file upload -->
                            <a v-if="fileImage === ''">
                              <dropzone-file-upload
                                v-model="fileImage"
                                ref="fileImage"
                                type="file"
                                @change="uploadImage()"
                              ></dropzone-file-upload>
                            </a>  
                            
                            <a v-else-if="fileImage === null">
                              <dropzone-file-upload
                                v-model="fileImage"
                                ref="fileImage"
                                type="file"
                                @change="uploadImage()"
                              ></dropzone-file-upload>
                            </a>

                            <!-- jika image ada isinya (tidak kosong) maka akan tampil image nya -->
                            <a v-else>
                              <img
                                class="card-img-top"
                                :src="
                                  `${$axios.defaults.baseURL}main_base/image/get/${fileImage}/pas`
                                "
                                alt=""
                              />

                              <a>
                                <base-button
                                  type="primary"
                                  class="btn btn-sm btn-primary float-right"
                                  @click="modals.uploadProduk = true"
                                  block
                                >
                                  Update Gambar
                                </base-button>
                              </a>
                            </a>
                            
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                  <nuxt-link class="btn btn-warning" to="/pos/product"
                    >Batal</nuxt-link
                  >
                  <base-button type="primary" native-type="submit"
                    >Simpan</base-button
                  >
                </form>
              </validation-observer>
            </card>
          </div>
        </div>
      </div>
    </div>


   <!-- modals upload pas foto -->
    <modal :show.sync="modals.uploadProduk">
      <h6 slot="header" class="modal-title">Upload Gambar Produk</h6>
      <dropzone-file-upload
        v-model="fileImage"
        ref="fileImage"
        type="file"
        @change="updateProduk()"
      ></dropzone-file-upload>
    </modal>
    <!-- end modals upload pas foto -->

  </div>
</template>

<script>
import TagsInput from "@/components/argon-core/Inputs/TagsInput";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
import { Select, Option } from "element-ui";
import DropzoneFileUpload from "@/components/argon-core/Inputs/DropzoneFileUpload";
import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";

export default {
  name: "PelangganForm",
  // layout: "DashboardLayout",
  components: {
    TagsInput,
    [Select.name]: Select,
    [Option.name]: Option,
    flatPicker,
    DropzoneFileUpload,
    //        Multiselect,
  },
  data() {
    return {
      GET_KATEGORI: [],
      pipeline: "",
      customer: "",
      pipelineOptions: [],
      customerOptions: [],
      genderOptions: [
        {
          label: "Laki-laki",
          value: "Laki-laki",
        },
        {
          label: "Perempuan",
          value: "Perempuan",
        },
      ],
      volTypeOptions: [
        {
          label: "miligram",
          value: "miligram",
        },
        {
          label: "gram",
          value: "gram",
        },
        {
          label: "kilogram",
          value: "kilogram",
        },
        {
          label: "cc",
          value: "cc",
        },
        {
          label: "liter",
          value: "liter",
        },
        {
          label: "ikat",
          value: "ikat",
        },
        {
          label: "biji",
          value: "biji",
        },
        {
          label: "pcs",
          value: "pcs",
        },
      ],
      validated: false,
      form: {
        name: "",
        barcode: "",
        price: "",
        description: "",
        discountPrice: "",
        volume: "",
        volType: "",
        images: "",
        stock: "",
        tags: [],
      },

      modals: {
        classic: false,
        uploadProduk: false,
      },

      doSubmit: true,
      fileImage: "",
      options: [{ name: "Makanan" }, { name: "Minuman" }],
    };
  },
  beforeMount() {
    window.addEventListener("keypress", (e) => {
      if (e.keyCode == 13) {
        this.doSubmit == false;
        e.preventDefault();
        return false;
      }
    });

    if (this.$route.query.id) {
      this.$axios
        .$get(`main_store/product/product/${this.$route.query.id}`)
        .then((response) => {
          this.form.name = response.name;
          this.form.barcode = response.barcode;
          this.form.price = response.price;
          this.form.stock = response.stock;
          this.form.discountPrice = response.discountPrice;
          this.form.description = response.description;
          this.form.tags = response.tags;
          this.form.volume = response.volume;
          this.form.volType = response.volType;
          this.form.images = response.images;
          this.fileImage = response.images;
        });
    }

   
    this.$axios
      .$get("main_store/product/get_tag")
      .then((response) => {
          this.GET_KATEGORI = response;
      });
  

  },
  methods: {
    async productSubmit() {
      if (this.doSubmit) {
        this.$refs.form.validate().then((success) => {
          if (!success) {
            this.$notify({
              message: "Data Belum Lengkap",
              timeout: 4000,
              icon: "ni ni-fat-remove",
              type: "danger",
            });
            return;
          }

          if (this.$route.query.id) {
            this.$axios
              .$put(
                `/main_store/product/product/${this.$route.query.id}`,
                this.form
              )
              .then((response) => {
                this.$notify({
                  message: "Data Telah Berhasil Disimpan",
                  timeout: 3500,
                  icon: "ni ni-check-bold",
                  type: "success",
                });
                this.$router.push("/pos/product");
              })
              .catch((e) => {
                this.$notify({
                  message: "Data Gagal Di Simpan",
                  timeout: 3500,
                  icon: "ni ni-fat-remove",
                  type: "danger",
                });
                this.disabledSubmitButton = false;
              });
          } else {
            this.$axios
              .$post(`/main_store/product/product`, this.form)
              .then((response) => {
                this.$notify({
                  message: "Data Telah Berhasil Disimpan",
                  timeout: 3500,
                  icon: "ni ni-check-bold",
                  type: "success",
                });
                this.$router.push("/pos/product");
              })
              .catch((e) => {});
          }
        });
      }
    },

    formatPrice(value) {
      let val = (value / 1).toFixed(0).replace(".", ",");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    },

    uploadImage() {
      let loader = this.$loading.show();

      const formData = new FormData();

      for (var i = 0; i < this.fileImage.length; i++) {
        let file = this.fileImage[i];
        formData.append("file", file);
      }
      const allowTypes = ["image/jpeg", "image/jpg", "image/png"];

      this.fileImage = this.$refs.fileImage.files[0];

      this.$axios
        .$post(`/main_base/image/upload_image`, formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        })

        .then((response) => {
          this.form.images = response.name;
          this.fileImage = response.name;
          loader.hide(); // hide loading
        })
        .catch(() => {
          this.$notify({
            message: "Gagal Upload Gambar",
            timeout: 3500,
            icon: "ni ni-fat-remove",
            type: "danger",
          });
            loader.hide(); // hide loading
        });
    },

    updateProduk() {
     let loader = this.$loading.show();

      const formData = new FormData();

      for (var i = 0; i < this.fileImage.length; i++) {
        let file = this.fileImage[i];
        formData.append("file", file);
      }
      const allowTypes = ["image/jpeg", "image/jpg", "image/png"];

      this.fileImage = this.$refs.fileImage.files[0];

      this.$axios
        .$post(`/main_base/image/upload_image`, formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        })

        .then((response) => {
          this.form.images = response.name;
          this.fileImage = response.name;
          loader.hide(); // hide loading
          this.modals.uploadProduk = false;
        })
        .catch(() => {
          this.$notify({
            message: "Gagal Upload Gambar",
            timeout: 3500,
            icon: "ni ni-fat-remove",
            type: "danger",
          });
            loader.hide(); // hide loading
            this.modals.uploadProduk = false;
        });
    },

  },
};
</script>
