<template>
  <div class="content">

    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Data Produk</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-bread-crumb></route-bread-crumb>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <base-button
            type="success"
            class="btn btn-sm"
            @click="templateExcel()"
          >
            Format Excel
          </base-button>
          
          <base-button
            class="btn btn-neutral btn-sm"
            @click="openModalClassic()"
          >
            Import Excel
          </base-button>

          <nuxt-link to="/pos/product/form" class="btn btn-neutral btn-sm"
            >Tambah Data Produk
          </nuxt-link>

          <!--Classic modal-->
          <modal backdrop="static" :show.sync="modals.classic">
            <h6 slot="header" class="modal-title text-center">
              Download Format Excel Kemudian Upload Data Excel Produk Anda
            </h6>
            <v-form ref="importExcel">
              <file-input
                class="text-left"
                ref="file"
                id="file"
                type="file"
                @change="filesChange()"
              ></file-input>
            </v-form>
            <br>

            <template slot="footer">
              <base-button
                type="danger"
                class="ml-auto"
                @click="modals.classic = false"
                >Batal</base-button
              >
              <base-button type="primary" @click="postFileExcel()"
                >Upload</base-button
              >
            </template>
          </modal>
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--6">
      <div>
        <card
          class="no-border-card"
          body-classes="px-0 pb-1"
          footer-classes="pb-2"
        >
          <template slot="header">
            <h3 class="mb-0">Data Produk</h3>
            <p class="text-sm mb-0">Manajemen Data Produk</p>
          </template>
          <div>
            <div class="row mt--3 mb-2">
            </div>
            <!-- Seaching -->
            <div class="row mt--2 mb--2">
              <!-- search company name -->
              <div class="col-3">
                <div>
                  <base-input
                    v-model="name"
                    placeholder="Cari Nama Produk"
                    @keyup="changePageSize()"
                  >
                  </base-input>
                </div>
              </div>

              <!-- search pic name -->
              <div class="col-3">
                <div>
                  <base-input
                    v-model="barcode"
                    placeholder="Cari Barcode"
                    @keyup="changePageSize()"
                  >
                  </base-input>
                </div>
              </div>

              <!-- search  -->
              <div class="col-4">
                <base-input>
                  <el-select
                    v-model="tags"
                    clearable
                    filterable
                    placeholder="Pilih Kategori"
                    @change="changePageSize()"
                  >
                    <el-option
                      v-for="option in tagsKategori"
                      :key="option.tag"
                      :label="option.tag"
                      :value="option.tag"
                    ></el-option>
                  </el-select>
                </base-input>
              </div>

              <!-- Select Size Page -->
              <div class="col-2">
                <el-select
                  class="select-primary pagination-select"
                  v-model="paging.size"
                  placeholder="Per page"
                  @change="changePageSize()"
                >
                  <el-option
                    class="select-primary"
                    v-for="item in paging.perPageOptions"
                    :key="item"
                    :label="item"
                    :value="item"
                  ></el-option>
                </el-select>
              </div>
            </div>

            <div>
              <slot>
                <table
                  class="table table-hover-table-stripped thead-light"
                  width="100%"
                >
                  <thead>
                    <tr style="background-color: #f6f9fc">
                      <th>Nama Produk</th>
                      <th>Harga</th>
                      <th>Stok Produk</th>
                      <th>Gambar Produk</th>
                      <th>Aksi</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item, index) in tableData" :key="index">
                      <td>{{ item.name }} </td>
                      <td>Rp. {{ formatPrice(item.price) }} </td>
                      <td>{{ item.stock}} </td>
                      <td>
                        <a v-if="item.images === ''">
                           <img :src="'/no-product.png'" alt="" width="80px" height="80px" />
                        </a> 
                        <a v-else-if="item.images === null">
                           <img :src="'/no-product.png'" alt="" width="80px" height="80px" />
                        </a>
                        <!-- jika image ada isinya (tidak kosong) maka akan tampil image nya -->
                        <a v-else>
                          <img
                            class="card-img-top imageUkuran"
                            :src="
                              `${$axios.defaults.baseURL}main_base/image/get/` + item.images +`/pas`
                            "
                          />
                          
                        </a>
                      </td>
                      <td>
                        <!-- edit data -->
                          <nuxt-link
                            :to="`/pos/product/detail?id=` + item._id"
                          >
                              <el-tooltip content="Detail Produk" placement="top">
                                <base-button size="sm" type="info">
                                  <i class="text-white ni ni-bag-17"></i>
                                </base-button>
                              </el-tooltip>
                          </nuxt-link>
                             
                            &nbsp;&nbsp;

                          <nuxt-link
                            :to="`/pos/product/form?id=` + item._id"
                          >
                              <el-tooltip content="Edit" placement="top">
                                <base-button size="sm" type="warning">
                                  <i class="text-white icon-pencil"></i>
                                </base-button>
                              </el-tooltip>
                          </nuxt-link>
                            
                            &nbsp;&nbsp;

                          <el-tooltip content="Delete" placement="top">
                            <base-button
                              @click.native="handleDelete(index, item)"
                                size="sm"
                                type="danger"
                                class="remove btn-link"
                              >
                              <i class="text-white icon-trash"></i>
                            </base-button>
                          </el-tooltip>

                      </td>
                    </tr>
                  </tbody>
                </table>
              </slot>
            </div>

          </div>

          <div
            slot="footer"
            class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
          >
            <div class>
              <p class="card-category">
                Showing {{ from + 1 }} to {{ to }} of
                {{ paging.totalElements }} entries
              </p>
            </div>
            <ul class="pagination pagination-no-border">
              <li
                class="page-item prev-page"
                :class="{ disabled: paging.page + 1 === 1 }"
              >
                <a class="page-link" aria-label="Previous" @click="prevPage">
                  <span aria-hidden="true">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                  </span>
                </a>
              </li>
              <li
                class="page-item"
                :class="{ active: paging.page + 1 === item }"
                :key="item"
                v-for="item in range(1, paging.totalPages)"
              >
                <a
                  class="page-link"
                  @click="changePage(item)"
                  v-if="Math.abs(item - paging.page) <= 2"
                  >{{ item }}</a
                >
              </li>
              <li
                class="page-item next-page"
                :class="{ disabled: paging.page + 1 === paging.totalPages }"
              >
                <a class="page-link" aria-label="Next" @click="nextPage">
                  <span aria-hidden="true">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </span>
                </a>
              </li>
            </ul>
          </div>

        </card>
      </div>
    </div>
  </div>
</template>

<script>
import { Table, TableColumn, Select, Option } from "element-ui";
import RouteBreadCrumb from "@/components/argon-core/Breadcrumb/RouteBreadcrumb";
import { BasePagination } from "@/components/argon-core";
import clientPaginationMixin from "~/components/tables/PaginatedTables/clientPaginationMixin";
import swal from "sweetalert2";
import users from "~/components/tables/users2";
import Modal from "@/components/argon-core/Modal.vue";
import FileInput from "@/components/argon-core/Inputs/FileInput";
import TagsInput from "@/components/argon-core/Inputs/TagsInput";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";

export default {
  mixins: [clientPaginationMixin],
  // layout: "DashboardLayout",
  components: {
    FileInput,
    TagsInput,
    Modal,
    BasePagination,
    RouteBreadCrumb,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
  },
  data() {
    return {
      tags: "",
      search: {
        customer: "",
        pipeline: "",
      },
      customerOptions: [],
      pipelineOptions: [],
      pipeline: "",
      pipeline_import_excel: "",
      getTags: [],
      files: "",
      file: "",
      modals: {
        classic: false,
        foto: false,
      },
      memberTempData: [],
      tableData: [],
      tableInfo: {},
      tags: "",
      name: "",
      barcode: "",
      selectedRows: [],
      url: "main_store/product/get_by_company/",
      paging: {
        size: 10,
        totalElements: 0,
        totalPages: 0,
        page: 0,
        perPageOptions: [5, 10, 25, 50],
      },
      resp: {
        upload: "",
      },
      tagsKategori: []
    };
  },
  beforeMount() {
    this.getTagsKategori();
    this.getDatas(this.paging.size, this.paging.page);
  },
  computed: {
    to() {
      let highBound = this.from + this.paging.size;

      if (this.paging.totalElements < highBound) {
        highBound = this.paging.totalElements;
      }
      return highBound;
    },
    from() {
      return this.paging.size * this.paging.page;
    },
  },
  methods: {
    getDatas(size, page) {
      // search
      let search = [];
      if (this.name) {
        search.push({ field: "name", key: this.name });
      } else if (this.barcode) {
        search.push({ field: "barcode", key: this.barcode });
      } else if (this.tags) {
        search.push({ field: "tags", key: this.tags });
      }

      this.$axios
        .$post(this.url + this.$store.state.user.company.companyId + "?size=" + size + "&page=" + page, {
          search
        })
        // .$post(this.url + this.$store.state.user.company.companyId + '/' + this.$store.state.user.user.accounts[0].id + "?size=" + size + "&page=" + page, {
        //   search,
        //   tagSearch,
        // })
        .then((response) => {
          this.tableData = response.content;
          this.tableInfo = response;
          this.paging.totalElements = response.totalElements;
          this.paging.totalPages = response.totalPages;
          this.paging.page = page;
          this.paging.size = size;
        });
    },

    openModalClassic() {
      this.pipeline_import_excel = "";
      this.$refs.file.value = null;
      //      this.$refs.importExcel.reset();
      this.file = "";
      this.modals.classic = true;
    },
    
    filesChange() {
      this.file = this.$refs.file.files[0];
    },

    postFileExcel() {
      let formData = new FormData();
        formData.append('file', this.file);
        this.$axios
        .$post('/main_store/product/productUpload/{creatorId}?id=' + this.$store.state.user.user.accounts[0].id,
            formData,
            {
            headers: {
                'Content-Type': 'multipart/form-data',
                "Access-Control-Allow-Origin": "*",
            }
          }
        ).then((response)=>{
          this.$notify({
            message: "Upload Data Telah Berhasil",
            timeout: 5000,
            icon: "ni ni-check-bold",
            type: "success",
          });
          this.getDatas(this.paging.size, this.paging.page);
          this.modals.classic = false;
        })
        .catch((e)=>{
          this.$notify({
            message: "Data Gagal Di Upload",
            timeout: 5000,
            icon: "ni ni-fat-remove",
            type: "danger",
          });
          this.getDatas(this.paging.size, this.paging.page);
        });
    },

    handleDelete(index, row) {
      swal
        .fire({
          title: "Apakah Anda Yakin ?",
          text: `Data yang dihapus tidak dapat dikembalikan`,
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn btn-success btn-fill",
          cancelButtonClass: "btn btn-danger btn-fill",
          confirmButtonText: "Hapus",
          cancelButtonText: "Batal",
          buttonsStyling: false,
        })
        .then((result) => {
          if (result.value) {
            this.deleteRow(row);
          }
        });
    },

    deleteRow(row) {
      this.$axios
        .$delete(`/main_store/product/product/` + row._id)
        .then((user) => {
          this.$notify({
            message: "Data Telah Berhasil Dihapus",
            timeout: 3500,
            icon: "ni ni-check-bold",
            type: "success",
          });
          this.getDatas(this.paging.size, this.paging.page);
        })

        .catch((error) => {
          this.$notify({
            message: "Data Gagal Di Hapus",
            timeout: 3500,
            icon: "ni ni-fat-remove",
            type: "danger",
          });
        });
    },

    formatPrice(value) {
      let val = ((value/1)).toFixed(0).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
    },

    getTagsKategori() {
      this.$axios
        .$get("main_store/product/get_tag")
        .then((response) => {
            this.tagsKategori = response;
        });
    },

    selectionChange(selectedRows) {
      this.selectedRows = selectedRows;
    },
    range(min, max) {
      let arr = [];
      for (let i = min; i <= max; i++) {
        arr.push(i);
      }
      return arr;
    },
    changePage(item) {
      const page = item - 1;
      this.getDatas(this.paging.size, page);
    },
    nextPage() {
      const page = this.paging.page + 1;
      this.getDatas(this.paging.size, page);
    },
    prevPage() {
      const page = this.paging.page - 1;
      this.getDatas(this.paging.size, page);
    },
    changePageSize() {
      const page = this.paging.page;
      this.getDatas(this.paging.size, page);
    },
    templateExcel() {
      window.open(
        "https://drive.google.com/file/d/19yNT_XjfiUbuS_4X9hFItayXLEhW3dF1/view?usp=sharing",
        "_blank"
      );
    },
  },
};
</script>
<style>
.no-border-card .card-footer {
  border-top: 0;
}

.fontvue {
  background-color: red;
}

.imageUkuran {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  /* border-radius: 100px; */
}
</style>
