// Bootstrap functions
@import '~bootstrap/scss/functions';
@import "~bootstrap/scss/mixins";
// Argon functions
@import "custom/functions";
@import "custom/variables";
@import "~bootstrap/scss/variables";
// Argon mixins
@import "custom/mixins";
// Bootstrap components
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";
// Argon components
@import 'custom/components';
@import 'custom/utilities';
@import 'custom/vendors';
@import 'custom/transitions';


* {
    scrollbar-width: thin;
    scrollbar-color: #e7e7e7 white;
  }
  *::-webkit-scrollbar {
    width: 12px;
  }
  *::-webkit-scrollbar-track {
    background: white;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #e7e7e7;
    border-radius: 20px;
    border: 3px solid white;
  }

.form-group{
  margin-bottom: 0.8rem !important;
}
// .form-control {
//   color: black;
// }
.form-control:focus {
  color: black;
}
.required1:after {
  content: " *";
  color: red;
}

.required2:before {
  content: " *";
  color: red;
}
.crm-upload{
 background: #0000a0;
 color: #fff;
}
.crm-upload:hover{
  background: #0000a0;
  color: #fff;
 }
 .crm-update{
   background: #ffae42;
   color: #fff;
 }
 .crm-update:hover{
  background: #ffae42;
  color: #fff;
 }
 .crm-foto{
   background: #8a2be2;
   color: #fff;
 }
 .crm-foto:hover{
  background: #8a2be2;
  color: #fff;
}