<template>
  <div>
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Data FAQ</h6>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <nuxt-link to="/website/website_faq" class="btn btn-neutral btn-sm"
            >Kembali</nuxt-link
          >
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card-wrapper">
            <card>
              <!-- Card header -->
              <h3 slot="header" class="mb-0">Tambah Data</h3>
              <!-- <validation-observer v-slot="{handleSubmit}" ref="formValidator"> -->
              <validation-observer ref="form">
                <form class="needs-validation" @submit.prevent="contentSubmit">
                  <div class="col-md-12">

                    <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Pertanyaan</label
                      >
                      <div class="col-md-7">
                        <textarea
                            v-model="form.question"
                            class="form-control"
                            placeholder="Pertanyaan"
                            rows="3">
                          </textarea>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Jawaban</label
                      >
                      <div class="col-md-7">
                       <textarea
                            v-model="form.answer"
                            class="form-control"
                            placeholder="Jawaban"
                            rows="9">
                          </textarea>
                      </div>
                    </div>

                    <!-- <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Tags</label
                      >
                      <div class="col-md-7">
                        <tags-input v-model="form.tags"></tags-input>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Image</label
                      >
                      <div class="col-md-7">
                        <input
                          type="file"
                          id="image"
                          ref="image"
                          accept="image/*"
                          class="form-control"
                          @change="handleUploadImage()"
                        />
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Deskripsi</label
                      >
                      <div class="col-md-10">
                        <vue-editor v-model="form.description"></vue-editor>
                      </div>
                    </div> -->
                  
                  </div>
                  <base-button type="primary" native-type="submit"
                    >Simpan</base-button
                  >
                  <nuxt-link
                    class="btn btn-warning"
                    to="/website/website_faq"
                    >Batal</nuxt-link
                  >
                </form>
              </validation-observer>
            </card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TagsInput from "@/components/argon-core/Inputs/TagsInput";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
import { Select, Option } from "element-ui";

// Basic Use - Covers most scenarios
import { VueEditor } from "vue2-editor";

export default {

  components: {
    TagsInput,
    [Select.name]: Select,
    [Option.name]: Option,
    VueEditor,
  },

  data() {
    return {
      // tipeOptions: [
      //   {
      //     label: "Visi",
      //     value: "visi",
      //   },
      //   {
      //     label: "Misi",
      //     value: "misi",
      //   },
      //   {
      //     label: "Kontak Kami",
      //     value: "contact_us",
      //   },
      // ],

      validated: false,
      form: {
        // tipe: [],
        question: "",
        answer: "",
        // tags: [],
        // description: "",
        // imageUrl: "",
      },
      doSubmit: true,
      // image: "",
    };
  },
  beforeMount() {
    window.addEventListener("keypress", (e) => {
      if (e.keyCode == 13) {
        this.doSubmit == false;
        e.preventDefault();
        return false;
      }
    });
  },
  methods: {
    // handleUploadImage() {
    //   this.image = this.$refs.image.files[0];
    // },
    async contentSubmit() {
        await this.$refs.form.validate().then((success) => {
          if (!success) {
            return;
          }
            this.$axios
              .$post(`main_web/faq/faq`, this.form)
              .then((response) => {
              this.$notify({
                message:'Data Telah Berhasil Disimpan',
                timeout: 3500,
                icon: 'ni ni-check-bold',
                type: "success",
              });
                this.$router.push("/website/website_faq");
              })
              .catch((e) => {});
        });
    },
  },
};
</script>
