<template>
  <div>
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Status Proses Kartu</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-breadcrumb></route-breadcrumb>
          </nav>
        </div>
      </div>

      <div>
        <div
          class="
            col-12
            d-flex
            justify-content-center justify-content-sm-between
            flex-wrap
          "
        >
          <base-input>
            <el-select
              v-model="search.customer"
              filterable
              placeholder="Pilih Customer Dahulu"
              @change="onChangeCustomer()"
            >
              <el-option
                v-for="option in customerOptions"
                :key="option._id"
                :label="option.perusahaanName"
                :value="option.idAkun"
              ></el-option>
            </el-select>
          </base-input>
          <div class="mt-1">
            <badge type="primary">Status Cetak = {{ this.statusCetak }}</badge>
          </div>
          <!-- <base-input>
                         Status Cetak {{this.statusCetak}}
                         </base-input> -->
        </div>
      </div>
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-md-6">
          <stats-card
            title="Jumlah Siswa"
            type="gradient-red"
            sub-title=""
            icon="ni ni-active-40"
          >
            <template>
              <div>
                <span>Jumlah Siswa</span>
              </div>
            </template>
            <template>
              <div>
                <h1>
                  <b>{{ this.rekapData.totalMember }}</b>
                </h1>
              </div>
            </template>
          </stats-card>
        </div>
        <div class="col-xl-3 col-md-6">
          <stats-card
            title="Total traffic"
            type="gradient-orange"
            sub-title=""
            icon="ni ni-chart-pie-35"
          >
            <template>
              <div>
                <span>Jumlah Ter-Validasi</span>
              </div>
            </template>
            <template>
              <div v-if="this.rekapData.totalIsApprove == null">
                <h1><b>0</b></h1>
              </div>
              <div v-else>
                <h1>
                  <b>{{ this.rekapData.totalIsApprove.count }}</b>
                </h1>
              </div>
            </template>
          </stats-card>
        </div>
        <!-- <div class="col-xl-3 col-md-6">
                     <stats-card
                     title="Sales"
                     type="gradient-green"
                     sub-title="924"
                     icon="ni ni-money-coins"
                     >
                     <template slot="footer">
                     <span class="text-danger mr-2"
                     ><i class="fa fa-arrow-down"></i> 5.72%</span
                     >
                     <span class="text-nowrap">Since last month</span>
                     </template>
                     </stats-card>
                     </div>
                     <div class="col-xl-3 col-md-6">
                     <stats-card
                     title="Performance"
                     type="gradient-info"
                     sub-title="49,65%"
                     icon="ni ni-chart-bar-32"
                     >
                     <template slot="footer">
                     <span class="text-success mr-2"
                     ><i class="fa fa-arrow-up"></i> 54.8%</span
                     >
                     <span class="text-nowrap">Since last month</span>
                     </template>
                     </stats-card>
                     </div> -->
      </div>
    </base-header>

    <!--Charts-->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-8">
          <card header-classes="bg-transparent">
            <div slot="header" class="row align-items-center">
              <div class="col">
                <h6 class="text-black text-uppercase ls-1 mb-1">Status</h6>
                <h5 class="h3 text-black mb-0">Kartu</h5>
              </div>
              <!-- <div class="col">
                                 <ul class="nav nav-pills justify-content-end">
                                 <li class="nav-item mr-2 mr-md-0">
                                 <a
                                 class="nav-link py-2 px-3"
                                 href="#"
                                 :class="{ active: bigLineChart.activeIndex === 0 }"
                                 @click.prevent="initBigChart(0)"
                                 >
                                 <span class="d-none d-md-block">Month</span>
                                 <span class="d-md-none">M</span>
                                 </a>
                                 </li>
                                 <li class="nav-item">
                                 <a
                                 class="nav-link py-2 px-3"
                                 href="#"
                                 :class="{ active: bigLineChart.activeIndex === 1 }"
                                 @click.prevent="initBigChart(1)"
                                 >
                                 <span class="d-none d-md-block">Week</span>
                                 <span class="d-md-none">W</span>
                                 </a>
                                 </li>
                                 </ul>
                                 </div> -->
            </div>
            <!-- <line-chart
                             :height="350"
                             ref="bigChart"
                             :chart-data="bigLineChart.chartData"
                             :extra-options="bigLineChart.extraOptions"
                             >
                             </line-chart> -->
            <div class="row">
              <div class="col-xl-4 col-md-4">
                <h3 class="text-black mt-1"><b>{{this.statusCetak }}</b></h3>
              </div>
              <div class="col-xl-4 col-md-4">
                <base-input>
                  <el-select
                    v-model="search.customer"
                    filterable
                    placeholder="Pilih Customer Dahulu"
                    @change="onChangeCustomer()"
                  >
                    <el-option
                      v-for="option in customerOptions"
                      :key="option._id"
                      :label="option.perusahaanName"
                      :value="option.idAkun"
                    ></el-option>
                  </el-select>
                </base-input>
              </div>
              <div class="col-xl-2 col-md-2">
                <base-button> Ubah </base-button>
              </div>
            </div>
          </card>
        </div>

        <div class="col-xl-4">
          <card header-classes="bg-transparent">
            <div slot="header" class="row align-items-center">
              <div class="col">
                <!-- <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
                <h5 class="h3 mb-0">Total orders</h5> -->
              </div>
            </div>

            <!-- <bar-chart
                             :height="350"
                             ref="barChart"
                             :chart-data="redBarChart.chartData"
                             >
                             </bar-chart> -->
          </card>
        </div>
      </div>
      <!-- End charts-->

      <!-- Lists -->
      <!-- <div class="row">
                 <div class="col-xl-4">
                 <card>
                 <h5 class="h3 mb-0" slot="header">Team members</h5>

                 <user-list></user-list>
                 </card>
                 </div>

                 <div class="col-xl-4">
                 <card>
                 <h5 class="h3 mb-0" slot="header">To do list</h5>

                 <task-list></task-list>
                 </card>
                 </div>

                 <div class="col-xl-4">
                 <card>
                 <h5 class="h3 mb-0" slot="header">Progress track</h5>

                 <progress-track-list></progress-track-list>
                 </card>
                 </div>
                 </div> -->

      <!-- <div class="row">
                 <div class="col-xl-5">
                 <activity-feed></activity-feed>
                 </div>
                 <div class="col-xl-7">
                 <light-table></light-table>
                 <div class="card-deck">
                 <card gradient="default" no-body="">
                 <div class="card-body">
                 <div class="mb-2">
                 <sup class="text-white">$</sup> <span class="h2 text-white">3,300</span>
                 <div class="text-light mt-2 text-sm">Your current balance</div>
                 <div>
                 <span class="text-success font-weight-600">+ 15%</span> <span class="text-light">($250)</span>
                 </div>
                 </div>
                 <button class="btn btn-sm btn-block btn-neutral">Add credit</button>
                 </div>

                 <div class="card-body">
                 <div class="row">
                 <div class="col">
                 <small class="text-light">Orders: 60%</small>
                 <base-progress :value="60"
                 size="xs"
                 progress-classes="my-2"
                 type="success"/>
                 </div>
                 <div class="col">
                 <small class="text-light">Sales: 40%</small>
                 <base-progress :value="40"
                 size="xs"
                 progress-classes="my-2"
                 type="warning"/>
                 </div>
                 </div>
                 </div>

                 </card>

                 <card gradient="danger">

                 <div class="row justify-content-between align-items-center">
                 <div class="col">
                 <img src="~/static/img/icons/cards/bitcoin.png" alt="Image placeholder">
                 </div>
                 <div class="col-auto">
                 <span class="badge badge-lg badge-success">Active</span>
                 </div>
                 </div>
                 <div class="my-4">
                 <span class="h6 surtitle text-light">
                 Username
                 </span>
                 <div class="h1 text-white">@johnsnow</div>
                 </div>
                 <div class="row">
                 <div class="col">
                 <span class="h6 surtitle text-light">Name</span>
                 <span class="d-block h3 text-white">John Snow</span>
                 </div>
                 </div>

                 </card>
                 </div>
                 </div>
                 </div> -->
      <!--End Widgets-->

      <!--Tables-->
      <!-- <div class="row">
                 <div class="col-xl-8">
                 <page-visits-table></page-visits-table>
                 </div>
                 <div class="col-xl-4">
                 <social-traffic-table></social-traffic-table>
                 </div>
                 </div> -->
      <!--End tables-->
    </div>
  </div>
</template>
<script>
// Charts
import * as chartConfigs from "@/components/argon-core/Charts/config";
import LineChart from "@/components/argon-core/Charts/LineChart";
import BarChart from "@/components/argon-core/Charts/BarChart";

// Components
import BaseProgress from "@/components/argon-core/BaseProgress";
import RouteBreadCrumb from "@/components/argon-core/Breadcrumb/RouteBreadcrumb";
import StatsCard from "@/components/argon-core/Cards/StatsCard";

// Lists
import ActivityFeed from "@/components/pages/dashboard/ActivityFeed.vue";
import TaskList from "@/components/pages/dashboard/TaskList.vue";
import UserList from "@/components/pages/dashboard/UserList.vue";
import ProgressTrackList from "@/components/pages/dashboard/ProgressTrackList.vue";

// Tables
import LightTable from "@/components/pages/dashboard/LightTable.vue";
import SocialTrafficTable from "@/components/pages/dashboard/SocialTrafficTable.vue";
import PageVisitsTable from "@/components/pages/dashboard/PageVisitsTable.vue";

import Modal from "@/components/argon-core/Modal.vue";
import { Table, TableColumn, Select, Option } from "element-ui";
import { BasePagination } from "@/components/argon-core";
import clientPaginationMixin from "~/components/tables/PaginatedTables/clientPaginationMixin";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
import Multiselect from "vue-multiselect";
import moment from "moment";
import TagsInput from "@/components/argon-core/Inputs/TagsInput";
import flatPickr from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";
import { Indonesian } from "flatpickr/dist/l10n/id.js";
import FileInput from "@/components/argon-core/Inputs/FileInput";
import BaseButton from "../../../components/argon-core/BaseButton.vue";

export default {
  mixins: [clientPaginationMixin],
  components: {
    ActivityFeed,
    LineChart,
    BarChart,
    BaseProgress,
    RouteBreadCrumb,
    StatsCard,
    TaskList,
    PageVisitsTable,
    SocialTrafficTable,
    LightTable,
    UserList,
    ProgressTrackList,
    Modal,
    FileInput,
    BasePagination,
    [Select.name]: Select,
    [Option.name]: Option,
    Multiselect,
    TagsInput,
    flatPickr,
    BaseButton,
  },
  data() {
    return {
      rekapData: {
        totalMember: "",
        totalIsApprove: "",
      },
      redBarChart: {
        chartData: {
          labels: [
            "Jan",
            "Feb",
            "Mar",
            "Apr",
            "May",
            "Jun",
            "Jul",
            "Aug",
            "Sep",
            "Oct",
            "Nov",
            "Dec",
          ],
          datasets: [
            {
              label: "Sales",
              data: [25, 20, 30, 22, 17, 29],
            },
          ],
        },
      },
      search: {
        customer: "",
        pipeline: "",
        foto: "",
        print: "",
        validasi: "",
        statuskartu:"",
      },
      customerOptions: [],
      fotoOptions: [],
      pipelineOptions: [],
      datakartu: {
        // number: "",
        name: "",
        number: "",
        number2: "",
        kelas: "",
        placeOfBirth: "",
        dateOfBirth: null,
        address: "",
        id_: "",
        isApprove: null,
        tags: [],
      },
      tags: [],
      number: null,
      name: null,
      infokartu: [],
      tagsOptions: [],
      statusCetakOptions:[
          "Pengumpulan Data & Foto",
          "Verifikasi Data & Desain",
          "Pembayaran",
          "Generate - Antrian",
          "Generate - Sedang Proses",
          "Generate - Revisi",
          "Generate - Antrian",
          "Cetak Kartu - Antrian",
          "Cetak Kartu - Proses Cetak",
          "QC & Mapping - Proses",
          "Pengiriman"
      ],
      datas: [],
      files: "",
      file0: "",
      modals: {
        classic: false,
        editUploadFoto: false,
      },
      selectedRows: [],
      selected: "",
      config: {
        dateFormat: "d-m-Y",
        locale: Indonesian,
        // altFormat: 'j M Y',
        // altInput: true,
      },
      idAkun: "",
      statusCetak: "",
    };
  },
  beforeMount() {
    this.getCustomer();
    swal.fire({
      title: "Preview Member",
      text: `Silahkan Pilih Customer Terlebih Dahulu`,
      type: "success",
      confirmButtonClass: "btn btn-success btn-fill",
      buttonsStyling: false,
    });
  },

  methods: {
    // initBigChart(index) {
    //     let chartData = {
    //         datasets: [
    //             {
    //                 label: "Performance",
    //                 data: this.bigLineChart.allData[index],
    //             },
    //         ],
    //         labels: [
    //             "Jan",
    //             "Feb",
    //             "Mar",
    //             "Apr",
    //             "May",
    //             "Jun",
    //             "Jul",
    //             "Aug",
    //             "Sep",
    //             "Oct",
    //             "Nov",
    //             "Dec",
    //         ],
    //     };
    //     this.bigLineChart.chartData = chartData;
    //     this.bigLineChart.activeIndex = index;
    // },

    // getDatas(size, page, photoStatus = "", isPrint = "", isApprove = "") {
    //   let search = [];
    //   let defaultBool = [];
    //   // search.push({ field: "customerId", key: this.search.customer });
    //   // search.push({ field: "pipelineProcessId", key: this.search.pipeline });
    //   defaultBool.push({ field: "isApprove", key: this.search.validasi });
    //   defaultBool.push({ field: "photoStatus", key: this.search.foto });
    //   defaultBool.push({ field: "isPrint", key: this.search.print });
    //   if (this.number) {
    //     search.push({
    //       field: "number",
    //       key: this.number,
    //     });
    //     // } else if (this.paging.photoStatus) {
    //     //   search.push({
    //     //     field: "photoStatus",
    //     //     key: this.paging.photoStatus
    //     //   });
    //     // } else if (this.paging.isPrint) {
    //     //   search.push({
    //     //     field: "isPrint",
    //     //     key: this.paging.isPrint
    //     //   });
    //   }

    //   // // search tag
    //   let tagSearch = [];
    //   if (this.tags.length > 0) {
    //     tagSearch.push({ field: "tags", key: this.tags });
    //   }

    //   this.$axios
    //     .$post(
    //       `main_base/member_temp/get_by_pelanggan/` +
    //         this.search.customer +
    //         // "?photoStatus=" +
    //         // this.paging.photoStatus +
    //         // "&isPrint=" +
    //         // this.paging.isPrint +
    //         "?size=" +
    //         size +
    //         "&page=" +
    //         page,
    //       { search, tagSearch, defaultBool }
    //     )
    //     .then((response) => {
    //       this.datas = response.content;
    //       this.paging.totalElements = response.totalElements;
    //       this.paging.totalPages = response.totalPages;
    //       this.paging.page = page;
    //       this.paging.size = size;
    //     });
    // },
    // getTags() {
    //   this.$axios
    //     .$get(`main_base/member_temp/get_tag/` + this.search.customer)
    //     .then((response) => {
    //       this.tagsOptions = response;
    //       // console.log(response);
    //     });
    // },
    // refreshTags() {
    //   this.$axios.$get("main_base/member_temp/refresh_tag").then((response) => {
    //     this.getTags();
    //     // this.getTags = response;
    //   });
    // },
    rekapDataCek() {
      this.$axios
        .$get(`main_base/member_temp/rekap_data?id=${this.search.customer}`)
        .then((response) => {
          // console.log(response);
          this.rekapData.totalMember = response.totalMember;
          this.rekapData.totalIsApprove = response.listIsApprove.find(
            (x) => x._id == true
          );
          // console.log(this.rekapData.totalIsApprove.count)
        });
    },

    getStatusCetak() {
      this.$axios
        .$get(
          `main_base/pelanggan/get_status_cetak_pelanggan/${this.search.customer}`
        )
        .then((response) => {
          // console.log(response);
          this.statusCetak = response.statusProsesCetak;
        });
    },
    getCustomer() {
      this.$axios
        .$get("main_base/pelanggan/get_combo_pelanggan")
        .then((response) => {
          // console.log(response);
          this.customerOptions = response;
          this.idAkun = response.idAkun;
          this.id = response._id;

          // if (response) {
          //   if (response.length == 1) {
          //     this.search.customer = response[0].id_;
          //     this.getDatas(
          //       this.paging.size,
          //       this.paging.page,
          //       this.paging.fotoStatus,
          //       this.paging.isPrint
          //     );
          //     this.getPipeline();
          //     this.getTags();
          //   } else if (response.length > 1) {
          //     var customerId = this.$store.state.customer.customerId;
          //     if (customerId != "") {
          //       this.search.customer = customerId;
          //     }
          //     this.getDatas(
          //       this.paging.size,
          //       this.paging.page,
          //       this.paging.fotoStatus,
          //       this.paging.isPrint
          //     );
          //     this.getPipeline();
          //     this.getTags();
          //   }
          // }
        });
    },

    onChangeCustomer() {
      this.$store.commit("customer/SET_CUSTOMER_ID", this.search.customer);
      this.getStatusCetak();
      this.rekapDataCek();
    },
    selectionChange(selectedRows) {
      this.selectedRows = selectedRows;
    },
    range(min, max) {
      let arr = [];
      for (let i = min; i <= max; i++) {
        arr.push(i);
      }
      return arr;
    },
  },

  // mounted() {
  //   this.initBigChart(0);
  // },
};
</script>
<style></style>
