<template><div class="content"><base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">{{$route.name}}</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-breadcrumb />
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right"></div>
      </div>
    </base-header><div class="container-fluid mt--6">
      <div>
        <card class="no-border-card" body-classes="px-0 pb-1" footer-classes="pb-2">
          <template slot="header">
            <h3 class="mb-0">Createdata_faq_office2</h3>
            <p class="text-sm mb-0">data_faq_office2</p>
          </template>
          <div><validation-observer ref="form"><form class="needs-validation" @submit.prevent="firstFormSubmit"><div class="col-md-8"></div></form></validation-observer></div></card>
          </div>
    </div></div></template>
<script>
import TagsInput from "@/components/argon-core/Inputs/TagsInput";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
import { Select, Option } from "element-ui";
export default{
components: {
                TagsInput,
                RouteBreadCrumb,
                [Select.name]: Select,
                [Option.name]: Option,
            },
data() {
                return {
                form: ,{},validated : false,doSubmit : true,}},
beforeMount() {
                window.addEventListener("keypress", (e) => {
                    if (e.keyCode == 13) {
                    this.doSubmit == false;
                    e.preventDefault();
                    return false;
                    }
                });this.$axios
                .$get(`/main_a/faq/faq/${this.$route.params.id}`)
                .then((response) => { });},
methods: {
            async firstFormSubmit() {
            if(this.doSubmit){
                if(this.form.id == ""){
                    this.$refs.form.validate().then((success) => {
                        if (!success) {
                        return;
                        }
                        
                        this.$axios
                        .$post(`/main_a/faq/faq`, this.form)
                        .then((response) => {
                            swal.fire({
                            title: `Success`,
                            text: "A few words about this sweet alert ...",
                            buttonsStyling: false,
                            confirmButtonClass: "btn btn-success",
                            type: "success",
                            });
                            this.$router.push("/data_faq_office2");
                        })
                        .catch((e) => {});
                    });
                }else{
                    this.$refs.form.validate().then((success) => {
                        if (!success) {
                        return;
                        }
                        
                        this.$axios
                        .$put(`/main_a/faq/faq/${this.$route.params.id}`, this.form)
                        .then((response) => {
                            swal.fire({
                            title: `Success`,
                            text: "A few words about this sweet alert ...",
                            buttonsStyling: false,
                            confirmButtonClass: "btn btn-success",
                            type: "success",
                            });
                            this.$router.push("/data_faq_office2");
                        })
                        .catch((e) => {});
                    });
                }
            }
            },}
};</script>