<template>
  <div>
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Info PPDB</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-breadcrumb />
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <!-- <base-button size="sm" type="neutral">New</base-button> -->
          <nuxt-link to="/crm_ppdb/settingInfo" class="btn btn-neutral btn-sm"
            >Kembali</nuxt-link
          >
          <!-- <base-button size="sm" type="neutral">Filters</base-button> -->
        </div>
      </div>
    </base-header>
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card-wrapper">
            <card>
              <!-- Card header -->
              <h3 slot="header" class="mb-0">Tambah Informasi PPDB</h3>
              <!-- <validation-observer v-slot="{handleSubmit}" ref="formValidator"> -->
              <validation-observer ref="form">
                <form
                  class="needs-validation"
                  @submit.prevent="dataBeritaFormSubmit"
                >
                  <div class="col-md-12">
                    <!--<div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label"
                        >Tanggal</label
                      >
                      <div class="col-md-9">
                        <base-input
                          name="createTime"
                          placeholder="Tanggal"
                          success-message="Looks good!"
                          rules="required"
                          v-model="form.createTime"
                          type="datetime-local"
                        ></base-input>
                      </div>
                    </div> -->
                    <div class="form-group row mb-3">
                      <label class="col-md-3 col-form-label form-control-label"
                        >Judul Info PPDB</label
                      >
                      <div class="col-md-9">
                        <base-input
                          name="title"
                          placeholder="Masukkan Judul Info PPDB"
                          rules="required"
                          v-model="form.title"
                        ></base-input>

                        <a
                          style="color: red; font-weight: 500; font-size: 13px"
                          v-if="this.form.title === ''"
                        >
                          {{ this.errors1.title }}
                        </a>
                      </div>
                    </div>
                    <!-- <div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label"
                        >Sub Info</label
                      >
                      <div class="col-md-9">
                        <base-input
                          name="subtitle"
                          placeholder="Sub Info"
                          success-message="Looks good!"
                          rules="required"
                          v-model="form.subtitle"
                        ></base-input>
                      </div>
                    </div> -->
                    <!-- <div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label">Tags</label>
                      <div class="col-md-9">
                        <tags-input v-model="form.tags" placeholder="Tambah Tags"></tags-input>
                      </div>
                    </div> -->
                    <!-- <div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label">
                        Keterangan</label
                      >
                      <div class="col-md-9">
                        <textarea
                          class="form-control"
                          name="description"
                          placeholder="Keterangan"
                          success-message="Looks good!"
                          rules="required"
                          v-model="form.description"
                          rows="4"
                        ></textarea>
                      </div>
                    </div>  -->
                    <div class="form-group row mt-4">
                      <label class="col-md-3 col-form-label form-control-label">
                        Isi Info PPDB</label
                      >
                      <div class="col-md-9">
                        <vue-editor
                          v-model="form.description"
                          placeholder="Masukkan Isi Informasi PPDB"
                          rules="required"
                        >
                        </vue-editor>

                        <a
                          style="color: red; font-weight: 500; font-size: 13px"
                          v-if="this.form.description === ''"
                        >
                          {{ this.errors1.description }}
                        </a>
                      </div>
                    </div>
                  </div>
                  <nuxt-link class="btn btn-warning" to="/crm_ppdb/settingInfo"
                    >Batal</nuxt-link
                  >
                  <base-button type="primary" native-type="submit"
                    >Simpan</base-button
                  >
                </form>
              </validation-observer>
            </card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import TagsInput from "@/components/argon-core/Inputs/TagsInput";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";
import { VueEditor } from "vue2-editor";

export default {
  name: "dataBeritaForm",
  components: {
    TagsInput,
    Loading,
    TagsInput,
    flatPicker,
    VueEditor,
  },
  data() {
    return {
      validated: false,
      loading: false,
      form: {
        title: "",
        tags: ["PPDB"],
        description: "",
      },
      errors1: {
        title: "",
        tags: ["PPDB"],
        description: "",
      },
      doSubmit: true,
    };
  },
  beforeMount() {
    window.addEventListener("keypress", (e) => {
      if (e.keyCode == 13) {
        this.doSubmit == false;
        e.preventDefault();
        return false;
      }
    });
  },
  methods: {
    async dataBeritaFormSubmit() {
      if (this.doSubmit) {
        let loader = this.$loading.show(); // manggil loading

        if (this.form.title === "" || this.form.description === "") {
          this.errors1.title = "Judul Info PPDB Harus Diisi";
          this.errors1.description = "Isi Info PPDB Harus Diisi";
          loader.hide(); // hide loading

          this.$notify({
            message: "Data Belum Lengkap",
            timeout: 3500,
            icon: "ni ni-fat-remove",
            type: "danger",
          });
        } else {
          this.$axios
            .$post(`main_base/info/info`, this.form)
            .then((response) => {
              loader.hide(); // hide loading
              this.$notify({
                message: "Data Telah Berhasil Disimpan",
                timeout: 3500,
                icon: "ni ni-check-bold",
                type: "success",
              });
              this.$router.push("/crm_ppdb/settingInfo");
            })
            .catch((e) => {
              loader.hide(); // hide loading
              this.$notify({
                message: "Data Gagal Tersimpan",
                timeout: 3500,
                icon: "ni ni-check-bold",
                type: "success",
              });
            });
        }
      }
    },
  },
};
</script>
