<template>
  <div class="content">

    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Data History Transaksi</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-bread-crumb></route-bread-crumb>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          
        </div>
      </div>
    </base-header>

    <!--Classic modal-->
    <modal backdrop="static" :show.sync="modals.detail">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <b>
            <center>
              Detail Transaksi
            </center>
          </b>
        </div>
        <div class="col-md-2"></div>
      </div>

      <br />

      <!-- disini tabel detail transaksi -->

      <div>
        <slot>
          <table
            class="table table-hover-table-stripped thead-light"
            width="100%"
          >
            <thead>
              <tr style="background-color: #f6f9fc">
                <th>Tanggal</th>
                <th>Jumlah Order</th>
                <!-- <th>Total Harga</th> -->
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in productOrder" :key="index">
                <td>{{ item.createTime | moment("DD-MMM-YYYY, h:mm:ss") }}</td> 
                <td>{{ item.jumlahOrder }}</td>
                <!-- <td>Rp. {{ formatPrice(item.totalPrice) }} </td> -->
              </tr>
            </tbody>
          </table>
        </slot>
      </div>

      <div class="row">
        <base-button
          type="warning"
          class="ml-auto"
          @click="modals.detail = false"
          >Kembali</base-button
        >
      </div>

    </modal>


    <div class="container-fluid mt--6">
      <div>
        <card
          class="no-border-card"
          body-classes="px-0 pb-1"
          footer-classes="pb-2"
        >
          <template slot="header">
            <h3 class="mb-0">Data History Transaksi</h3>
            <p class="text-sm mb-0">Manajemen Data History Transaksi</p>
          </template>
          <div>
            <div class="row mt--3 mb-2">
            </div>
            <!-- Seaching -->
            <div class="row mt--2 mb--2">
              <!-- search company name -->
              <div class="col-3">
                <div>
                  <base-input 
                    type="datetime-local" 
                    v-model="date_start" 
                  />
                </div>
              </div>
              <!-- search pic name -->
              <div class="col-3">
                <div>
                  <base-input 
                    type="datetime-local" 
                    v-model="date_end" 
                  />
                </div>
              </div>

              <!-- search  -->
              <div class="col-2">
                <base-button
                    type="success"
                    class="btn btn-md"
                    @click="getFilter()"
                >
                    Filter
                </base-button>
              </div>

              <div class="col-2">

              </div>

              <!-- Select Size Page -->
              <div class="col-2">
                
              </div>
            </div>

            <div>
              <slot>
                <table
                  class="table table-hover-table-stripped thead-light"
                  width="100%"
                >
                  <thead>
                    <tr style="background-color: #f6f9fc">
                      <th>Tanggal</th>
                      <th>Total Produk</th>
                      <th>Total Harga</th>
                      <th>Aksi</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item, index) in tableData" :key="index">
                      <td>{{ item.createTime | moment("DD-MMM-YYYY, h:mm:ss") }}</td> 
                      <td>{{ item.totalItem }}</td>
                      <td>Rp. {{ formatPrice(item.totalPrice) }} </td>
                     
                      <td>
                        <el-tooltip content="Detail Transaksi" placement="top">
                          <base-button
                            @click="detailModal(item)"
                            size="sm"
                            type="info"
                          >
                            <i class="text-white ni ni-bag-17"></i>
                          </base-button>
                        </el-tooltip>
                      </td>

                    </tr>
                  </tbody>
                </table>
              </slot>
            </div>

          </div>

          <div
            slot="footer"
            class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
          >
            <div class>
              <p class="card-category">
                Showing {{ from + 1 }} to {{ to }} of
                {{ paging.totalElements }} entries
              </p>
            </div>
            <ul class="pagination pagination-no-border">
              <li
                class="page-item prev-page"
                :class="{ disabled: paging.page + 1 === 1 }"
              >
                <a class="page-link" aria-label="Previous" @click="prevPage">
                  <span aria-hidden="true">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                  </span>
                </a>
              </li>

              <li
                class="page-item"
                :class="{ active: paging.page + 1 === item }"
                :key="item"
                v-for="item in range(1, paging.totalPage)"
              >
                <a
                  class="page-link"
                  @click="changePage(item)"
                  v-if="Math.abs(item - paging.page) <= 2"
                  >{{ item }}</a
                >
              </li>

              <li
                class="page-item next-page"
                :class="{ disabled: paging.page + 1 === paging.totalPage }"
              >
                <a class="page-link" aria-label="Next" @click="nextPage">
                  <span aria-hidden="true">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </span>
                </a>
              </li>
            </ul>
          </div>

        </card>
      </div>
    </div>
  </div>
</template>

<script>
import { Table, TableColumn, Select, Option } from "element-ui";
import RouteBreadCrumb from "@/components/argon-core/Breadcrumb/RouteBreadcrumb";
import { BasePagination } from "@/components/argon-core";
import clientPaginationMixin from "~/components/tables/PaginatedTables/clientPaginationMixin";
import swal from "sweetalert2";
import users from "~/components/tables/users2";
import Modal from "@/components/argon-core/Modal.vue";
import FileInput from "@/components/argon-core/Inputs/FileInput";
import TagsInput from "@/components/argon-core/Inputs/TagsInput";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";

export default {
  mixins: [clientPaginationMixin],
  // layout: "DashboardLayout",
  components: {
    FileInput,
    TagsInput,
    Modal,
    BasePagination,
    RouteBreadCrumb,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
  },
  data() {
    return {
      search: {
        customer: "",
        pipeline: "",
      },
      customerOptions: [],
      pipelineOptions: [],
      getTags: [],
      modals: {
        classic: false,
        foto: false,
        detail: false,
      },
      memberTempData: [],
      tableData: [],
      tableInfo: {},
      tags: "",
      name: "",
      barcode: "",
      selectedRows: [],
      url: "main_store/pos/history_transaksi",
      paging: {
        size: 10,
        totalElements: 0,
        totalPage: 0,
        page: 0,
        perPageOptions: [5, 10, 25, 50],
      },
      resp: {
        upload: "",
      },
      date_start: "",
      date_end: "",

      productOrder: "",
    };
  },
  beforeMount() {
    this.getDatas(this.paging.size, this.paging.page);
  },
  computed: {
    to() {
      let highBound = this.from + this.paging.size;

      if (this.paging.totalElements < highBound) {
        highBound = this.paging.totalElements;
      }
      return highBound;
    },
    from() {
      return this.paging.size * this.paging.page;
    },
  },
  methods: {
    getDatas(size, page) {
      this.$axios
        .$get(this.url + "?date_start=" + this.date_start + "&date_end=" + this.date_end + "&size=" + size + "&page=" + page)
        .then((response) => {
          this.tableData = response.data;
          this.paging.totalElements = response.total;
          this.paging.totalPage = response.totalPage;
          this.paging.page = response.page;
          this.paging.size = response.size;
        });
    },

    detailModal(item){
      this.productOrder = item.productOrder;
      this.modals.detail = true;

      console.log("cek detail = " + item)
    },

    getFilter(){
      this.getDatas(this.paging.size, this.paging.page)
    },

    formatPrice(value) {
      let val = ((value/1)).toFixed(0).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
    },

    selectionChange(selectedRows) {
      this.selectedRows = selectedRows;
    },
    range(min, max) {
      let arr = [];
      for (let i = min; i <= max; i++) {
        arr.push(i);
      }
      return arr;
    },
    changePage(item) {
      const page = item - 1;
      this.getDatas(this.paging.size, page);
    },
    nextPage() {
      const page = this.paging.page + 1;
      this.getDatas(this.paging.size, page);
    },
    prevPage() {
      const page = this.paging.page - 1;
      this.getDatas(this.paging.size, page);
    },
    changePageSize() {
      this.getDatas(this.paging.size, this.paging.page);
    },

  },
};
</script>
<style>
.no-border-card .card-footer {
  border-top: 0;
}

.fontvue {
  background-color: red;
}

.imageUkuran {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  /* border-radius: 100px; */
}
</style>
