<template>
  <div>
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <!-- <h6 class="h2 text-white d-inline-block mb-0">{{$route.name}}</h6> -->
          <h6 class="h2 text-white d-inline-block mb-0">Data Home</h6>
          <!-- <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-breadcrumb />
          </nav> -->
        </div>
        <div class="col-lg-6 col-5 text-right">
          <nuxt-link to="/website/website_home" class="btn btn-neutral btn-sm"
            >Kembali</nuxt-link
          >
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card-wrapper">
            <card>
              <!-- Card header -->
              <h3 slot="header" class="mb-0">Edit Data</h3>
              <validation-observer
                v-slot="{ handleSubmit }"
                ref="formValidator"
              >
                <form
                  class="needs-validation"
                  @submit.prevent="handleSubmit(updateDataHome)"
                >
                  <div class="col-md-12">
                  
                     <!-- <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Tipe</label
                      >
                      <div class="col-md-3">
                        <base-input>
                          <el-select
                            v-model="form.webName"
                            placeholder="Pilih Tipe"
                          >
                            <el-option
                              v-for="option in tipeOptions"
                              :key="option.label"
                              :label="option.label"
                              :value="option.value"
                            ></el-option>
                          </el-select>
                        </base-input>
                      </div>
                    </div> -->

                    <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Judul</label
                      >
                      <div class="col-md-7">
                        <base-input
                          name="title"
                          placeholder="Judul"
                          success-message="Looks good!"
                          rules="required"
                          v-model="form.webName"
                        ></base-input>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Running Text</label
                      >
					            <div class="col-md-7">
                        <base-input>
                          <textarea
                            v-model="form.headTitle"
                            class="form-control"
                            placeholder="Running Text"
                            rows="5">
                          </textarea>
                        </base-input>
                      </div>
                    </div>

					          <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Jumlah Siswa TK</label
                      >
                      <div class="col-md-2">
                        <base-input
						              type="number"
                          name="jmlSiswaTk"
                          placeholder="12"
                          
                          v-model="form.jmlSiswaTk"
                        ></base-input>
                      </div>
                    </div>

					          <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Jumlah Siswa SD</label
                      >
                      <div class="col-md-2">
                        <base-input
						              type="number"
                          name="jmlSiswaSD"
                          placeholder="12"
                          
                          v-model="form.jmlSiswaSD"
                        ></base-input>
                      </div>
                    </div>

					          <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Jumlah Siswa SMP</label
                      >
                      <div class="col-md-2">
                        <base-input
						              type="number"
                          name="jmlSiswaSmp"
                          placeholder="12"
                          
                          v-model="form.jmlSiswaSmp"
                        ></base-input>
                      </div>
                    </div>

					          <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Jumlah Siswa SMA</label
                      >
                      <div class="col-md-2">
                        <base-input
						              type="number"
                          name="jmlSiswaSma"
                          placeholder="12"
                          
                          v-model="form.jmlSiswaSma"
                        ></base-input>
                      </div>
                    </div>

                    <!-- <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label bold"
                        >Contact</label
                      >
                    </div> -->
                    <div class="form-group row">
                      <h4 class="mb-0">Contact</h4>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <base-input
                          type="tel"
                          label="No. Telp" 
                          name="phone"
                          placeholder="(012) 3456 7890"
                          v-model="form.contact.phone"/>
                      </div>
                      <div class="col-md-6">
                        <base-input label="Alamat">
                          <textarea
                            name="address"
                            class="form-control"
                            placeholder="Alamat"
                            v-model="form.contact.address" 
                            rows="3"></textarea>
                        </base-input> 
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <base-input
                          type="email"
                          name="email"
                          label="E-mail"
                          v-model="form.contact.email"
                          placeholder="example@example.com"/>
                      </div>
                      <div class="col-md-6">
                          <base-input
                          name="whatsapp"
                          label="Whatsapp"
                          v-model="form.contact.whatsapp"
                          placeholder="0123456789"/>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <base-input 
                          name="instagram"
                          label="Instagram" 
                          v-model="form.contact.instagram"
                          placeholder="username_instagram"/>
                      </div>
                      <div class="col-md-6">
                        <base-input 
                          name="facebook"
                          label="Facebook"
                          v-model="form.contact.facebook"
                          placeholder="username_facebook"/>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <base-input
                          name="twitter"
                          label="Twitter"
                          v-model="form.contact.twitter"
                          placeholder="username_twitter"/>
                      </div>
                      <div class="col-md-6">
                        <base-input
                          name="youtube"
                          label="Youtube"
                          v-model="form.contact.youtube"
                          placeholder="nama channel youtube"/>
                      </div>
                    </div>

                    <!-- <div class="row">
                      <div class="col-md-6" v-if="form.webName == 'Utama'">
                        <base-input
                          name="ppdbLink"
                          label="Link PPDB"
                          v-model="form.ppdbLink"
                          placeholder="https://www.example.com"/>
                      </div>
                      
                    </div> -->
                    <br>
                    <br>

                  </div>
                  <base-button type="primary" native-type="submit"
                    >Simpan</base-button
                  >
                  <nuxt-link class="btn btn-warning" to="/website/website_home"
                    >Batal</nuxt-link
                  >
                </form>
              </validation-observer>
            </card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TagsInput from "@/components/argon-core/Inputs/TagsInput";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
import { Select, Option } from "element-ui";

// Basic Use - Covers most scenarios
import { VueEditor } from "vue2-editor";

export default {
  name: "homeForm",
  // layout: "DashboardLayout",
  components: {
    TagsInput,
    [Select.name]: Select,
    [Option.name]: Option,
    VueEditor,
  },
  data() {
    return {
      // tipeOptions: [
      //   {
      //     label: "Utama",
      //     value: "Utama",
      //   },
      //   {
      //     label: "TK",
      //     value: "TK",
      //   },
      //   {
      //     label: "SD",
      //     value: "SD",
      //   },
      //   {
      //     label: "SMP",
      //     value: "SMP",
      //   },
      //   {
      //     label: "SMA",
      //     value: "SMA",
      //   },
      // ],
      validated: false,
      form: {
        webName:"",
         contact: {
          phone: "",
          address: "",
          email: "",
          instagram: "",
          facebook: "",
          youtube: "",
          whatsapp: "",
          twitter: ""
        },
        // ppdbLink: "",
        jmlSiswaTk: "",
        jmlSiswaSD: "",
        jmlSiswaSmp: "",
        jmlSiswaSma: "",
        headTitle: ""
      },
      doSubmit: true,
     
    };
  },
  beforeMount() {
    this.$axios
      .$get(`main_web/web_home/home/${this.$route.params.id}`)
      .then((response) => {
        this.form.webName = response.webName;
        this.form.contact.phone = response.contact.phone;
        this.form.contact.address = response.contact.address;
        this.form.contact.email = response.contact.email;
        this.form.contact.instagram = response.contact.instagram;
        this.form.contact.facebook = response.contact.facebook;
        this.form.contact.youtube = response.contact.youtube;
        this.form.contact.whatsapp = response.contact.whatsapp;
        this.form.contact.twitter = response.contact.twitter;
        // this.form.ppdbLink = response.ppdbLink;
        this.form.headTitle = response.headTitle;
        this.form.jmlSiswaTk = response.jmlSiswaTk;
        this.form.jmlSiswaSD = response.jmlSiswaSD;
        this.form.jmlSiswaSmp = response.jmlSiswaSmp;
        this.form.jmlSiswaSma = response.jmlSiswaSma;
      });
  },
  methods: {
    async updateDataHome() {
      
      this.$axios
        .$put(`main_web/web_home/home/${this.$route.params.id}`, this.form)
        .then((response) => {
          // swal.fire({
          //   title: `Success`,
          //   text: "Your work has been saved",
          //   buttonsStyling: false,
          //   confirmButtonClass: "btn btn-success",
          //   type: "success",
          // });
          this.$notify({
            message:'Data Telah Berhasil Diubah',
            timeout: 3500,
            icon: 'ni ni-check-bold',
            type: "success",
          });
          this.$router.push("/website/website_home");
        })
        .catch((e) => {});
    },
  },
};
</script>
