<template>
  <div>
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">
            Data Akademik
          </h6>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <nuxt-link to="/website/website_academic" class="btn btn-neutral btn-sm"
            >Kembali</nuxt-link
          >
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card-wrapper">
            <card>
              <h3 slot="header" class="mb-0">Edit Data</h3>
              <validation-observer
                v-slot="{ handleSubmit }"
                ref="formValidator"
              >
                <form
                  class="needs-validation"
                  @submit.prevent="handleSubmit(updateDataAcademic)"
                >
                  <div class="col-md-12">

                    <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Judul</label
                      >
                      <div class="col-md-7">
                        <base-input
                          name="title"
                          placeholder="Judul"
                          rules="required"
                          v-model="form.title"
                        ></base-input>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Sub Judul</label
                      >
                      <div class="col-md-7">
                        <base-input
                          name="subtitle"
                          placeholder="Sub Judul"
                          v-model="form.subtitle"
                        ></base-input>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Link Kalender</label
                      >
                      <div class="col-md-7">
                        <base-input
                          name="note"
                          placeholder="https://drive.google.com/"
                          v-model="form.note"
                        ></base-input>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Tags</label
                      >
                      <div class="col-md-7">
                        <tags-input v-model="form.tags"></tags-input>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Deskripsi</label
                      >
                      <div class="col-md-10">
                        <vue-editor v-model="form.description"></vue-editor>
                      </div>
                    </div>

                  </div>
                  <base-button type="primary" native-type="submit"
                    >Simpan</base-button
                  >
                  <nuxt-link
                    class="btn btn-warning"
                    to="/website/website_academic"
                    >Batal</nuxt-link
                  >
                </form>
              </validation-observer>
            </card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TagsInput from "@/components/argon-core/Inputs/TagsInput";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
import { Select, Option } from "element-ui";
import { VueEditor } from "vue2-editor";

export default {
  components: {
    TagsInput,
    [Select.name]: Select,
    [Option.name]: Option,
    VueEditor,
  },
  data() {
    return {
     
      validated: false,
      form: {
        title: "",
        subtitle: "",
        tags: [],
        description: "",
        note: "",
      },
      doSubmit: true,

    };
  },
  beforeMount() {
    this.$axios
      .$get(`main_web/web_academic/academic/${this.$route.params.id}`)
      .then((response) => {
        this.form.title = response.title;
        this.form.subtitle = response.subtitle;
        this.form.tags = response.tags;
        this.form.description = response.description;
        this.form.note = response.note;
 
      });
  },
  methods: {
    async updateDataAcademic() {
      
      this.$axios
        .$put(
          `main_web/web_academic/academic/${this.$route.params.id}`,
          this.form
        )
        .then((response) => {
          // swal.fire({
          //   title: `Success`,
          //   text: "Your work has been saved",
          //   buttonsStyling: false,
          //   confirmButtonClass: "btn btn-success",
          //   type: "success",
          // });
          this.$notify({
            message: "Data Telah Berhasil Diubah",
            timeout: 3500,
            icon: "ni ni-check-bold",
            type: "success",
          });
          this.$router.push("/website/website_academic");
        })
        .catch((e) => {});
    },
  },
};
</script>
