<template>
  <div>
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Tambah Dokumen</h6>
          <!-- <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-breadcrumb />
          </nav> -->
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card-wrapper">
            <card>
              <!-- Card header -->
              <h3 slot="header" class="mb-0">Tambah Data Dokumen</h3>
              <!-- <validation-observer v-slot="{handleSubmit}" ref="formValidator"> -->
              <validation-observer ref="form">
                <form class="needs-validation" @submit.prevent="SubmitPost">
                  <div class="col-md-8">
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label"
                        >Nama Template</label
                      >
                      <div class="col-md-9">
                        <base-input>
                          <el-select
                            v-model="form.templateName"
                            filterable
                            placeholder="Pilih Template"
                          >
                            <el-option
                              v-for="option in GET_TEMPLATE"
                              :key="option"
                              :label="option"
                              :value="option"
                            ></el-option>
                          </el-select>
                        </base-input>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label"
                        >Nama</label
                      >
                      <div class="col-md-9">
                        <base-input
                          name="name"
                          placeholder="Masukkan Nama"
                          success-message="Looks good!"
                          rules="required"
                          v-model="form.name"
                        ></base-input>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label"
                        >Kepada</label
                      >
                      <div class="col-md-9">
                        <base-input
                          name="kepada"
                          placeholder="Masukkan Tujuan Kepada"
                          success-message="Looks good!"
                          rules="required"
                          v-model="form.kepada"
                        ></base-input>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label"
                        >Alamat Kepada</label
                      >
                      <div class="col-md-9">
                        <base-input
                          name="alamatKepada"
                          placeholder="Masukkan Alamat Tujuan Kepada Siapa"
                          success-message="Looks good!"
                          rules="required"
                          v-model="form.alamatKepada"
                        ></base-input>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label"
                        >Hal</label
                      >
                      <div class="col-md-9">
                        <base-input
                          name="hal"
                          placeholder="Masukkan Perihalnya"
                          success-message="Looks good!"
                          rules="required"
                          v-model="form.hal"
                        ></base-input>
                      </div>
                    </div>

                    <br />
                  </div>
                  <nuxt-link class="btn btn-warning" to="/document/document"
                    >Batal</nuxt-link
                  >
                  <base-button type="primary" native-type="submit"
                    >Simpan</base-button
                  >
                </form>
              </validation-observer>
            </card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TagsInput from "@/components/argon-core/Inputs/TagsInput";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
import { Select, Option } from "element-ui";

export default {
  name: "MesinAksesForm",
  // layout: "DashboardLayout",
  components: {
    TagsInput,
    [Select.name]: Select,
    [Option.name]: Option,
  },
  data() {
    return {
      GET_TEMPLATE: [],
      validated: false,
      form: {
        name: "",
        kepada: "",
        alamatKepada: "",
        hal: "",
        templateName: "",
      },
      doSubmit: true,
    };
  },
  beforeMount() {
    window.addEventListener("keypress", (e) => {
      if (e.keyCode == 13) {
        this.doSubmit == false;
        e.preventDefault();
        return false;
      }
    });

    this.$axios
      .$get("main_base/docsetting/combo_document_setting_type")
      .then((response) => {
        this.GET_TEMPLATE = response;
        console.log(response);
      });

    if (this.$route.query.id) {
      this.$axios
        .$get(`main_base/document/document/${this.$route.query.id}`)
        .then((response) => {
          this.form.name = response.name;
          this.form.kepada = response.kepada;
          this.form.alamatKepada = response.alamatKepada;
          this.form.hal = response.hal;
          this.form.templateName = response.templateName;
        });
    }
  },
  methods: {
    async SubmitPost() {
      if (this.doSubmit) {
        this.$refs.form.validate().then((success) => {
          if (!success) {
            return;
          }

          if (this.$route.query.id) {
            this.$axios
              .$put(
                `main_base/document/document/${this.$route.query.id}`,
                this.form
              )
              .then((response) => {
                this.$notify({
                  message: "Data Telah Berhasil Disimpan",
                  timeout: 3500,
                  icon: "ni ni-check-bold",
                  type: "success",
                });
                this.$router.push("/document/document");
              })
              .catch((e) => {
                this.$notify({
                  message: "Data Gagal Di Simpan",
                  timeout: 3500,
                  icon: "ni ni-fat-remove",
                  type: "danger",
                });
                this.disabledSubmitButton = false;
              });
          } else {
            this.$axios
              .$post(`main_base/document/document`, this.form)
              .then((response) => {
                this.$notify({
                  message: "Data Telah Berhasil Disimpan",
                  timeout: 3500,
                  icon: "ni ni-check-bold",
                  type: "success",
                });
                this.$router.push("/document/document");
              })
              .catch((e) => {});
          }
        });
      }
    },
  },
};
</script>
