<template>
  <div>
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">
            Tambah Akun Pendaftar
          </h6>
          <!-- <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-breadcrumb />
          </nav> -->
        </div>

        <div class="col-lg-6 col-5 text-right">
          <nuxt-link to="/crm_ppdb/pendaftar" class="btn btn-neutral btn-sm"
            >Kembali</nuxt-link
          >
        </div>
      </div>
    </base-header>

    <div class="container mt--6 pb-5">
      <!-- Table -->
      <div class="row justify-content-left">
        <div class="col-lg-9 col-md-8">
          <div class="card bg-secondary border-0">
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <h3>Buat Akun Pendaftar</h3>
              </div>
              <validation-observer ref="form">
                <form @submit.prevent="handleSubmit()">
                  <div class="row">
                    <label
                        class="col-md-4 col-form-label form-control-label required1"
                        >Nama Calon Siswa</label
                      >
                    <div class="col-md-8">
                      <base-input
                        alternative
                        class="mb-3"
                        prepend-icon="ni ni-circle-08"
                        placeholder="Masukkan Nama Lengkap"
                        name="Name"
                        v-model="form.name"
                      >
                      </base-input>

                      <a
                          style="color: red; font-weight: 500; font-size: 13px"
                          v-if="this.form.name === ''"
                        >
                          {{ this.errors1.name }}
                      </a>
                    </div>
                  </div>

                  <div class="row mt-2">
                    <label
                        class="col-md-4 col-form-label form-control-label required1"
                        >Pilih Jenjang Dahulu</label
                      >
                    <div class="col-md-8">
                      <base-input>
                        <el-select
                          v-model="form.jenjang"
                          placeholder="Pilih Jenjang Dahulu"
                          @change="getDetailJenjangAwal()"
                        >
                          <el-option
                            v-for="option in get_jenjangOption"
                            :key="option.option"
                            :label="option.option"
                            :value="option.option"
                          >
                          </el-option>
                        </el-select>
                      </base-input>

                      <a
                          style="color: red; font-weight: 500; font-size: 13px"
                          v-if="this.form.jenjang === ''"
                        >
                          {{ this.errors1.jenjang }}
                      </a>
                    </div>
                  </div>

                  <div class="row mt-2">
                    <label
                        class="col-md-4 col-form-label form-control-label required1"
                        >Pilih Detail Jenjang</label
                      >
                    <div class="col-md-8">
                      <base-input>
                        <el-select
                          v-model="form.jenjangDetail"
                          placeholder="Pilih Detail Jenjang"
                        >
                          <el-option
                            v-for="option in get_jenjang_detail_option"
                            :key="option"
                            :label="option"
                            :value="option"
                          >
                          </el-option>
                        </el-select>
                      </base-input>

                      <a
                          style="color: red; font-weight: 500; font-size: 13px"
                          v-if="this.form.jenjangDetail === ''"
                        >
                          {{ this.errors1.jenjangDetail }}
                      </a>
                    </div>
                  </div>

                  <div class="row mt-2">
                    <label
                        class="col-md-4 col-form-label form-control-label required1"
                        >Pilih Tahun Ajaran/ Lulusan Tahun</label
                      >
                    <div class="col-md-8">
                      <base-input>
                        <el-select
                          v-model="form.year"
                          placeholder="Pilih Tahun Ajaran/ Lulusan Tahun"
                        >
                          <el-option
                            v-for="option in get_tahun_ajaran"
                            :key="option"
                            :label="option"
                            :value="option"
                          >
                          </el-option>
                        </el-select>
                      </base-input>

                      <a
                          style="color: red; font-weight: 500; font-size: 13px"
                          v-if="this.form.year === ''"
                        >
                          {{ this.errors1.year }}
                      </a>
                    </div>
                  </div>

                  <div class="row mt-2">
                    <label
                        class="col-md-4 col-form-label form-control-label required1"
                        >Email Orang Tua/ Calon Siswa</label
                      >
                    <div class="col-md-8">
                      <base-input
                        alternative
                        class="mb-3"
                        prepend-icon="ni ni-email-83"
                        placeholder="Masukkan Email"
                        name="Email"
                        :rules="{ email: true }"
                        v-model="form.email"
                      >
                      </base-input>
                      <a
                          style="color: red; font-weight: 500; font-size: 13px"
                          v-if="this.form.email === ''"
                        >
                          {{ this.errors1.email }}
                      </a>
                    </div>
                  </div>

                  <br /><br />

                  <div class="row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-4">
                          <a class="required2">
                            Wajib Diisi
                          </a>
                        </div>
                        <div class="col-md-5"></div>
                        <div class="col-md-3">
                          <base-button type="success" style="float: right" native-type="submit"
                            >Simpan</base-button
                          >
                        </div>

                      </div>
                    </div>
                  </div>

                </form>
              </validation-observer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// Charts
import * as chartConfigs from "@/components/argon-core/Charts/config";
import LineChart from "@/components/argon-core/Charts/LineChart";
import BarChart from "@/components/argon-core/Charts/BarChart";

// Components
import BaseProgress from "@/components/argon-core/BaseProgress";
import RouteBreadCrumb from "@/components/argon-core/Breadcrumb/RouteBreadcrumb";
import StatsCard from "@/components/argon-core/Cards/StatsCard";
import { FormWizard, TabContent } from "vue-form-wizard";
import "vue-form-wizard/dist/vue-form-wizard.min.css";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
import DropzoneFileUpload from "@/components/argon-core/Inputs/DropzoneFileUpload";

// Lists
import ActivityFeed from "@/components/pages/dashboard/ActivityFeed.vue";
import TaskList from "@/components/pages/dashboard/TaskList.vue";
import UserList from "@/components/pages/dashboard/UserList.vue";
import ProgressTrackList from "@/components/pages/dashboard/ProgressTrackList.vue";

// Tables
import LightTable from "@/components/pages/dashboard/LightTable.vue";
import SocialTrafficTable from "@/components/pages/dashboard/SocialTrafficTable.vue";
import PageVisitsTable from "@/components/pages/dashboard/PageVisitsTable.vue";
import { Table, TableColumn, Select, Option } from "element-ui";
import BaseButton from "../../../components/argon-core/BaseButton.vue";
import Validation from "../../template/forms/validation.vue";

import Modal from "@/components/argon-core/Modal.vue";
import FileInput from "@/components/argon-core/Inputs/FileInput";

export default {
  name: "DataAkunForm",
  components: {
    Modal,
    FileInput,
    DropzoneFileUpload,
    FormWizard,
    TabContent,
    ActivityFeed,
    LineChart,
    BarChart,
    BaseProgress,
    RouteBreadCrumb,
    StatsCard,
    TaskList,
    PageVisitsTable,
    SocialTrafficTable,
    LightTable,
    UserList,
    ProgressTrackList,
    BaseButton,
    Validation,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    [Select.name]: Select,
    [Option.name]: Option,
  },
  data() {
    return {
      get_jenjangOption: [],
      get_jenjang_detail_option: [],

      get_tahun_ajaran: [
        "2022", "2023", "2024"
      ],

      form: {
        name: '',
        jenjang: '',
        jenjangDetail: '',
        year: '',
        email: ''
      },

      errors1: {
        name: '',
        jenjang: '',
        jenjangDetail: '',
        year: '',
        email: ''
      }
    };
  },
  beforeMount() {
    if (this.$route.query.id) {
      this.$axios
        .$get(`main_base/pendaftar/get_pendaftar/${this.$route.query.id}`)
        .then((response) => {
          this.form.name = response.name;
          this.form.jenjang = response.jenjang;
          this.form.jenjangDetail = response.jenjangDetail;
          this.form.year = response.year;
          this.form.email = response.email;
        });
    }

     this.$axios
        .$get("main_base/pipeline/get_option_pipeline/PPDB")
        .then((response) => {
          console.log("ini get jenjang option = "+ response);
          this.get_jenjangOption = response;
      });

  },

   methods: {
    async handleSubmit() {
      let loader = this.$loading.show(); // manggil loading
        
      if (
        this.form.name === "" ||
        this.form.jenjang === "" ||
        this.form.jenjangDetail === "" ||
        this.form.year === "" ||
        this.form.email === ""
      ) {
        this.errors1.name = "Nama Siswa Harus Diisi";
        this.errors1.jenjang = "Jenjang Harus Diisi";
        this.errors1.jenjangDetail = "Detail Jenjang Harus Diisi";
        this.errors1.year = "Tahun Ajaran/ Lulusan Tahun Harus Diisi";
        this.errors1.email = "Email Harus Diisi";
        loader.hide(); // hide loading

        this.$notify({
          message: "Data Belum Lengkap",
          timeout: 3500,
          icon: "ni ni-fat-remove",
          type: "danger",
        });
      } else {

          this.$axios
            .$post(`main_base/pendaftar/admin_add_pendaftar`, this.form)
            .then((response) => {
              loader.hide(); // hide loading
              this.$notify({
                message: "Data Telah Berhasil Disimpan",
                timeout: 3500,
                icon: "ni ni-check-bold",
                type: "success",
              });
              this.$router.push("/crm_ppdb/pendaftar");
            })
            .catch((e) => {
              loader.hide(); // hide loading
              this.$notify({
                  message: "Data Gagal Disimpan",
                  timeout: 3500,
                  icon: "ni ni-fat-remove",
                  type: "danger",
                });
            });
          
        }
      
    },

    getDetailJenjangAwal() {

      let obj = this.get_jenjangOption.findIndex(o => o.option === this.form.jenjang);
      
      console.log("cek item =  " + obj);

      if (obj != null) {
        var optionId = this.get_jenjangOption[obj].option;

        console.log("cek optionId =  " + optionId);

        this.$axios
          .$get("main_base/pipeline/get_option_pipeline/PPDB")
          .then((response) => {
            this.get_jenjang_detail_option = response[obj].subOption;

            console.log("ini responnya = " + response[obj].subOption);
          });
      }
      
    },

  },
};

</script>

<style>
.required1:after {
  content: " *";
  color: red;
}

.required2:before {
  content: " *";
  color: red;
}
.required3 {
  color: red;
}

.black {
  color: black;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: red;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: red;
}
</style>
