<template>
  <div>
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Data Gallery</h6>
          <!-- <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-breadcrumb />
          </nav> -->
        </div>
        <div class="col-lg-6 col-5 text-right">
          <nuxt-link to="/website/website_gallery" class="btn btn-neutral btn-sm"
            >Kembali</nuxt-link
          >
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card-wrapper">
            <card>
              <!-- Card header -->
              <h3 slot="header" class="mb-0">Tambah Data</h3>
              <!-- <validation-observer v-slot="{handleSubmit}" ref="formValidator"> -->
              <validation-observer ref="form">
                <form class="needs-validation" @submit.prevent="gallerySubmit">
                  <div class="col-md-12">

                    <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Judul</label
                      >
                      <div class="col-md-7">
                        <base-input
                          name="title"
                          placeholder="Judul"
                          success-message="Looks good!"
                          rules="required"
                          v-model="form.title"
                        ></base-input>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Tags</label
                      >
                      <div class="col-md-7">
                        <tags-input v-model="form.tags"></tags-input>
                      </div>
                       
                    </div>
                   
                    <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Video Url</label
                      >
                      <div class="col-md-7">
                        <base-input
                          name="videoUrl"
                          placeholder="Video Url"
                          v-model="form.videoUrl"
                        ></base-input>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Image</label
                      >
                      <div class="col-md-7">
                        <!-- <input
                          type="file"
                          name="image"
                          id="image"
                          ref="image"
                          accept="image/*"
                          class="form-control"
                          multiple
                          @change="handleUploadImage()"
                        /> -->
                         <dropzone-file-upload
                          v-model="image"
                          ref="image"
                          type="file"
                          multiple
                          @change="handleUploadImage()">
                        </dropzone-file-upload>
                      </div>
                    </div>
                  
                  </div>

                  <base-button type="primary" native-type="submit"
                    >Simpan</base-button
                  >
                  <nuxt-link
                    class="btn btn-warning"
                    to="/website/website_gallery"
                    >Batal</nuxt-link
                  >
                </form>
              </validation-observer>
            </card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TagsInput from "@/components/argon-core/Inputs/TagsInput";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
import { Select, Option } from "element-ui";
import { VueEditor } from "vue2-editor";
import DropzoneFileUpload from "@/components/argon-core/Inputs/DropzoneFileUpload";

export default {

  components: {
    TagsInput,
    DropzoneFileUpload,
    [Select.name]: Select,
    [Option.name]: Option,
    VueEditor,
  },

  data() {
    return {
      // tipeOptions: ["SCHOOL ACCREDITATION", "CAMPUS TOUR","MOVIE CLIPS","EVENT GALLERIES"],

      validated: false,
      form: {
        // tipe: [],
        title: "",
        // subtitle: "",
        tags: [],
        // note: "",
        videoUrl: "",
        listDetail: [],
      },
      doSubmit: true,
      image: "",
    };
  },
  beforeMount() {
    window.addEventListener("keypress", (e) => {
      if (e.keyCode == 13) {
        this.doSubmit == false;
        e.preventDefault();
        return false;
      }
    });
  },
  methods: {
    handleUploadImage() {
      this.image = this.$refs.image.files;
      // console.log(
      //   this.$refs.image.files[0]
      // );
    },

    async gallerySubmit() {
      let result;
//       console.log(this.image);
// return
      // post gallery
      await this.$refs.form.validate().then((success) => {
        if (!success) {
          return;
        }
        this.$axios
          .$post(`main_web/web_gallery/gallery`, this.form)
          .then((response) => {
            if (this.image) {
              let success = false;
              let imageArray = Object.keys(this.image);
              imageArray.map((index, ii) => {
                let formDataImage = new FormData();
                formDataImage.append("file", this.image[index]);
                this.$axios
                  .$post("main_base/image/upload_image", formDataImage, {
                    headers: {
                      "Content-Type": "multipart/form-data",
                    },
                  })
                  .then((resp1) => {
                    let lisdet = {
                      imageUrl: resp1.name,
                    };
                    this.$axios
                      .$post(
                        `main_web/web_listdetail/list/gallery/${response._id}`,
                        lisdet
                      )
                      .then((responseList) => {
                        if (imageArray.length - 1 == ii) {
                          this.$notify({
                            message:
                            'Data Telah Berhasil Disimpan',
                            timeout: 3500,
                            icon: 'ni ni-check-bold',
                            type: "success",
                          });
                          this.$router.push("/website/website_gallery");
                        }
                        else{
                          this.$notify({
                            message:
                            'Data Telah Berhasil Disimpan',
                            timeout: 3500,
                            icon: 'ni ni-check-bold',
                            type: "success",
                          });
                        }
                      });
                  });
              });
            }
            else{
              this.$notify({
                message:
                'Data Telah Berhasil Disimpan',
                timeout: 3500,
                icon: 'ni ni-check-bold',
                type: "success",
              });
              this.$router.push("/website/website_gallery");
            }
          });
      });
    },
  },
};
</script>
