<template>
  <div>
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Data Gallery</h6>
          <!-- <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-breadcrumb />
          </nav> -->
        </div>
        <div class="col-lg-6 col-5 text-right">
          <nuxt-link to="/website/website_gallery" class="btn btn-neutral btn-sm"
            >Kembali</nuxt-link
          >
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card-wrapper">
            <card>
              <!-- Card header -->
              <h3 slot="header" class="mb-0">Edit Data</h3>
              <validation-observer
                v-slot="{ handleSubmit }"
                ref="formValidator"
              >
                <form
                  class="needs-validation"
                  @submit.prevent="handleSubmit(updateDataGallery)"
                >
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Judul</label
                      >
                      <div class="col-md-7">
                        <base-input
                          name="title"
                          placeholder="Judul"
                          success-message="Looks good!"
                          rules="required"
                          v-model="form.title"
                        ></base-input>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Tags</label
                      >
                      <div class="col-md-7">
                        <tags-input v-model="form.tags"></tags-input>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Video Url</label
                      >
                      <div class="col-md-7">
                        <base-input
                          name="videoUrl"
                          placeholder="Video Url"
                          v-model="form.videoUrl"
                        ></base-input>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Origin Image</label
                      >
                      <div class="col-md-7" v-if="tempImage">
                        <custom-image v-for="(image, ii) in tempImage" 
                          v-bind:key="ii" :image="image" @handleDeleteImage="handleDeleteImage" >

                        </custom-image>
                        <!-- <div
                          class="imgWrapper"
                          v-for="(image, ii) in tempImage"
                          v-bind:key="ii"
                        >
                          <div
                            class="imgBtn imgDelete fas fa-times"
                            @click="handleDeleteImage(image)"
                          ></div>

                          <img
                            :alt="image.listId"
                            :src="`${$axios.defaults.baseURL}main_base/image/get/${image.imageUrl}/pas`"
                          />
                        </div> -->
                        <!-- <img
                        class="avatar-profil square"
                        alt=""
                        :src="`${$axios.defaults.baseURL}main_base/image/get/${form.headImage}/std`"
                      /> -->
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Image</label
                      >

                      <div class="col-md-7">
                        <dropzone-file-upload
                          v-model="image"
                          ref="image"
                          type="file"
                          multiple
                          @change="handleUploadImage()"
                        >
                        </dropzone-file-upload>
                      </div>
                    </div>

                    <!-- <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Deskripsi</label
                      >
                      <div class="col-md-10">
                        <vue-editor v-model="form.description"></vue-editor>
                      </div>
                    </div> -->
                  </div>
                  <base-button type="primary" native-type="submit"
                    >Simpan</base-button
                  >
                  <nuxt-link
                    class="btn btn-warning"
                    to="/website/website_gallery"
                    >Batal</nuxt-link
                  >
                </form>
              </validation-observer>
            </card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TagsInput from "@/components/argon-core/Inputs/TagsInput";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
import { Select, Option } from "element-ui";

// Basic Use - Covers most scenarios
import { VueEditor } from "vue2-editor";
import DropzoneFileUpload from "../../../components/argon-core/Inputs/DropzoneFileUpload.vue";

export default {
  components: {
    TagsInput,
    [Select.name]: Select,
    [Option.name]: Option,
    VueEditor,
    DropzoneFileUpload,
  },
  data() {
    return {
      
      companyCode: localStorage.getItem("user")
        ? JSON.parse(localStorage.getItem("user")).company.id
        : "",
      validated: false,
      form: {
        title: "",
        tags: [],
        videoUrl: "",
        listDetail: [],
      },
      doSubmit: true,
      image: "",
      tempImage: [],
      
    };
  },
  beforeMount() {
    this.getGallery();
  },
  methods: {
    getGallery() {
      this.$axios
        .$get(`main_web/web_gallery/gallery/${this.$route.params.id}`)
        .then((response) => {
          this.tempImage = [];
          this.form = response;
          response.listDetail.map((list) => this.tempImage.push(list));
        });
    },
    handleDeleteImage(image) {
      //delete image
      this.$axios
        .$delete(`main_base/image/image/${image.imageUrl}`)
        .then((response) => {});
      //delete listDetail
      this.$axios
        .$delete(
          `/main_web/web_listdetail/list/gallery/${this.$route.params.id}/${image.listId}`
        )
        .then((response) => {
          this.getGallery();
        });
    },
    handleEditImage() {},
    handleUploadImage() {
      this.image = this.$refs.image.files;
    },
    // handleUploadIcon() {
    //   this.icon = this.$refs.icon.files[0];
    // },
    async updateDataGallery() {
      if (this.image) { //ada image
        let success = false;
        let imageArray = Object.keys(this.image);
        imageArray.map((index, ii) => {
          let formDataImage = new FormData();
          formDataImage.append("file", this.image[index]);
          this.$axios //upload image
            .$post("main_base/image/upload_image", formDataImage, {
              headers: {
                "Content-Type": "multipart/form-data",
              },
            })
            .then((resp1) => {
              let lisdet = {
                imageUrl: resp1.name,
              };
              //add listdetail
              this.$axios
                .$post(
                  `main_web/web_listdetail/list/gallery/${this.$route.params.id}`,
                  lisdet
                )
                .then((responseList) => {
                  this.$notify({
                    message: "Data Telah Berhasil Disimpan",
                    timeout: 3500,
                    icon: "ni ni-check-bold",
                    type: "success",
                  });
                  if (imageArray.length - 1 == ii) {
                        // get gallery
                    this.$axios
                      .$get(
                        `main_web/web_gallery/gallery/${this.$route.params.id}`
                      )
                      .then((response) => {
                        this.tempImage = [];
                        this.form = response;
                        response.listDetail.map((list) =>
                          this.tempImage.push(list)
                        );
                        // update gallery
                        this.$axios
                          .$put(
                            `main_web/web_gallery/gallery/${this.$route.params.id}`,
                            this.form
                          )
                          .then((response) => {
                            this.$notify({
                              message: "Data Telah Berhasil Disimpan",
                              timeout: 3500,
                              icon: "ni ni-check-bold",
                              type: "success",
                            });
                            this.$router.push("/website/website_gallery");
                          }).catch(e=>{
                            //error
                          });
                      });

                    // this.$router.push("/website/website_gallery");
                  }
                });
            });
        });
      } else {
        this.$axios
          .$put(
            `main_web/web_gallery/gallery/${this.$route.params.id}`,
            this.form
          )
          .then((response) => {
            this.$notify({
              message: "Data Telah Berhasil Disimpan",
              timeout: 3500,
              icon: "ni ni-check-bold",
              type: "success",
            });
            this.$router.push("/website/website_gallery");
          }).catch(e=>{

          });
      }
    },
  },
};
</script>
