<template>
  <div>
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Data Cabang</h6>
          <!-- <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-breadcrumb />
          </nav> -->
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card-wrapper">
            <card>
              <!-- Card header -->
              <h3 slot="header" class="mb-0">Manajemen Data Cabang</h3>
              <!-- <validation-observer v-slot="{handleSubmit}" ref="formValidator"> -->
              <validation-observer ref="form">
                <form class="needs-validation" @submit.prevent="SubmitPost">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-md-4 col-form-label form-control-label"
                          >Jenis Layanan</label
                        >
                        <div class="col-md-7">
                          <base-input rules="required">
                            <el-select
                              v-model="form.jenis"
                              filterable
                              placeholder="Pilih Jenis Layanan"
                            >
                              <el-option
                                v-for="option in GET_JENIS"
                                :key="option"
                                :label="option"
                                :value="option"
                              ></el-option>
                            </el-select>
                          </base-input>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-md-4 col-form-label form-control-label"
                          >Nama Cabang</label
                        >
                        <div class="col-md-7">
                          <base-input
                            name="title"
                            placeholder="Masukkan Nama Cabang"
                            success-message="Looks good!"
                            rules="required"
                            v-model="form.title"
                          ></base-input>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-md-4 col-form-label form-control-label"
                          >Keterangan</label
                        >
                        <div class="col-md-7">
                          <base-input
                            name="note"
                            placeholder="Masukkan Keterangan"
                            success-message="Looks good!"
                            rules="required"
                            v-model="form.note"
                          ></base-input>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-md-4 col-form-label form-control-label"
                          >Email</label
                        >
                        <div class="col-md-7">
                          <base-input
                            name="email"
                            placeholder="Masukkan Email"
                            success-message="Looks good!"
                            :rules="{ required: true, email: true }"
                            v-model="form.email"
                          ></base-input>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-md-4 col-form-label form-control-label"
                          >Nomor HP</label
                        >
                        <div class="col-md-7">
                          <base-input
                            name="phone"
                            placeholder="Masukkan Nomor HP"
                            success-message="Looks good!"
                            rules="required"
                            type="number"
                            v-model="form.phone"
                          ></base-input>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-5">
                      <div class="form-group row">
                        <label class="col-md-4 col-form-label form-control-label"
                          >Alamat</label
                        >
                        <div class="col-md-7">
                          <base-input
                            name="address.address"
                            placeholder="Masukkan Alamat"
                            success-message="Looks good!"
                            rules="required"
                            v-model="form.address.address"
                          ></base-input>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-md-4 col-form-label form-control-label"
                          >Provinsi</label
                        >
                        <div class="col-md-7">
                          <base-input rules="required">
                            <el-select
                              v-model="form.address.province"
                              filterable
                              placeholder="Pilih Provinsi Dahulu"
                              @change="getKabupatenAwal()"
                            >
                              <el-option
                                v-for="option in provinsiOptions"
                                :key="option.id"
                                :label="option.name"
                                :value="option.name"
                              ></el-option>
                            </el-select>
                          </base-input>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-md-4 col-form-label form-control-label"
                          >Kabupaten</label
                        >
                        <div class="col-md-7">
                          <base-input rules="required">
                            <el-select
                              v-model="form.address.city"
                              filterable
                              placeholder="Pilih Kabupaten"
                              @change="getKecamatanAwal()"
                            >
                              <el-option
                                v-for="option in kabupatenOptions"
                                :key="option.id"
                                :label="option.name"
                                :value="option.name"
                              ></el-option>
                            </el-select>
                          </base-input>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-md-4 col-form-label form-control-label"
                          >Kecamatan</label
                        >
                        <div class="col-md-7">
                          <base-input rules="required">
                            <el-select
                              v-model="form.address.district"
                              filterable
                              placeholder="Pilih Kecamatan"
                              @change="getKelurahanAwal()"
                            >
                              <el-option
                                v-for="option in kecamatanOptions"
                                :key="option.id"
                                :label="option.name"
                                :value="option.name"
                              ></el-option>
                            </el-select>
                          </base-input>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-md-4 col-form-label form-control-label"
                          >Bade</label
                        >
                        <div class="col-md-7">
                          <base-input rules="required">
                            <el-select
                              v-model="form.address.village"
                              filterable
                              placeholder="Pilih Kelurahan"
                              rules="required"
                            >
                              <el-option
                                v-for="option in kelurahanOptions"
                                :key="option.id"
                                :label="option.name"
                                :value="option.name"
                              ></el-option>
                            </el-select>
                          </base-input>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-md-4 col-form-label form-control-label"
                          >Kode Pos</label
                        >
                        <div class="col-md-7">
                          <base-input
                            name="address.posCode"
                            placeholder="Masukkan Kode Pos"
                            success-message="Looks good!"
                            rules="required"
                            type="number"
                            v-model="form.address.posCode"
                          ></base-input>
                        </div>
                      </div>
                      
                    </div>

                    <br />
                  </div>
                  <nuxt-link class="btn btn-warning" to="/antrian/cabang"
                    >Batal</nuxt-link
                  >
                  <base-button type="primary" native-type="submit"
                    >Simpan</base-button
                  >
                </form>
              </validation-observer>
            </card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TagsInput from "@/components/argon-core/Inputs/TagsInput";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
import { Select, Option } from "element-ui";

export default {
  name: "MesinAksesForm",
  // layout: "DashboardLayout",
  components: {
    TagsInput,
    [Select.name]: Select,
    [Option.name]: Option,
  },
  data() {
    return {
      provinsiOptions: [],
      kabupatenOptions: [],
      kecamatanOptions: [],
      kelurahanOptions: [],

      GET_JENIS: ['BANK', 'RUMAH SAKIT', 'KLINIK', 'PUSKESMAS', 'KOPERASI', 'PEMERINTAH', 'WISATA', 'SEKOLAH', 'EVENT', 'KANTOR POS', 'PDAM', 'PLN'],
      validated: false,
      form: {
        jenis: "",
        title: "",
        note: "",
        email: "", 
        phone: "", 
        address: {
          address: "",
          province: "",
          city: "",
          district: "",
          village: "",
          posCode: "",
        },
      },
      doSubmit: true,
    };
  },
  beforeMount() {
    this.$axios
      .$get("https://api.katalis.info/wilayah/getAllProvinces")
      .then((response) => {
        this.provinsiOptions = response;
      });

    window.addEventListener("keypress", (e) => {
      if (e.keyCode == 13) {
        this.doSubmit == false;
        e.preventDefault();
        return false;
      }
    });

    if (this.$route.query.id) {
      this.$axios
        .$get(`main_que/branch/branch/${this.$route.query.id}`)
        .then((response) => {
          this.form.jenis = response.jenis;
          this.form.title = response.title;
          this.form.note = response.note;
          this.form.email = response.email;
          this.form.phone = response.phone;
          this.form.address = response.address;
          this.form.city = response.city;
          this.form.district = response.district;
          this.form.village = response.village;
          this.form.posCode = response.posCode;
        });
    }
  },
  methods: {
    async SubmitPost() {
      if (this.doSubmit) {
        this.$refs.form.validate().then((success) => {
          if (!success) {
            this.$notify({
              message: "Data Gagal Di Simpan",
              timeout: 3500,
              icon: "ni ni-fat-remove",
              type: "danger",
            });
          }

          if (this.$route.query.id) {
            this.$axios
              .$put(
                `main_que/branch/branch/${this.$route.query.id}`,
                this.form
              )
              .then((response) => {
                this.$notify({
                  message: "Data Telah Berhasil Disimpan",
                  timeout: 3500,
                  icon: "ni ni-check-bold",
                  type: "success",
                });
                this.$router.push("/antrian/cabang");
              })
              .catch((e) => {
                this.$notify({
                  message: "Data Gagal Di Simpan",
                  timeout: 3500,
                  icon: "ni ni-fat-remove",
                  type: "danger",
                });
                this.disabledSubmitButton = false;
              });
          } else {
            this.$axios
              .$post(`main_que/branch/branch`, this.form)
              .then((response) => {
                this.$notify({
                  message: "Data Telah Berhasil Disimpan",
                  timeout: 3500,
                  icon: "ni ni-check-bold",
                  type: "success",
                });
                this.$router.push("/antrian/cabang");
              })
              .catch((e) => {
                this.$notify({
                  message: "Data Gagal Di Simpan",
                  timeout: 3500,
                  icon: "ni ni-fat-remove",
                  type: "danger",
                });
              });
          }
        });
      }
    },

    getKabupatenAwal() {
      var indexProv = this.provinsiOptions.findIndex(
        (x) => x.name === this.form.address.province
      );

      if (indexProv != null) {
        var provId = this.provinsiOptions[indexProv].id;
        this.$axios
          .$get("https://api.katalis.info/wilayah/getRegencies/" + provId)
          .then((response) => {
            this.kabupatenOptions = response;
          });
      }
    },

    getKecamatanAwal() {
      var indexKab = this.kabupatenOptions.findIndex(
        (x) => x.name === this.form.address.city
      );
      if (indexKab != null) {
        var kabupatenId = this.kabupatenOptions[indexKab].id;
        this.$axios
          .$get("https://api.katalis.info/wilayah/getDistricts/" + kabupatenId)
          .then((response) => {
            this.kecamatanOptions = response;
          });
      }
    },

    getKelurahanAwal() {
      var indexKec = this.kecamatanOptions.findIndex(
        (x) => x.name === this.form.address.district
      );
      if (indexKec != null) {
        var kecamatanId = this.kecamatanOptions[indexKec].id;
        this.$axios
          .$get("https://api.katalis.info/wilayah/getVillages/" + kecamatanId)
          .then((response) => {
            this.kelurahanOptions = response;
          });
      }
    },

  },
};
</script>
