<template
  ><div class="content">
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Data Cabang</h6>
          <!-- <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-breadcrumb />
          </nav> -->
        </div>
        <div class="col-lg-6 col-5 text-right">
          <!-- <base-button size="sm" type="neutral">New</base-button> -->
          <nuxt-link
            to="/antrian/cabang/form"
            class="btn btn-neutral btn-sm"
            >Tambah Cabang</nuxt-link
          >
          <!-- <base-button size="sm" type="neutral">Filters</base-button> -->
        </div>
      </div>
    </base-header>
    <div class="container-fluid mt--6">
      <div>
        <card
          class="no-border-card"
          body-classes="px-0 pb-1"
          footer-classes="pb-2"
        >
          <template slot="header">
            <h3 class="mb-0">Data Cabang</h3>
          </template>

          <!-- Column Seaching -->
          <div class="row mt--3 mb--2">
             <!-- search cabang -->
            <div class="col-2">
              <div>
                <base-input
                  v-model="title"
                  placeholder="Cari Cabang"
                  @keyup="changePageSize()"
                >
                </base-input>
              </div>
            </div> 

            <div class="col-1"></div>
            
            <!-- search email -->
            <div class="col-2">
             <div>
                <base-input
                  v-model="email"
                  placeholder="Cari Email"
                  @keyup="changePageSize()"
                >
                </base-input>
              </div>
            </div>

            <!-- search phone -->
            <div class="col-3">
              <div>
                <base-input
                  v-model="phone"
                  placeholder="Cari Nomor Telepon"
                  @keyup="changePageSize()"
                >
                </base-input>
              </div>
            </div>

            <div class="col-2">
            </div>

            <!-- Select Size Page -->
            <div class="col-2">
              <el-select
                class="select-primary pagination-select"
                v-model="paging.size"
                placeholder="Per page"
                @change="changePageSize()"
              >
                <el-option
                  class="select-primary"
                  v-for="item in paging.perPageOptions"
                  :key="item"
                  :label="item"
                  :value="item"
                ></el-option>
              </el-select>
            </div>
          </div>

          <div>
            <slot>
              <table
                class="table table-hover-table-stripped thead-light"
                width="100%"
              >
                <thead>
                  <tr style="background-color: #f6f9fc">
                    <!-- <th>Jenis Layanan</th> -->
                    <th>Nama Cabang</th>
                    <th>Email</th>
                    <th>Nomor Telepon</th>
                    <!-- <th>ALamat</th> -->
                    <th>Keterangan</th>
                    <th>Aksi</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in tableData" :key="index">
                    <!-- <td>{{ item.jenis }} </td> -->
                    <td>{{ item.title }}</td>
                    <td>{{ item.email }} </td>
                    <td>{{ item.phone }} </td>
                    <!-- <td>{{ item.address.address }}</td> -->
                    <td>{{ item.note }} </td>
                    <td>
                      <!-- edit data -->
                        <nuxt-link
                          :to="`/antrian/cabang/form?id=` + item._id"
                        >
                            <el-tooltip content="Edit" placement="top">
                              <base-button size="sm" type="warning">
                                <i class="text-white icon-pencil"></i>
                              </base-button>
                            </el-tooltip>
                        </nuxt-link>
                          
                          &nbsp;&nbsp;

                        <el-tooltip content="Delete" placement="top">
                          <base-button
                            @click.native="handleDelete(index, item)"
                              size="sm"
                              type="danger"
                              class="remove btn-link"
                            >
                            <i class="text-white icon-trash"></i>
                          </base-button>
                        </el-tooltip>

                    </td>
                  </tr>
                </tbody>
              </table>
            </slot>
          </div>

          <div
            slot="footer"
            class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
          >
            <div class>
              <p class="card-category">
                Showing {{ from + 1 }} to {{ to }} of
                {{ paging.totalElements }} entries
              </p>
            </div>
            <ul class="pagination pagination-no-border">
              <li
                class="page-item prev-page"
                :class="{ disabled: paging.page + 1 === 1 }"
              >
                <a class="page-link" aria-label="Previous" @click="prevPage">
                  <span aria-hidden="true">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                  </span>
                </a>
              </li>
              <li
                class="page-item"
                :class="{ active: paging.page + 1 === item }"
                :key="item"
                v-for="item in range(1, paging.totalPages)"
              >
                <a class="page-link" @click="changePage(item)">{{ item }}</a>
              </li>
              <li
                class="page-item next-page"
                :class="{ disabled: paging.page + 1 === paging.totalPages }"
              >
                <a class="page-link" aria-label="Next" @click="nextPage">
                  <span aria-hidden="true">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </span>
                </a>
              </li>
            </ul></div
        ></card>
      </div>
    </div>
  </div>
</template>
<script>
import { Table, TableColumn, Select, Option } from "element-ui";
import RouteBreadCrumb from "@/components/argon-core/Breadcrumb/RouteBreadcrumb";
import swal from "sweetalert2";
import { email } from 'vee-validate/dist/rules';
export default {
  components: {
    // BasePagination,
    RouteBreadCrumb,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
  },
  data() {
    return {
      title: "",
      email: "",
      phone: "",

      tableData: [],
      url: "main_que/branch/get_branch",
      paging: {
        size: 10,
        totalElements: 0,
        totalPages: 0,
        page: 0,
        perPageOptions: [5, 10, 25, 50],
      },
    };
  },
  beforeMount() {
    this.getDatas(this.paging.size, this.paging.page);
  },
  computed: {
    to() {
      let highBound = this.from + this.paging.size;
      if (this.paging.totalElements < highBound) {
        highBound = this.paging.totalElements;
      }
      return highBound;
    },
    from() {
      return this.paging.size * this.paging.page;
    },
  },
  methods: {
    getDatas(size, page) {
       // search column
      let search = [];
      if (this.title) {
        search.push({ field: "title", key: this.title });
      } else if (this.email) {
        search.push({ field: "email", key: this.email });
      } else if (this.phone) {
        search.push({ field: "phone", key: this.phone });
      } 

      this.$axios
        .$post(this.url + "?size=" + size + "&page=" + page, { search })
        .then((response) => {
          this.tableData = response.content;
          this.paging.totalElements = response.totalElements;
          this.paging.totalPages = response.totalPages;
          this.paging.page = page;
          this.paging.size = size;
        });
    },
   
    handleDelete(index, item) {
      swal
        .fire({
          title: "Apakah Anda Yakin ?",
          text: `Data Yang Telah Dihapus Tidak Dapat Dikembalikan !`,
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn btn-success btn-fill",
          cancelButtonClass: "btn btn-danger btn-fill",
          confirmButtonText: "Ya, Hapus !",
          cancelButtonText: "Cancel !",
          buttonsStyling: false,
        })
        .then((result) => {
          if (result.value) {
            this.deleteRow(item);
          }
        });
    },
    deleteRow(item) {
      this.$axios
        .$delete("main_que/branch/branch/" + item._id)
        .then((user) => {

          this.$notify({
            message:
              'Data Telah Berhasil Dihapus',
            timeout: 3500,
            icon: 'ni ni-check-bold',
            type: "success",
          });
          this.getDatas(this.paging.size, this.paging.page);
        })
        .catch((error) => {

          this.$notify({
            message:
              'Gagal Menghapus Data',
            timeout: 3500,
            icon: 'ni ni-fat-remove',
            type: "danger",
          });
        });
    },
    range(min, max) {
      let arr = [];
      for (let i = min; i <= max; i++) {
        arr.push(i);
      }
      return arr;
    },
    changePage(item) {
      const page = item - 1;
      this.getDatas(this.paging.size, page);
    },
    nextPage() {
      const page = this.paging.page + 1;
      this.getDatas(this.paging.size, page);
    },
    prevPage() {
      const page = this.paging.page - 1;
      this.getDatas(this.paging.size, page);
    },
    changePageSize(e) {
      const page = this.paging.page;
      this.getDatas(this.paging.size, page);
    },
  },
};
</script>
