<template>
  <div>
    <base-header class="pb-6">
      <div class="row align-items-center py-1">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Template Pipeline</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-breadcrumb />
          </nav>
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card-wrapper">
            <card>
              <!-- Card header -->
              <h3 slot="header" class="mb-0">Tambah Data Pipeline</h3>
              <!-- <validation-observer v-slot="{handleSubmit}" ref="formValidator"> -->
              <validation-observer ref="form">
                <form
                  class="needs-validation"
                  @submit.prevent="pipelineFormSubmit"
                >
                  <div class="col-md-8">
                    <div class="form-group row">
                      <label 
                          class="col-md-4 col-form-label form-control-label">
                          Judul Pipeline <span style="color:red">*</span>
                      </label>
                      <div class="col-md-8">
                        <base-input rules="required">
                            <el-select
                              v-model="form.title"
                              filterable
                              placeholder="Silahkan Pilih"
                            >
                              <el-option
                                v-for="option in GET_PIPELINE"
                                :key="option"
                                :label="option"
                                :value="option"
                              ></el-option>
                            </el-select>
                          </base-input>
                      </div>
                    </div>

                    <div class="form-group row" v-if="form.title === 'PPDB'">
                      <label
                        class="col-md-4 col-form-label form-control-label"
                        >Upload Image <span style="color:red">*</span> </label
                      >
                      <div class="col-md-8">
                        <base-input rules="required">
                          <el-select
                            v-model="form.imagesArray"
                            multiple
                            filterable
                            placeholder="Silahkan Pilih Form Image"
                            
                          >
                            <el-option
                              v-for="option in GET_IMAGE_TYPE"
                              :key="option"
                              :label="option"
                              :value="option"
                            ></el-option>
                          </el-select>
                        </base-input>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-4 col-form-label form-control-label"
                        >Tahun <span style="color:red">*</span>
                      </label>
                      <div class="col-md-8">
                        <base-input
                          name="year"
                          placeholder="Masukkan Tahun"
                          success-message="Looks good!"
                          rules="required"
                          type="number"
                          v-model="form.year"
                        ></base-input>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-4 col-form-label form-control-label"
                        >Keterangan <span style="color:red">*</span>
                      </label>
                      <div class="col-md-8">
                        <base-input
                          name="note"
                          placeholder="Masukkan Keterangan"
                          success-message="Looks good!"
                          rules="required"
                          v-model="form.note"
                        ></base-input>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-4 col-form-label form-control-label"
                        >Ada Biaya atau Tidak  <br>
                          <i style="color: red; font-size: 12px;">
                            * Centang jika ada biaya nya
                          </i>  
                      </label>
                      <div class="col-md-8">
                        <base-checkbox v-model="form.isCosted" class="mb-3 mt-2" @change="biaya()">
                          Ada Biaya
                        </base-checkbox>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-4 col-form-label form-control-label"
                        >Option
                      </label>
                      <div class="col-md-8">
                        <vue-json-editor
                          rules="required"
                          name="option"
                          v-model="form.option"
                          :expandedOnStart="true"
                          @json-change="onJsonChange"
                        ></vue-json-editor>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-4 col-form-label form-control-label"
                        >Proses 
                      </label>
                      <div class="col-md-8">
                        <vue-json-editor
                          rules="required"
                          name="process"
                          v-model="form.process"
                          :expandedOnStart="true"
                          @json-change="onJsonChange"
                        ></vue-json-editor>
                      </div>
                    </div>

                  </div>

                  <nuxt-link
                    class="btn btn-warning ml-3"
                    to="/admin_server/crm_pipeline"
                    >Batal</nuxt-link
                  >
                  <base-button type="primary" native-type="submit"
                    >Simpan</base-button
                  >
                  
                </form>
              </validation-observer>
            </card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TagsInput from "@/components/argon-core/Inputs/TagsInput";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
import { Select, Option } from "element-ui";

import vueJsonEditor from "vue-json-editor";

export default {
  name: "PipelineForm",
  // layout: "DashboardLayout",
  components: {
    TagsInput,
    [Select.name]: Select,
    [Option.name]: Option,

    vueJsonEditor,
  },
  data() {
    return {
      validate: false,
      GET_PIPELINE: [],
      GET_IMAGE_TYPE: [
          "imagePasphoto",
          "imageIjazah",
          "imageKk",
          "imageRaport",
      ],
      form: {
        title: "",
        note: "",
        isCosted: false,
        year: "",
        option: [],
        imagesArray: [],
        process: [],
      },
      doSubmit: true,
      disabledSubmitButton: false,
    };
  },
  beforeMount() {
    if (this.$route.query.id) {
      let loader = this.$loading.show(); // manggil loading
      this.$axios
      .$get(`main_base/pipeline/pipeline/${this.$route.query.id}`)
      .then((response) => {
        this.form.title = response.title;
        this.form.option = response.option;
        this.form.note = response.note;
        this.form.isCosted = response.isCosted;
        this.form.year = response.year;
        this.form.imagesArray = response.imagesArray;
        this.form.process = response.process;

        loader.hide(); // hide loading
      });
    };

    // this.$axios
    //   .$get("/main_base/pipeline/get_image_type")
    //   .then((response) => {
    //     this.GET_IMAGE_TYPE = response;
    //     console.log(response);
    //   });

    window.addEventListener("keypress", (e) => {
      if (e.keyCode == 13) {
        this.doSubmit == false;
        e.preventDefault();
        return false;
      }
    });

    this.$axios
      .$get("main_base/pipeline/get_title_pipeline")
      .then((response) => {
        this.GET_PIPELINE = response;
        console.log(response);
      });

  },
  methods: {
    onJsonChange(value) {
      console.log("value:", value);
    },

    async pipelineFormSubmit() {
      this.disabledSubmitButton = true;
      if (this.doSubmit) {

        if (this.$route.query.id) {
            this.$axios
              .$put(`main_base/pipeline/pipeline/${this.$route.query.id}`, this.form)
              .then((response) => {
                this.$notify({
                  message:
                    'Data Pipeline Telah Berhasil Diubah',
                  timeout: 3500,
                  icon: 'ni ni-check-bold',
                  type: "success",
                });
                this.$router.push("/admin_server/crm_pipeline");
              })
              .catch((e) => {
                this.$notify({
                  message:
                    'Data Gagal Update',
                  timeout: 3500,
                  icon: 'ni ni-fat-remove',
                  type: "danger",
                });
                this.disabledSubmitButton = false;
              });
          } else {
            this.$refs.form.validate().then((success) => {
              if (!success) {
                return;
              }
              this.$axios
                .$post(`main_base/pipeline/pipeline`, this.form)
                .then((response) => {
                  this.$notify({
                    message:
                      'Data Pipeline Telah Berhasil Disimpan',
                    timeout: 3500,
                    icon: 'ni ni-check-bold',
                    type: "success",
                  });
                  this.$router.push("/admin_server/crm_pipeline");
                })
                .catch((e) => {
                  this.$notify({
                    message:
                      'Data Gagal Tersimpan',
                    timeout: 3500,
                    icon: 'ni ni-fat-remove',
                    type: "danger",
                  });
                  this.disabledSubmitButton = false;
                });
            });
          }
      }
    },
    
    biaya(){
      this.form.isCosted = true;
    },
  },
};
</script>
