<template
  >
  <div class="content">
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Data Notifikasi</h6>
          <!-- <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-breadcrumb />
          </nav> -->
        </div>
      </div>
    </base-header>

    <modal backdrop="static" size="lg" :show.sync="modals.detail">

      <!-- <template slot="header">
        <h6 class="modal-title">Detail Notifikasi</h6>
      </template> -->

      <template>
        <div class="col">

          <div class="row">
            <b>Detail Notifikasi</b>
          </div>

          <br> 

          <div class="row">
            <div class="col-md-3">
              <p class="form-control-label">Tanggal</p>
            </div>
            <div class="col">
              : {{ detail.tanggal | moment("DD-MMM-YYYY, h:mm:ss") }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <p class="form-control-label">Nama</p>
            </div>
            <div class="col">
              : {{ detail.creatorName }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <p class="form-control-label">Email</p>
            </div>
            <div class="col">: {{ detail.email }}</div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <p class="form-control-label">Pesan</p>
            </div>
            <div class="col">: {{ detail.judul }}</div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <p class="form-control-label">Detail</p>
            </div>
            <div class="col">: {{ detail.message }}</div>
          </div>
        </div>
      </template>
      <template slot="footer">
        <base-button
          type="warning"
          class="ml-auto"
          @click="modals.detail = false"
          >Kembali</base-button
        >
      </template>
    </modal>
    <div class="container-fluid mt--6">
      <div>
        <card
          class="no-border-card"
          body-classes="px-0 pb-1"
          footer-classes="pb-2"
        >
          <template slot="header">
            <h3 class="mb-0">Notifikasi</h3>
          </template>

          <!-- Seaching -->
          <div class="row mt--3 mb--2">
            <!-- search company name -->
            <div class="col-3">
              <div>
              </div>
            </div>

            <!-- search pic name -->
            <div class="col-2">
              <div>
                <base-input
                  v-model="creatorName"
                  placeholder="Cari Nama"
                  @keyup="changePageSize()"
                >
                </base-input>
              </div>
            </div>

            <!-- search pic name -->
            <div class="col-2">
              <div>
                <base-input
                  v-model="email"
                  placeholder="Cari Email"
                  @keyup="changePageSize()"
                >
                </base-input>
              </div>
            </div>

            <!-- search  -->
            <div class="col-3"></div>

            <!-- Select Size Page -->
            <div class="col-2">
              <el-select
                class="select-primary pagination-select"
                v-model="paging.size"
                placeholder="Per page"
                @change="changePageSize()"
              >
                <el-option
                  class="select-primary"
                  v-for="item in paging.perPageOptions"
                  :key="item"
                  :label="item"
                  :value="item"
                ></el-option>
              </el-select>
            </div>
          </div>

          <div>
            <slot>
              <table
                class="table table-hover-table-stripped thead-light"
                maxWidth="80px"
              >
                <thead>
                  <tr style="background-color: #f6f9fc">
                    <th>Tanggal</th>
                    <th>Nama</th>
                    <th>Email</th>
                    <th>Pesan</th>
                    <th>Aksi</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in tableData" :key="index">
                    <td>
                      {{ item.createTime | moment("DD-MMM-YYYY, h:mm:ss") }}
                    </td>
                    <td> {{ item.creatorName }} </td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.title }}</td>
                    <td>
                      <el-tooltip content="Detail Notifikasi" placement="top">
                        <base-button
                          @click="handleDetail(item)"
                          size="sm"
                          type="success"
                        >
                          <i class="text-white ni ni-zoom-split-in"></i>
                        </base-button>
                      </el-tooltip>
                    </td>
                  </tr>
                </tbody>
              </table>
            </slot>
          </div>

          <div
            slot="footer"
            class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
          >
            <div class>
              <p class="card-category">
                Showing {{ from + 1 }} to {{ to }} of
                {{ paging.totalElements }} entries
              </p>
            </div>
            <ul class="pagination pagination-no-border">
              <li
                class="page-item prev-page"
                :class="{ disabled: paging.page + 1 === 1 }"
              >
                <a class="page-link" aria-label="Previous" @click="prevPage">
                  <span aria-hidden="true">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                  </span>
                </a>
              </li>
              <li
                class="page-item"
                :class="{ active: paging.page + 1 === item }"
                :key="item"
                v-for="item in range(1, paging.totalPages)"
              >
                <a
                  class="page-link"
                  @click="changePage(item)"
                  v-if="Math.abs(item - paging.page) <= 2"
                  >{{ item }}</a
                >
              </li>
              <li
                class="page-item next-page"
                :class="{ disabled: paging.page + 1 === paging.totalPages }"
              >
                <a class="page-link" aria-label="Next" @click="nextPage">
                  <span aria-hidden="true">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </span>
                </a>
              </li>
            </ul>
          </div>
          
          </card>
      </div>
    </div>
  </div>
</template>
<script>
import { Table, TableColumn, Select, Option } from "element-ui";
import RouteBreadCrumb from "@/components/argon-core/Breadcrumb/RouteBreadcrumb";
import swal from "sweetalert2";
import moment from "moment";
export default {
  components: {
    // BasePagination,
    RouteBreadCrumb,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
  },
  data() {
    return {
      creatorName: "",
      email: "",
      tableData: [],
      url: "/main_base/notif/get_notif",
      modals: {
        detail: false,
      },
      detail: {
        tanggal: "",
      },
      paging: {
        size: 10,
        totalElements: 0,
        totalPages: 0,
        page: 0,
        perPageOptions: [5, 10, 25, 50],
      },
    };
  },
  beforeMount() {
    this.getDatas(this.paging.size, this.paging.page);
  },
  computed: {
    to() {
      let highBound = this.from + this.paging.size;
      if (this.paging.totalElements < highBound) {
        highBound = this.paging.totalElements;
      }
      return highBound;
    },
    from() {
      return this.paging.size * this.paging.page;
    },
  },
  methods: {
    getDatas(size, page) {
      let search = [];

      if (this.creatorName) {
        search.push({ field: "creatorName", key: this.creatorName });
      } else if (this.email) {
        search.push({ field: "email", key: this.email });
      } 
      this.$axios
        .$post(this.url + "?size=" + size + "&page=" + page, { search })
        .then((response) => {
          this.tableData = response.content;
          this.tableInfo = response;
          this.paging.totalElements = response.totalElements;
          this.paging.totalPages = response.totalPages;
          this.paging.page = page;
          this.paging.size = size;
        });
    },
    handleDetail(item) {
      this.modals.detail = true;
      this.detail.tanggal = item.createTime;
      (this.detail.creatorName = item.creatorName),
      (this.detail.email = item.email),
      (this.detail.judul = item.title),
      (this.detail.message = item.message);

    },
    range(min, max) {
      let arr = [];
      for (let i = min; i <= max; i++) {
        arr.push(i);
      }
      return arr;
    },
    changePage(item) {
      const page = item - 1;
      this.getDatas(this.paging.size, page);
    },
    nextPage() {
      const page = this.paging.page + 1;
      this.getDatas(this.paging.size, page);
    },
    prevPage() {
      const page = this.paging.page - 1;
      this.getDatas(this.paging.size, page);
    },
    changePageSize(e) {
      const page = this.paging.page;
      this.getDatas(this.paging.size, page);
    },
  },
};
</script>
