<template>
  <div>
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Data Loket</h6>
          <!-- <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-breadcrumb />
          </nav> -->
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card-wrapper">
            <card>
              <!-- Card header -->
              <h3 slot="header" class="mb-0">Loket </h3>
              <!-- <validation-observer v-slot="{handleSubmit}" ref="formValidator"> -->
              <validation-observer ref="form">
                <form class="needs-validation" @submit.prevent="SubmitPost">
                  <div class="col-md-8">

                    <div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label"
                        >Jenis Layanan</label
                      >
                      <div class="col-md-9">
                        <base-input rules="required">
                          <el-select
                            v-model="form.layananId"
                            filterable
                            placeholder="Pilih Jenis Layanan"
                          >
                            <el-option
                              v-for="option in GET_JENIS"
                              :key="option"
                              :label="option"
                              :value="option"
                            ></el-option>
                          </el-select>
                        </base-input>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label"
                        >Nama</label
                      >
                      <div class="col-md-9">
                        <base-input
                          name="name"
                          placeholder="Masukkan Nama"
                          success-message="Looks good!"
                          rules="required"
                          v-model="form.name"
                        ></base-input>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label"
                        >Email</label
                      >
                      <div class="col-md-9">
                        <base-input
                          name="email"
                          placeholder="Masukkan Email"
                          success-message="Looks good!"
                          :rules="{ required: true, email: true }"
                          v-model="form.email"
                        ></base-input>
                      </div>
                    </div>
                    
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label"
                        >Nomor HP</label
                      >
                      <div class="col-md-9">
                        <base-input
                          name="phone"
                          placeholder="Masukkan Nomor HP"
                          success-message="Looks good!"
                          :rules="{ required: true }"
                          type="number"
                          v-model="form.phone"
                        ></base-input>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label"
                        >Keterangan</label
                      >
                      <div class="col-md-9">
                        <base-input
                          name="note"
                          placeholder="Masukkan Keterangan"
                          success-message="Looks good!"
                          rules="required"
                          v-model="form.note"
                        ></base-input>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label"
                        >Tags</label
                      >
                      <div class="col-md-9">
                          <tags-input
                            v-model="form.tags"
                            placeholder="Tambah Tags"
                          ></tags-input>
                        </div>
                    </div>

                    <br />
                  </div>
                  <nuxt-link class="btn btn-warning" to="/antrian/loket"
                    >Batal</nuxt-link
                  >
                  <base-button type="primary" native-type="submit"
                    >Simpan</base-button
                  >
                </form>
              </validation-observer>
            </card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TagsInput from "@/components/argon-core/Inputs/TagsInput";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
import { Select, Option } from "element-ui";

export default {
  components: {
    TagsInput,
    [Select.name]: Select,
    [Option.name]: Option,
  },
  data() {
    return {
      validated: false,
      form: {
        layananId: "",
        name: "",
        email: "",
        phone: "",
        note: "",
        tags: []
      },

      GET_JENIS: [],

      doSubmit: true,
    };
  },
  beforeMount() {
    window.addEventListener("keypress", (e) => {
      if (e.keyCode == 13) {
        this.doSubmit == false;
        e.preventDefault();
        return false;
      }
    });

    if (this.$route.query.id) {
      this.$axios
        .$get(`main_que/loket/loket/${this.$route.query.id}`)
        .then((response) => {
          this.form.layananId = response.layananId;
          this.form.name = response.name;
          this.form.email = response.email;
          this.form.phone = response.phone;
          this.form.note = response.note;
          this.form.tags = response.tags;
        });
    }

      this.$axios
        .$get(`main_que/layanan/combo_layananan_by_branch/${this.$store.state.user.branchId}`)
        .then((response) => {
          console.log("ini response combo layanan = ", response);
          
        });

  },
  methods: {
    async SubmitPost() {
      if (this.doSubmit) {
        this.$refs.form.validate().then((success) => {
          if (!success) {
            return;
          }

          if (this.$route.query.id) {
            this.$axios
              .$put(
                `main_que/loket/loket/${this.$route.query.id}`,
                this.form
              )
              .then((response) => {
                this.$notify({
                  message: "Data Telah Berhasil Disimpan",
                  timeout: 3500,
                  icon: "ni ni-check-bold",
                  type: "success",
                });
                this.$router.push("/antrian/loket");
              })
              .catch((e) => {
                this.$notify({
                  message: "Data Gagal Di Simpan",
                  timeout: 3500,
                  icon: "ni ni-fat-remove",
                  type: "danger",
                });
                this.disabledSubmitButton = false;
              });
          } else {
            this.$axios
              .$post(`main_que/loket/loket`, this.form)
              .then((response) => {
                this.$notify({
                  message: "Data Telah Berhasil Disimpan",
                  timeout: 3500,
                  icon: "ni ni-check-bold",
                  type: "success",
                });
                this.$router.push("/antrian/loket");
              })
              .catch((e) => {});
          }
        });
      }
    },
  },
};
</script>
