<template>

  <div
    style="overflow: hidden"
    :style="[
      { backgroundImage: 'url(' + require('../static/img/12.svg') + ')'},
      { backgroundRepeat: 'no-repeat'},
      { backgroundSize: '48%' },
      { backgroundPosition: ('right 5px')},
    ]"
    :class="layoutClass"
    class="auth-layout"
  >
  <!-- { backgroundImage: 'url(' + require('../static/img/artwork.svg') + ')'}, -->
    <base-nav
      v-model="showMenu"
      type="light"
      :transparent="true"
      menu-classes="justify-content-end"
      class="navbar-horizontal navbar-main"
      expand="lg"
    >

    </base-nav>

    <notifications></notifications>

    <div class="main-content">
      <nuxt></nuxt>
    </div>

    <!-- <footer class="text-left" id="footer-main">
      <div class="text-left">
        <div class="row align-items-start justify-content-xl-between">
          <div class="col-xl-12 text-left">
            <div class="copyright text-left  ml-3 pb-3 fixed-bottom text-muted">
              © {{ year }}
              <a
                class="font-weight-bold ml-1"
                style="color:#059ad3"
                target="_blank"
                rel="noopener"
                >-&nbsp; 
                PT. Teknologi Kartu Indonesia
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer> -->

  </div>
</template>
<script>
import BaseNav from "~/components/argon-core/Navbar/BaseNav.vue";

export default {
  components: {
    BaseNav,
  },
  props: {
    backgroundColor: {
      type: String,
      default: "black",
    },
  },
  data() {
    return {
      showMenu: false,
      menuTransitionDuration: 250,
      year: new Date().getFullYear(),
      pageClass: "login-page",
    };
  },

  computed: {
    title() {
      return `${this.$route.name} Page`;
    },
    layoutClass() {
      let exceptions = ["index", "home"];
      if (!exceptions.includes(this.$route.name)) {
        return "bg-default";
      } else {
        return "";
      }
    },
  },
  methods: {
    closeMenu() {
      document.body.classList.remove("nav-open");
      this.showMenu = false;
    },
  },
  watch: {
    "$route.path"() {
      if (this.showMenu) {
        this.closeMenu();
      }
    },
  },
};
</script>
<style lang="scss">
.auth-layout {
  min-height: 100vh;
}
</style>
