<template>
  <div class="content">
    <base-header class="pb-6">
      <div class="row align-items-center py-4">

        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Laporan Absensi</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-bread-crumb></route-bread-crumb>
          </nav>
        </div>



        <div v-if="this.dateAkhir" class="col-5">
          <a v-if="this.dateAkhir"
            v-bind:href="
              `${$axios.defaults.baseURL}main_base/pengguna/download_absen_all_pengguna.xls?companyId=` +
                this.companyId + 
                  `&from_tgl=` +
                this.dateAwal +
                  `&to_tgl=` +
                  this.dateAkhir
            " target="_blank"
          >

            <base-button type="success" native-type="submit"
              >Download Semua Laporan</base-button
            >
          </a>
        </div>
      </div>
    </base-header>
    <div class="container-fluid mt--6">
      <div>
        <card
          class="no-border-card"
          body-classes="px-0 pb-1"
          footer-classes="pb-2"
        >
          <template slot="header">
            <h3 class="mb-0">Laporan Absensi</h3>
            <p class="text-sm mb-0">Management page for Absensi data</p>
          </template>
          <div>
            <div class="row">

              <div class="col-3">
                <div>
                  <base-input
                      v-model="idPengguna"
                      placeholder="Cari Pengguna"
                      v-on:keyup="changePengguna()"
                  >
                  </base-input>
                  <base-input v-if="this.idPengguna"> 
                    <el-select
                      v-model="search.idPengguna2"
                      filterable
                      clearable
                      placeholder="Pilih Pengguna"
                      @change="changePengguna2()"
                      class="mt--1"
                    >
                      <el-option
                        v-for="option in customerOptions"
                        :key="option.idPengguna"
                        :label="option.name + '\xa0\xa0' + '-' + '\xa0\xa0' + option.idPengguna"
                        :value="option.idPengguna"
                      ></el-option>
                    </el-select> 
                  </base-input>
                </div>
              </div>
              <div class="col-1"></div>
              <div class="col-3" v-if="this.search.idPengguna2 && this.idPengguna">
                  <base-input>
                      <flat-picker
                        slot-scope="{ focus, blur }"
                        @on-open="focus"
                        @on-close="blur"
                        class="form-control datepicker"
                        placeholder="Tanggal Awal"
                        name="date"
                        v-model="dateAwal"
                      >
                      </flat-picker>
                  </base-input>
              </div>

              <div class="col-3">
                <base-input  v-if="this.search.idPengguna2 && this.idPengguna && this.dateAwal">
                  <flat-picker
                    slot-scope="{ focus, blur }"
                    @on-open="focus"
                    @on-close="blur"
                    class="form-control datepicker"
                    placeholder="Tanggal Akhir"
                    name="date"
                    v-model="dateAkhir"
                    @on-change="getDatas()"
                  >
                  </flat-picker>
                </base-input>
              </div>

              </div>
              <div>
                <slot>
                  <div>
                    <table 
                        class="table table-hover-table-stripped thead-light"
                        width="100%" 
                        style="margin-top: 20px"
                    >
                      <div class="row mt--1 ml-3">
                      <div class="col-12">
                        <div v-if="this.dateAkhir === '' ">

                        </div>

                        <div class="col-12 mt-2 ml-4" v-else>
                                <div class="row">
                                    <div class="col-2">Nama</div>
                                    <div class="col-2" style="font-weight: 600;">: {{ form.name }} </div>
                                    <div class="col-3">Jumlah Absen Masuk</div>
                                    <div class="col-2" style="font-weight: 600;">: {{ form.jumlah_absen_masuk }} </div>
                                </div>
                                <div class="row">
                                    <div class="col-2">Dari Tanggal</div>
                                    <div class="col-2" style="font-weight: 600;">: {{ form.from_tgl | moment("DD-MMM-YYYY") }}
                                </div>
                                <div class="col-3">Jumlah Absen Tidak Masuk</div>
                                    <div class="col-2" style="font-weight: 600;">: {{ form.jumlah_absen_tidak_masuk }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2">Sampai Tanggal</div>
                                    <div class="col-2" style="font-weight: 600;">: {{ form.to_tgl| moment("DD-MMM-YYYY") }} </div>
                                    <div class="col-3">Jumlah Lembur</div>
                                    <div class="col-2" style="font-weight: 600;">: {{ form.jumlah_lembur }}
                                </div>
                              </div>
                              <div class="row">
                                  <div class="col-2"></div>
                                  <div class="col-2" style="font-weight: 600;"> </div>
                                  <div class="col-3">Jumlah Pulang Awal</div>
                                  <div class="col-2" style="font-weight: 600;">: {{ form.jumlah_pulang_awal }} </div>
                              </div>
                              <div class="row">
                                  <div class="col-2"></div>
                                  <div class="col-2" style="font-weight: 600;"> </div>
                                  <div class="col-3">Jumlah Datang Terlambat</div>
                                  <div class="col-2" style="font-weight: 600;">: {{ form.jumlah_datang_terlambat }} </div>
                              </div>
                        </div>
                      </div>
                   </div>
                    </table>

                    

                  </div>
                  <table
                    class="table table-hover-table-stripped thead-light"
                    width="100%" 
                    style="margin-top: 20px"
                  >

                    <thead>
                      <tr style="background-color: #f6f9fc" class="text-center">
                        <th> Tanggal </th>
                        <th> Masuk </th>
                        <th> Pulang </th>
                        <!-- <th>Actions</th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="text-center" v-for="(item, index) in tableData" :key="index">
                        <td>{{ item.tanggal | moment("DD-MMM-YYYY, h:mm:ss") }}</td> 
                        <td>{{ item.first  }}</td>
                        <td>{{ item.pulang  }}</td>

                        <!-- <td>
                            <nuxt-link
                              :to="`/document/document/form?id=` + item._id"
                            >
                                <el-tooltip content="Edit" placement="top">
                                  <base-button size="sm" type="warning">
                                    <i class="text-white icon-pencil"></i>
                                  </base-button>
                                </el-tooltip>
                            </nuxt-link>
                              
                              &nbsp;&nbsp;

                            <el-tooltip content="Delete" placement="top">
                              <base-button
                                @click.native="handleDelete(index, item)"
                                  size="sm"
                                  type="danger"
                                  class="remove btn-link"
                                >
                                <i class="text-white icon-trash"></i>
                              </base-button>
                            </el-tooltip>

                        </td> -->
                      </tr>
                    </tbody>
                  </table>
            </slot>
          </div>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>

<script>
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import { Table, TableColumn, Select, Option } from "element-ui";
import RouteBreadCrumb from "@/components/argon-core/Breadcrumb/RouteBreadcrumb";
import swal from "sweetalert2";
import { Modal, BaseAlert } from "@/components/argon-core";

import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";

export default {
  components: {
    // BasePagination,
    Loading,
    RouteBreadCrumb,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    flatPicker,
  },
  data() {
    return {
      Modal,
      BaseAlert,
      loading: false,
      fullPage: false,
      tglCuti: "",
      absenPenggunaData: [],
      cutiUpdate: "",
      deleteCuti: {},
      customerOptions: [],
      name: "",

      form: {
        company: "",
        jumlah_absen_masuk: "",
        jumlah_absen_tidak_masuk: "",
        name: "",
        jumlah_datang_terlambat: "",
        jumlah_lembur: "",
        jumlah_pulang_awal: "",
        from_tgl:"",
        to_tgl:"",
      },

      companyId: "",
      idPengguna: "",
      dateAtas: "",
      date: "",
      modalType: "",

      dateAwal: "",
      dateAkhir: "",

      tableData: [],
      tableInfo: {},
      selectedRows: [],
      paging: {
        size: 10,
        totalElements: 0,
        totalPages: 0,
        page: 0,
        perPageOptions: [5, 10, 25, 50],
      },

      search: {
        idPengguna1: "",
        idPengguna2: "",
        idPengguna: "",
        filterJenis: "",
      },
    };
  },
  beforeMount() {
    // this.getDatas(this.paging.size, this.paging.page);

    this.getCustomer();

    this.companyId = localStorage.getItem("user")
      ? JSON.parse(localStorage.getItem("user")).company.companyId
      : "";
  },
  computed: {
    to() {
      let highBound = this.from + this.paging.size;

      if (this.paging.totalElements < highBound) {
        highBound = this.paging.totalElements;
      }
      return highBound;
    },
    from() {
      return this.paging.size * this.paging.page;
    },
  },
  methods: {
    getCustomer() {
      this.$axios.$post("main_base/pengguna/get_pengguna").then((response) => {
        console.log("ini response pengguna = " + response.content);
        this.customerOptions = response.content;
      });
    },
    getDatas() {
      let loader = this.$loading.show(); // manggil loading
      this.$axios

        .$get(
          `main_base/pengguna/report_absen_by_pengguna?companyId=` +
            this.companyId +
            `&idPengguna=` +
            this.search.idPengguna2 +
            `&from_tgl=` +
            this.dateAwal +
            `&to_tgl=` +
            this.dateAkhir
        )

        // .$get(`main_base/pengguna/report_absen_by_pengguna?companyId=` + this.companyId + "&idPengguna=" + this.idPengguna + "&tanggal=" + this.date)

        .then((response) => {
          loader.hide(); // hide loading
          this.tableData = response.data_absen_masuk;
          (this.form.company = response.company),
            (this.form.jumlah_absen_masuk = response.jumlah_absen_masuk),
            (this.form.jumlah_absen_tidak_masuk =
              response.jumlah_absen_tidak_masuk),
            (this.form.name = response.name),
            (this.form.jumlah_datang_terlambat =
              response.jumlah_datang_terlambat),
            (this.form.jumlah_lembur = response.jumlah_lembur),
            (this.form.jumlah_pulang_awal = response.jumlah_pulang_awal),
            (this.form.to_tgl = response.to_tgl),
            (this.form.from_tgl = response.from_tgl);
            

        })
        .catch((error) => {
          loader.hide(); // hide loading
          this.$notify({
            message: "Eror",
            timeout: 3500,
            icon: "ni ni-fat-remove",
            type: "danger",
          });
        });
    },

    // delete data
    handleDelete(index, row) {
      swal
        .fire({
          title: "Apakah Anda Yakin ?",
          text: `Data Yang Telah Dihapus Tidak Dapat Dikembalikan !`,
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn btn-success btn-fill",
          cancelButtonClass: "btn btn-danger btn-fill",
          confirmButtonText: "Ya, Hapus !",
          cancelButtonText: "Cancel !",
          buttonsStyling: false,
        })
        .then((result) => {
          if (result.value) {
            this.deleteRow(row);
          }
        });
    },
    deleteRow(row) {
      this.$axios
        .$delete(`main_base/pengguna/pengguna/` + row._id, this.cuti)
        .then((user) => {
          this.$notify({
            message: "Data Telah Berhasil Dihapus",
            timeout: 3500,
            icon: "ni ni-check-bold",
            type: "success",
          });
          this.getDatas(this.paging.size, this.paging.page);
        })

        .catch((error) => {
          this.$notify({
            message: "Gagal Menghapus",
            timeout: 3500,
            icon: "ni ni-fat-remove",
            type: "danger",
          });
        });
    },

    selectionChange(selectedRows) {
      this.selectedRows = selectedRows;
    },
    range(min, max) {
      let arr = [];
      for (let i = min; i <= max; i++) {
        arr.push(i);
      }
      return arr;
    },
    changePage(item) {
      const page = item - 1;
      this.getDatas(this.paging.size, page);
    },
    nextPage() {
      const page = this.paging.page + 1;
      this.getDatas(this.paging.size, page);
    },
    prevPage() {
      const page = this.paging.page - 1;
      this.getDatas(this.paging.size, page);
    },
    changePageSize(e) {
      const page = this.paging.page;
      this.getDatas(this.paging.size, page);
    },
    changePengguna(e) {
      let loader = this.$loading.show(); // manggil loading

      this.$axios
        .$get("main_base/pengguna/get_pengguna_and_id?name=" + this.idPengguna)
        .then((response) => {
          if (response.length) {
            loader.hide(); // hide loading
            console.log("ini response pengguna = " + response);
            this.search.idPengguna1 = "1";
            this.customerOptions = response;
          } else {
            loader.hide(); // hide loading
            this.$notify({
              message: `Nama Pengguna Tidak Ada`,
              timeout: 2000,
              icon: "ni ni-fat-remove",
              type: "danger",
            });
            this.search.idPengguna1 = "";
            this.search.idPengguna2 = "";
            this.search.idPengguna = "";
            this.startDate = "";
          }
        });
    },

    changePengguna2() {
      this.search.idPengguna = this.search.idPengguna2;
    },
  },
};
</script>
<style>
.no-border-card .card-footer {
  border-top: 0;
}
</style>
