<template>
  <div>
    <div class="container pt-5 pb-5">

      <div v-if="firstForm === true" class="col-xl-5 col-lg-6 col-md-8 px-5" style="top: 0px; right: 0px">
        <h1 class="text-white ml-5">Masukkan Email Anda</h1>
        <p class="text-lead text-white text-center">Setelah Submit Email, Anda Akan Menerima Email "Kode OTP"</p> 
        <br>
      </div>

      <div v-if="secondForm === true" class="col-xl-5 col-lg-6 col-md-8 px-5" style="top: 0px; right: 0px">
        <h1 class="text-white ml-5">Kode OTP</h1>
        <p class="text-lead text-white text-center">Cek Email, dan Masukkan Kode OTP Di sini</p> 
        <br>
      </div>

      <div v-if="thirdForm === true" class="col-xl-5 col-lg-6 col-md-8 px-5" style="top: 0px; right: 0px">
        <h1 class="text-white ml-5">Password Baru</h1>
        <p class="text-lead text-white text-center">Masukkan Password Baru Anda</p> 
        <br>
      </div>

      <div class="row justify-content-left">
        <div class="col-lg-5 col-md-7" style="top: 0px">
          
          <div class="card bg-secondary border-0 mb-0">
            <div class="card-body px-lg-5 pt-lg-5 text-left">
              <validation-observer
                v-slot="{ handleSubmit }"
                ref="formValidator"
              >

              <!-- form 1 -->
                <form
                  v-if="firstForm === true"
                  role="form"
                  @submit.prevent="handleSubmit(firstSubmit)"
                >
                  <base-input
                    alternative
                    class="mb-3"
                    name="phone_or_email"
                    :rules="{ required: true, email: true }"
                    prepend-icon="ni ni-email-83"
                    placeholder="Masukkan Email Anda"
                    v-model="form1.phone_or_email"
                  >
                  </base-input>

                  <div class="row mt-5">
                    <div class="col text-center">

                      <!-- <nuxt-link to="/" class="btn btn-warning">Kembali Ke Login</nuxt-link> -->

                      <base-button
                        type="primary"
                        native-type="submit"
                        >Berikutnya</base-button
                      >
                    </div>
                  </div>
                </form>

                <!-- form 2 -->
                <form
                  v-if="secondForm === true"
                  role="form"
                  @submit.prevent="handleSubmit(secondSubmit)"
                >
                  <base-input
                    disabled
                    alternative
                    class="mb-3"
                    name="phone_or_email"
                    prepend-icon="ni ni-email-83"
                    v-model="form1.phone_or_email"
                  >
                  </base-input>
                  
                  <base-input
                    alternative
                    class="mb-3"
                    name="key"
                    :rules="{ required: true }"
                    prepend-icon="ni ni-lock-circle-open"
                    placeholder="Masukkan OTP"
                    v-model="form2.key"
                  >
                  </base-input>

                  <div class="row mt-5">
                    <div class="col text-center">

                      <nuxt-link to="/" class="btn btn-warning">Sebelumnya</nuxt-link>

                      <base-button
                        type="primary"
                        native-type="submit"
                        >Berikutnya</base-button
                      >
                    </div>
                  </div>
                </form>

                  <!-- form 3 -->
                <form
                  v-if="thirdForm === true"
                  role="form"
                  @submit.prevent="handleSubmit(thirdSubmit)"
                >

                  <base-input
                    disabled
                    alternative
                    class="mb-3"
                    name="phone_or_email"
                    prepend-icon="ni ni-email-83"
                    v-model="form1.phone_or_email"
                  >
                  </base-input>

                  <base-input
                    alternative
                    class="mb-3"
                    name="newPassword"
                    :rules="{ required: true }"
                    prepend-icon="ni ni-lock-circle-open"
                    placeholder="Masukkan Password Baru Anda"
                    v-model="form3.newPassword"
                  >
                  </base-input>

                  <div class="row mt-5">
                    <div class="col text-center">

                      <nuxt-link to="/" class="btn btn-warning">Sebelumnya</nuxt-link>

                      <base-button
                        type="primary"
                        native-type="submit"
                        >Submit</base-button
                      >
                    </div>
                  </div>
                </form>

              </validation-observer>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-6">
              <router-link to="/" class="text-light"><small> Kembali Ke Login </small></router-link>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Header } from "element-ui";
import crypto from "crypto";
import swal from "sweetalert2";
export default {
  middleware: ["guest"],
  layout: "AuthLayout",
  name: "register",
  data() {
    return {
      form1: {
        phone_or_email: "",
      },

      form2: {
          key: "",
      },

      form3: {
          newPassword: "",
      },

      firstForm: true,
      secondForm: null,
      thirdForm: null,

    };
  },
  beforeMount() {
    console.log(process.env.sso_env);
  },
  methods: {
    //   firstForm
    async firstSubmit() {
      this.$axios
        .$post("erp_login/auth/user_forgot_password?phone_or_email=" + this.form1.phone_or_email, this.form)
        .then((response) => {

          this.$notify({
            message: "Cek Email Untuk Mendapatkan Kode OTP",
            timeout: 3500,
            icon: "ni ni-check-bold",
            type: "success",
          });

          this.secondForm = true;
          this.firstForm = false;
        })
        .catch((e) => {});
    },

    // secondForm
    async secondSubmit() {
      this.$axios
        .$post("erp_login/auth/user_cek_otp_after_forgot/otp?phone_or_email=" + this.form1.phone_or_email + "&key=" + this.form2.key, this.form)
        .then((response) => {
          
          this.$notify({
            message: "Silahkan Masukkan Password Baru",
            timeout: 3500,
            icon: "ni ni-check-bold",
            type: "success",
          });

          this.form2.key = response.key;
          this.firstForm = false;
          this.secondForm = false;
          this.thirdForm = true;
        })
        .catch((e) => {});
    },

    // thirdForm
    async thirdSubmit() {
      this.$axios
        .$post("erp_login/auth/user_create_password_after_forgot?phone_or_email=" + this.form1.phone_or_email + "&key=" + this.form2.key + "&newPassword=" + this.form3.newPassword, this.form)
        .then((response) => {

          this.$notify({
            message: "Password Berhasil DiUbah, Silahkan login kembali",
            timeout: 3500,
            icon: "ni ni-check-bold",
            type: "success",
          });

          this.$router.push("/");
          
        })
        .catch((e) => {});
    },

  },
};
</script>
