<template>
  <div>
    <!-- Header -->
    <div class="py-3 py-lg-5 pt-lg-1 mt-3" style="margin-top: 10px">
      <div class="">
        <!-- Page content -->
        <div class="container mt--8 pb-5">
          <div class="row justify-content-left">
            <div class="col-lg-5 col-md-7">
              <!-- logo -->

              <div class="border-0 mb-0 mt-5">
                <div class="px-lg-5 pt-lg-5 text-center mt-4">
                  <img
                    src="img/erplogo.svg"
                    width="190px" height="80px" 
                  />
                </div>
              </div>
              <!-- <p class="text-lead">Please login to use ERP Module</p> -->

              <!-- card -->
              <div class="card bg-secondary border-0 mb-0 mt-4">
                <div class="card-body px-lg-5 pt-lg-5 text-left mt--4">
                  
                  <div class="card-header bg-transparent pb-5">
                    <div class="text-muted text-center mt--3 mb--5">
                      <small> Silahkan Login di ERP </small>
                    </div>
                    
                  </div>

                  <validation-observer
                    v-slot="{ handleSubmit }"
                    ref="formValidator"
                  >
                    <template v-if="errors_form.length">
                      <div class="alert alert-danger">
                        <span
                          v-for="(error, index) in errors_form"
                          :key="index"
                          >{{ error }}</span
                        >
                      </div>
                    </template>

                    <template v-if="errors.length">
                      <div class="alert alert-danger">
                        <span
                          v-for="(error, index) in errors"
                          :key="index"
                          > {{ error }}</span
                        >
                      </div>
                    </template>

                    <form
                      role="form"
                      @submit.prevent="handleSubmit(onSubmit)"
                    >
                      <base-input
                        alternative
                        class="mb-6"
                        name="Username"
                        prepend-icon="ni ni-email-83"
                        placeholder="Email atau Username"
                        v-model="form.username"
                      >
                      </base-input>
                      <base-input
                        alternative
                        class="mb-3"
                        name="Password"
                        prepend-icon="ni ni-lock-circle-open"
                        type="password"
                        placeholder="Kata Sandi"
                        v-model="form.password"
                      >
                      </base-input>

                      <div class="row mt-4">
                        <!-- <div class="col text-left">
                          <router-link
                            to="/forgot_password"
                            class="register-action"
                            ><small>Lupa Kata Sandi ?</small></router-link
                          >
                        </div> -->
                        <div class="col text-center">
                          <base-button
                            type="primary"
                            :disabled="disabledSubmitButton"
                            native-type="submit"
                            >Login</base-button
                          >
                        </div>
                      </div>

                      <a style="margin-bottom: 4px" />
                    </form>

                  </validation-observer>
                </div>
              </div>

               <div class="row mt-3">
                <div class="col-6">
                  <router-link to="/forgot_password" class="text-dark"><small>Lupa password ?</small></router-link>
                </div>
                <!-- <div class="col-6 text-right">
                  <router-link to="/register" class="text-dark"><small>Create new account</small></router-link>
                </div> -->
               </div>

               <div class="text-center mt-0 small">Powered by: <br><br>
                <img src="img/logo.png" style="width:90px">
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
.register-text {
  margin-top: 0px;
  text-align: center;
  font-size: 0.8em;
  color: gray;
}
.register-text > .register-action {
  position: relative;
  /* float: left; */
  cursor: pointer;
  color: #5e72e4;
}
.register-text > .register-action:hover {
  color: #233dd2;
}
</style>

<script>
import { Header } from "element-ui";
import crypto from "crypto";
export default {
  middleware: ["guest"],
  layout: "AuthLayout22",
  data() {
    return {
      errors: [],
      form: {
        username: "",
        password: "",
        // rememberMe: false,
      },
      errors_form: [],
      disabledSubmitButton: false,
    };
  },
  beforeMount() {
    console.log(process.env.sso_env);
    // window.addEventListener("keypress", (e) => {
    //   if (e.keyCode == 13) {
    //     this.$refs.form.validate().then((success) => {
    //       this.onSubmit();
    //     });
    //   }
    // });
  },
  methods: {
    async onSubmit() {

      this.disabledSubmitButton = true;

      if (process.env.sso_env == "SSO") {
        this.errors_form = [];
        this.errors_form = [];

        this.errors = [];

        await this.$axios
          .post(process.env.ssoLoginUrl, this.form)
          .then((response) => {
            const header = response.headers;
            var token = header.authorization;
            token = token.replace("Bearer ", "");
            if (this.setToken(token)) {
              this.getUser();
            }
          })
          .catch((e) => {
            this.disabledSubmitButton = false;
            this.errors_form = [];
            this.errors_form.push(
              "Login gagal, periksa kembali username atau password anda"
            );
          });
      } else {
        let loader = this.$loading.show(); // manggil loading

        this.errors_form = [];
        this.errors_form = [];

        this.errors = [];

        if (this.form.username === '' && this.form.password === '') {
          this.errors.push('Nama Pengguna dan Password Harap diisi');

          loader.hide(); // hide loading
          this.disabledSubmitButton = false;

        } else if (this.form.username === '') {
          this.errors.push('Nama Pengguna Harap diisi');

          loader.hide(); // hide loading
          this.disabledSubmitButton = false;

        } else if (this.form.password === '') {
          this.errors.push('Kata sandi Harap diisi');

          loader.hide(); // hide loading
          this.disabledSubmitButton = false;

        }
        
        else {
        
        var urlencoded = new URLSearchParams();
        urlencoded.append("username", this.form.username);
        urlencoded.append("password", this.form.password);
        await this.$auth
          .loginWith("local", {
            data: urlencoded,
          })
          .then((response) => {
            loader.hide(); // hide loading

            var token = response.data.access_token;
            token = token.replace("Bearer ", "");
            if (this.setToken(token)) {
              this.$store.commit("user/SET_TOKEN", response.data.access_token);
              this.$store.commit("user/SET_USER", response.data.active_account);
              this.$store.commit(
                "user/SET_ROLES",
                response.data.active_account.accounts[0].role
              );
              this.$store.commit(
                "user/SET_ISADMIN",
                response.data.active_account.accounts[0].isAdmin
              );
              this.$store.commit(
                "user/SET_COMPANY",
                response.data.active_company
              );
              this.$store.commit(
                "user/SET_LIST_COMPANY",
                response.data.companies
              );
              this.$store.commit(
                "user/SET_SOLUTIONS",
                response.data.active_account.accounts[0].solutions
              );
              this.$store.commit(
                "user/SET_PHOTO_URL",
                response.data.active_account.accounts[0].image
              );

              // this.$router.push(process.env.redirectLogin);

              this.$auth.setUser(response.data);
              if (response.data.active_account.accounts[0].isAdmin) {
                this.$router.push(process.env.redirectLogin);
              } else {
                this.disabledSubmitButton = false;
                this.errors_form = [];
                this.errors_form.push(
                  "Login gagal, Jenis Akun Harus Admin"
                );
              }

            }
          })
          .catch((e) => {
            loader.hide(); // hide loading

            this.disabledSubmitButton = false;
            this.errors_form = [];
            this.errors_form.push(
              "Login gagal, periksa kembali username atau password anda"
            );
          });
        }
      }
    },
    async getUser() {
      await this.$axios
        .get("mainedu/auth/user_sso")
        .then((response) => {
          var token = response.data.token;
          token = token.replace("Bearer ", "");
          if (this.setToken(token)) {
            this.$store.commit("user/SET_USER", response.data.active_account);
            this.$store.commit(
              "user/SET_ROLES",
              response.data.active_account.accounts[0].role
            );
              this.$store.commit(
              "user/SET_ISADMIN",
              response.data.active_account.accounts[0].isAdmin
              );
            this.$store.commit(
              "user/SET_COMPANY",
              response.data.active_company
            );
            this.$store.commit(
              "user/SET_LIST_COMPANY",
              response.data.companies
            );

            this.$auth.setUser(response.data);
            this.$router.push(process.env.redirectLogin);
          }
          // console.log(response.headers);
        })
        .catch((e) => {
          this.disabledSubmitButton = false;
          this.errors_form = [];
          this.errors_form.push(
            "Login gagal, periksa kembali username atau password anda"
          );
        });
    },
    async setToken(token) {
      this.$auth
        .setUserToken(token)
        .then(() => {
          // console.log("Token Sukses :"+  token);
          return true;
        })
        .catch((e) => {
          this.disabledSubmitButton = false;
          console.log("Token Failes");
          return false;
        });
    },
  },
};
</script>
