<template>
  <div>
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Data Ekstrakulikuler</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-breadcrumb />
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <nuxt-link
            to="/website/website_excul"
            class="btn btn-neutral btn-sm"
          >
            Kembali
          </nuxt-link>
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card-wrapper">
            <card>
              <h3 slot="header" class="mb-0">Edit Data</h3>
              <validation-observer
                v-slot="{ handleSubmit }"
                ref="formValidator"
              >
                <form
                  class="needs-validation"
                  @submit.prevent="handleSubmit(updateDataExcul)"
                >
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Nama</label
                      >
                      <div class="col-md-7">
                        <base-input
                          name="title"
                          placeholder="Nama"
                          success-message="Looks good!"
                          rules="required"
                          v-model="form.title"
                        ></base-input>
                      </div>
                    </div>
					
                    <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Hari</label
                      >
                      <div class="col-md-5">
                        <base-input>
                          <el-select
                            v-model="form.day"
                            placeholder="Pilih Hari"
                            rules="required"
                          >
                            <el-option
                              v-for="option in tipeOptions"
                              :key="option.label"
                              :label="option.label"
                              :value="option.value"
                            ></el-option>
                          </el-select>
                        </base-input>
                      </div>
                    </div>

                   <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Jam</label
                      >
                      <div class="col-md-7">
                        <base-input
                          type="time"
                          v-model="form.subtitle"
                        ></base-input>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Tags</label>
                      <div class="col-md-7">
                        <tags-input 
                        v-model="form.tags">
                        </tags-input>
                      </div>
                    </div>

                    <!-- <div class="form-group row">
                      <label
                        class="col-md-2 col-form-label form-control-label"
                      ></label>
                      <div class="col-md-7">
                        <custom-image
                          :image="tempImage"
                          @handleDeleteImage="handleDeleteImage"
                        >
                        </custom-image>
                       <img width="300" v-if="tempImage" :src="
                        `${$axios.defaults.baseURL}main_base/image/get/${tempImage}/pas`
                      " /> 
                      </div>
                      <button
                            style="height: fit-content"
                            class="btn btn-danger btn-sm"
                            type="button"
                            @click="deleteChoice(index)"
                          >
                            Hapus
                          </button> 
                    </div> -->

                    <!-- <div class="form-group row">
                      <label class="col-md-2 col-form-label form-control-label"
                        >Upadate Image</label
                      >

                      <div class="col-md-7">
                        <dropzone-file-upload
                          v-model="image"
                          ref="image"
                          type="file"
                          @change="uploadImage"
                        ></dropzone-file-upload>
                      </div>
                    </div> -->

                  </div>
                  <base-button type="primary" native-type="submit"
                    >Simpan</base-button
                  >
                  <nuxt-link
                    class="btn btn-warning"
                    to="/website/website_excul"
                    >Batal</nuxt-link
                  >
                </form>
              </validation-observer>
            </card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TagsInput from "@/components/argon-core/Inputs/TagsInput";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
import { Select, Option } from "element-ui";
import DropzoneFileUpload from "@/components/argon-core/Inputs/DropzoneFileUpload";

import { VueEditor } from "vue2-editor";

export default {

  components: {
    TagsInput,
    DropzoneFileUpload,
    [Select.name]: Select,
    [Option.name]: Option,
    VueEditor,
  },
  data() {
    return {
      tipeOptions: [
        {
          label: "Monday",
          value: "Monday",
        },
        {
          label: "Sunday",
          value: "Sunday",
        },
        {
          label: "Tuesday",
          value: "Tuesday",
        },
        {
          label: "Wednesday",
          value: "Wednesday",
        },
        {
          label: "Thursday",
          value: "Thursday",
        },
        {
          label: "Friday",
          value: "Friday",
        },
        {
          label: "Saturday",
          value: "Saturday",
        },
       
      ],
      validated: false,
      form: {
        title: "",
        subtitle: "",
        day:"",
        tags: [],
        // note: "",
        // description: "",
        // imageUrl: "",
      },
      doSubmit: true,
      // image: "",
      // tempImage: "",
    };
  },
  beforeMount() {
    this.getExcul();
  },
  methods: {
    getExcul() {
      this.$axios
        .$get(`main_web/web_excul/excul/${this.$route.params.id}`)
        .then((response) => {
          this.form.title = response.title;
          this.form.subtitle = response.subtitle;
          this.form.day = response.day;
          this.form.tags = response.tags;
          // this.form.note = response.note;
          // this.form.description = response.description;
          // this.form.imageUrl = response.imageUrl;
          // this.tempImage = response.imageUrl;
        });
    },
    // handleDeleteImage(image) {
    //   //delete image
    //   // await this.updateDataExcul()
    //   this.$axios.$delete(`main_base/image/image/${image}`).then((response) => {
    //     this.form.imageUrl = this.tempImage = "";
    //     // this.getExcul();
    //   });
    //   //delete listDetail
    // },
    // async deleteChoice(index) {
    //   this.$axios
    //     .$delete(`main_image/image/image/${this.tempImage}`)
    //     .then((response) => {
    //       this.$notify({
    //         message:'Gambar Berhasil dihapus',
    //         timeout: 2500,
    //         icon: 'ni ni-check-bold',
    //         type: "success",
    //       });
    //       this.form.tempImage;
    //     })
    //   this.data.splice(index, 1);
    //   this.form.tempImage.splice(index, 1);
    // },

    // handleUploadImage() {
    //   this.image = this.$refs.image.files[0];
    // },
    // uploadImage() {
    //   console.log(this.image);
    //   const formData = new FormData();
    //   for (var i = 0; i < this.image.length; i++) {
    //     let file = this.image[i];
    //     formData.append("file", file);
    //   }
    //   const allowTypes = ["image/jpeg", "image/jpg", "image/png"];
    //   let image = this.$refs.image.files[0];

    //   if (image.size > 5 * 1024 * 1024) {
    //     swal.fire({
    //       icon: "error",
    //       title: "Maaf Ukuran File Terlalu Besar!",
    //       text: "Ukuran File Harus dibawah 5 Mb!",
    //       type: "failed",
    //       confirmButtonClass: "btn btn-danger btn-fill",
    //       buttonsStyling: false,
    //     });
    //     this.$refs.image.files = [];
    //   } else {
    //     if (!allowTypes.includes(image.type)) {
    //       swal.fire({
    //         title: "File Bukan Image, Harap Masukan File Image!",
    //         type: "failed",
    //         confirmButtonClass: "btn btn-danger btn-fill",
    //         buttonsStyling: false,
    //       });
    //       this.$refs.image.files = [];
    //     } else {
    //       let loader = this.$loading.show();
    //       this.$axios
    //         .$post(`/main_base/image/upload_image`, formData, {
    //           headers: {
    //             "Content-Type": "multipart/form-data",
    //           },
    //         })
    //         .then((response) => {
    //           loader.hide();
    //           console.log(response.name);
    //           this.form.imageUrl = response.name;
    //         });
    //     }
    //   }
    // },
    async updateDataExcul() {
      this.$axios
        .$put(
          `main_web/web_excul/excul/${this.$route.params.id}`,
          this.form
        )
        .then((response) => {
          // swal.fire({
          //   title: `Success`,
          //   text: "Your work has been saved",
          //   buttonsStyling: false,
          //   confirmButtonClass: "btn btn-success",
          //   type: "success",
          // });
          this.$notify({
            message: "Data Telah Berhasil Diubah",
            timeout: 3500,
            icon: "ni ni-check-bold",
            type: "success",
          });
          this.$router.push("/website/website_excul");
        })
        .catch((e) => {});
    },
  },
};
</script>
