<template>
  <div>
    <div
      class="imgWrapper"
      v-if="typeof image == 'object'"
      v-bind:key="image.imageUrl"
    >
      <!-- v-for="image" -->
      <div
        class="imgBtn imgDelete fas fa-times"
        @click="handleDeleteImage(image)"
      ></div>
      <!-- <div class="imgBtn imgEdit fas fa-edit"> </div> -->

      <img
        :src="`${$axios.defaults.baseURL}main_base/image/get/${image.imageUrl}/pas`"
      />
    </div>
    <div class="imgWrapper" v-else >
      <!-- v-for="image" -->
      <div
        class="imgBtn imgDelete fas fa-times"
        @click="handleDeleteImage(image)"
      ></div>
      <!-- <div class="imgBtn imgEdit fas fa-edit"> </div> -->

      <img
        :src="`${$axios.defaults.baseURL}main_base/image/get/${image}/pas`"
      />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    image: [String, Object],
  },
  beforeMount(){
	  console.log(this.image);
  },
  methods: {
    handleDeleteImage(image) {
      this.$emit("handleDeleteImage", image);
    },
  },
};
</script>

<style>
.imgWrapper {
  width: 300px;
  position: relative;
}
.imgWrapper:hover img {
  opacity: 0.3;
}
.imgWrapper:hover .imgBtn {
  opacity: 1;
  cursor: pointer;
}
.imgWrapper .imgDelete {
  position: absolute;
  top: 10px;
  right: 10px;
}
.imgWrapper .imgEdit {
  position: absolute;
  left: 50%;
  top: 50%;
}
.imgWrapper img {
  width: 300px;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.imgWrapper .imgBtn {
  z-index: 9;
  transition: 0.5s ease;
  opacity: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
</style>