<template
  ><div class="content">
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Data FAQ</h6>
          <!-- <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-breadcrumb />
          </nav> -->
        </div>
      </div>
    </base-header>
     <modal backdrop="static" size="lg" :show.sync="modals.detail">

      <!-- <template slot="header">
        <h6 class="modal-title">Detail Notifikasi</h6>
      </template> -->

      <template>
        <div class="col">

          <div class="row">
            <b>Detail FAQ</b>
          </div>

          <br> 

          <div class="row">
            <div class="col-md-3">
              <p class="form-control-label">Tanggal</p>
            </div>
            <div class="col">
              : {{ detail.tanggal | moment("DD-MMM-YYYY, h:mm:ss") }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <p class="form-control-label">Pertanyaan</p>
            </div>
            <div class="col">
              : {{ detail.question }}
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-md-3">
              <p class="form-control-label">Email</p>
            </div>
            <div class="col">: {{ detail.email }}</div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <p class="form-control-label">Pesan</p>
            </div>
            <div class="col">: {{ detail.judul }}</div>
          </div> -->
          <div class="row">
            <div class="col-md-3">
              <p class="form-control-label">Detail</p>
            </div>
            <div class="col">: {{ detail.answer }}</div>
          </div>
        </div>
      </template>
      <template slot="footer">
        <base-button
          type="warning"
          class="ml-auto"
          @click="modals.detail = false"
          >Kembali</base-button
        >
      </template>
    </modal>

    <div class="container-fluid mt--6">
      <div>
        <card
          class="no-border-card"
          body-classes="px-0 pb-1"
          footer-classes="pb-2"
        >
          <template slot="header">
            <h3 class="mb-0">Data FAQ</h3>
          </template>

          <!-- Column Seaching -->
          <div class="row mt--3 mb-2">
            <!-- search user -->
            <div class="col-3"></div>
            <!-- search  -->
            <div class="col-7"></div>

            <!-- Select Size Page -->
            <div class="col-2">
              <el-select
                class="select-primary pagination-select"
                v-model="paging.size"
                placeholder="Per page"
                @change="changePageSize()"
              >
                <el-option
                  class="select-primary"
                  v-for="item in paging.perPageOptions"
                  :key="item"
                  :label="item"
                  :value="item"
                ></el-option>
              </el-select>
            </div>
          </div>

          <div>
            <slot>
              <table
                class="table table-hover-table-stripped thead-light"
                width="100%"
              >
                <thead>
                  <tr style="background-color: #f6f9fc">
                    <th>Tanggal</th>
                    <!-- <th>Kategori</th> -->
                    <th>Pertanyaan</th>
                    <th>Jawaban</th>
                    <th>Aksi</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in tableData" :key="index">
                    <td>
                      {{ item.createTime | moment("DD-MMM-YYYY, h:mm:ss") }}
                    </td>
                    <!-- <td>{{ item.category }}</td> -->
                    <td>{{ item.question }}</td>
                    <td>{{ item.answer.substr(0,40) }}</td>
                    <td>
                      <el-tooltip content="Detail" placement="top">
                        <base-button
                          @click="handleDetail(item)"
                          size="sm"
                          type="success"
                        >
                          <i class="text-white ni ni-zoom-split-in"></i>
                        </base-button>
                      </el-tooltip>
                    </td>
                  </tr>
                </tbody>
              </table>
            </slot>
          </div>

          <div
            slot="footer"
            class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
          >
            <div class>
              <p class="card-category">
                Showing {{ from + 1 }} to {{ to }} of
                {{ paging.totalElements }} entries
              </p>
            </div>
            <ul class="pagination pagination-no-border">
              <li
                class="page-item prev-page"
                :class="{ disabled: paging.page + 1 === 1 }"
              >
                <a class="page-link" aria-label="Previous" @click="prevPage">
                  <span aria-hidden="true">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                  </span>
                </a>
              </li>
              <li
                class="page-item"
                :class="{ active: paging.page + 1 === item }"
                :key="item"
                v-for="item in range(1, paging.totalPages)"
              >
                <a class="page-link" @click="changePage(item)">{{ item }}</a>
              </li>
              <li
                class="page-item next-page"
                :class="{ disabled: paging.page + 1 === paging.totalPages }"
              >
                <a class="page-link" aria-label="Next" @click="nextPage">
                  <span aria-hidden="true">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </span>
                </a>
              </li>
            </ul></div
        ></card>
      </div>
    </div>
  </div>
</template>
<script>
import { Table, TableColumn, Select, Option } from "element-ui";
import RouteBreadCrumb from "@/components/argon-core/Breadcrumb/RouteBreadcrumb";
import swal from "sweetalert2";
export default {
  components: {
    // BasePagination,
    RouteBreadCrumb,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
  },
  data() {
    return {
      tableData: [],
      url: 'main_web/faq/faq_by_company_id/',
      modals: {
        detail: false,
      },
      detail: {
        tanggal: "",
      },
      companyCode: localStorage.getItem("user")
        ? JSON.parse(localStorage.getItem("user")).company.id
        : "",
      paging: {
        size: 10,
        totalElements: 0,
        totalPages: 0,
        page: 0,
        perPageOptions: [5, 10, 25, 50],
      },
    };
  },
  beforeMount() {
    this.getDatas(this.paging.size, this.paging.page);
  },
  computed: {
    to() {
      let highBound = this.from + this.paging.size;
      if (this.paging.totalElements < highBound) {
        highBound = this.paging.totalElements;
      }
      return highBound;
    },
    from() {
      return this.paging.size * this.paging.page;
    },
  },
  methods: {
    getDatas(size, page) {
      this.$axios
        .$post(this.url + this.companyCode + "?size=" + size + "&page=" + page, { search: [] })
        .then((response) => {
          this.tableData = response.content;
          this.tableInfo = response;
          this.paging.totalElements = response.totalElements;
          this.paging.totalPages = response.totalPages;
          this.paging.page = page;
          this.paging.size = size;
        });
    },
    handleDetail(item) {
      this.modals.detail = true;
      this.detail.tanggal = item.createTime;
      (this.detail.question = item.question),
      // (this.detail.email = item.email),
      // (this.detail.judul = item.title),
      (this.detail.answer = item.answer);

    },
    handleDelete(index, row) {
      swal
        .fire({
          title: "Apakah Anda Yakin ?",
          text: `Data Yang Telah Dihapus Tidak Dapat Dikembalikan !`,
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn btn-success btn-fill",
          cancelButtonClass: "btn btn-danger btn-fill",
          confirmButtonText: "Ya, Hapus !",
          cancelButtonText: "Cancel !",
          buttonsStyling: false,
        })
        .then((result) => {
          if (result.value) {
            this.deleteRow(row);
          }
        });
    },
    deleteRow(row) {
      this.$axios
        .$delete("main_base/faq/faq/" + row._id)
        .then((user) => {
          // swal.fire({
          //   title: "Deleted!",
          //   text: `You deleted ${row.question}`,
          //   type: "success",
          //   confirmButtonClass: "btn btn-success btn-fill",
          //   buttonsStyling: false,
          // });
          this.$notify({
            message:
              'Data Telah Berhasil Dihapus',
            timeout: 3500,
            icon: 'ni ni-check-bold',
            type: "success",
          });
          this.getDatas(this.paging.size, this.paging.page);
        })
        .catch((error) => {
          // swal.fire({
          //   title: "Delete Failed!",
          //   text: `Failed to delete ${row.question}`,
          //   type: "failed",
          //   confirmButtonClass: "btn btn-danger btn-fill",
          //   buttonsStyling: false,
          // });

          this.$notify({
            message:
              'Data Gagal Terhapus',
            timeout: 3500,
            icon: 'ni ni-check-bold',
            type: "success",
          });
        });
    },
    range(min, max) {
      let arr = [];
      for (let i = min; i <= max; i++) {
        arr.push(i);
      }
      return arr;
    },
    changePage(item) {
      const page = item - 1;
      this.getDatas(this.paging.size, page);
    },
    nextPage() {
      const page = this.paging.page + 1;
      this.getDatas(this.paging.size, page);
    },
    prevPage() {
      const page = this.paging.page - 1;
      this.getDatas(this.paging.size, page);
    },
    changePageSize(e) {
      const page = this.paging.page;
      this.getDatas(this.paging.size, page);
    },
  },
};
</script>
