<template
  ><div class="content">
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Invoice</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-breadcrumb />
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <base-button
            v-if="this.aktifCompany === '605da70c2f20299429cb940d'"
            class="btn btn-neutral btn-sm"
            @click="createVaModal()"
          >
            Create VA Manual
          </base-button>

          <base-button type="success" class="btn-sm" @click="downloadInvoice()">
            Download Data Invoice
          </base-button>

          <modal backdrop="static" :show.sync="modals.invoiceDownloadModal">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <b>
                  <center>
                    Download Semua Invoice atau Download Berdasarkan Status
                  </center>
                </b>
              </div>
              <div class="col-md-2"></div>
            </div>

            <br />

            <form>
              <base-input>
                <el-select
                  clearable
                  v-model="form3.status"
                  placeholder="Pilih Status Invoice"
                >
                  <el-option
                    v-for="option in GET_STATUS"
                    :key="option.label"
                    :label="option.label"
                    :value="option.value"
                  >
                  </el-option>
                </el-select>
              </base-input>
            </form>

            <template slot="footer">
              <base-button
                type="danger"
                class="ml-auto"
                @click="modals.invoiceDownloadModal = false"
                >Batal
              </base-button>

                <a
                  v-bind:href="
                    `${$axios.defaults.baseURL}main_base/invoice/download_excel/` +
                        this.$store.state.user.company.companyId +
                        `/data_invoice.xls?paymentStatus=` + this.form3.status
                  "
                  target="_blank"
                >
                  <base-button type="primary" native-type="submit" v-if="form3.status != ''">
                    Download Sesuai Status
                  </base-button>
                </a>
                <a
                  v-bind:href="
                    `${$axios.defaults.baseURL}main_base/invoice/download_excel/` +
                        this.$store.state.user.company.companyId +
                        `/data_invoice.xls`
                  "
                  target="_blank"
                >
                  <base-button type="primary" native-type="submit" v-if="form3.status === ''">
                    Download Semua Invoice
                  </base-button>
                </a>
            </template>
          </modal>

          <!--Classic modal-->
          <modal backdrop="static" :show.sync="modals.createVA">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <b>
                  <center>
                    Create VA Manual Al-Izzah
                  </center>
                </b>
              </div>
              <div class="col-md-2"></div>
            </div>

            <br />

            <validation-observer ref="form">
              <form class="needs-validation">
                <div class="col-md-12">
                  <div class="form-group row">
                    <label
                      class="col-md-3 col-form-label form-control-label required1"
                    >
                      Nama
                    </label>
                    <div class="col-md-9">
                      <base-input
                        name="nama"
                        placeholder="Nama"
                        success-message="Looks good!"
                        v-model="form.nama"
                      ></base-input>

                      <a
                        style="color: red; font-weight: 500; font-size: 13px"
                        v-if="this.form.nama === ''"
                      >
                        {{ this.errors1.nama }}
                      </a>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label
                      class="col-md-3 col-form-label form-control-label required1"
                    >
                      Nomor VA
                    </label>
                    <div class="col-md-9">
                      <base-input
                        name="nomor_va"
                        placeholder="Nomor VA"
                        success-message="Looks good!"
                        v-model="form.nomor_va"
                      ></base-input>

                      <a
                        style="color: red; font-weight: 500; font-size: 13px"
                        v-if="this.form.nomor_va === ''"
                      >
                        {{ this.errors1.nomor_va }}
                      </a>
                    </div>
                  </div>

                  <br />
                </div>

                <div v-if="this.step === true">
                  <h2>
                    <b
                      ><center>Nama : {{ this.tampil.customerName }}</center></b
                    >
                  </h2>

                  <h2>
                    <b
                      ><center>Nomor VA : {{ this.tampil.vaNumber }}</center></b
                    >
                  </h2>
                </div>

                <br />

                <base-button
                  type="danger"
                  class="ml-auto"
                  @click="modals.createVA = false"
                  >Batal</base-button
                >
                <base-button type="primary" @click="submitCreateVA()"
                  >Submit</base-button
                >
              </form>
            </validation-observer>
          </modal>

          <modal backdrop="static" :show.sync="modals.upload">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <center>
                  <b> Update Status Invoice</b> <br />
                  "{{ form.name }}"
                </center>
              </div>
              <div class="col-md-2"></div>
            </div>

            <br />

            <validation-observer ref="form">
              <form class="needs-validation">
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label form-control-label"
                      >Status</label
                    >
                    <div class="col-md-8">
                      <base-input>
                        <el-select
                          v-model="form2.paymentStatus"
                          rules="required"
                          placeholder="Pilih Status"
                        >
                          <el-option
                            v-for="option in GET_STATUS"
                            :key="option.label"
                            :label="option.label"
                            :value="option.value"
                          >
                          </el-option>
                        </el-select>
                      </base-input>

                      <a
                        style="color: red; font-weight: 500; font-size: 13px"
                        v-if="this.form2.paymentStatus === ''"
                      >
                        {{ this.errors1.paymentStatus }}
                      </a>
                      
                    </div>
                  </div>

                  <br />
                </div>

                <base-button
                  type="danger"
                  class="ml-auto"
                  @click="modals.upload = false"
                  >Batal</base-button
                >
                <base-button
                  type="primary"
                  @click="submitStatus()"
                  v-if="form2.paymentStatus != ''"
                  >Kirim</base-button
                >
              </form>
            </validation-observer>
          </modal>
        </div>
      </div>
    </base-header>
    <div class="container-fluid mt--6">
      <div>
        <card
          class="no-border-card"
          body-classes="px-0 pb-1"
          footer-classes="pb-2"
        >
          <template slot="header">
            <h3 class="mb-0">Invoice</h3>
          </template>

          <!-- Column Seaching -->
          <div class="row mt--3 mb--2">
            <!-- search vaName -->
            <div class="col-2">
              <div>
                <base-input
                  v-model="vaName"
                  placeholder="Cari Nama"
                  @keyup="changePageSize()"
                >
                </base-input>
              </div>
            </div>

            <div class="col-4"></div>

            <!-- search paymentStatus -->
            <div class="col-2">
              <div>
                <!-- <base-input>
                  <el-select
                    class="select-primary pagination-select"
                    v-model="paymentStatus"
                    placeholder="Cari Status"
                    @change="changePageSize()"
                    clearable
                  >
                    <el-option
                      class="select-primary"
                      v-for="option in getStatus"
                      :label="option.label"
                      :key="option.value"
                      :value="option.value"
                    ></el-option>
                  </el-select>
                </base-input> -->

                <!-- <base-input
                  v-model="paymentStatus"
                  placeholder="Cari Status"
                  @keyup="changePageSize()"
                >
                </base-input> -->
              </div>
            </div>

            <!-- search vaNumber -->
            <div class="col-2">
              <div>
                <base-input
                  v-model="vaNumber"
                  placeholder="Cari Nomor VA"
                  @keyup="changePageSize()"
                >
                </base-input>
              </div>
            </div>

            <!-- Select Size Page -->
            <div class="col-2">
              <el-select
                class="select-primary pagination-select"
                v-model="paging.size"
                placeholder="Per page"
                @change="changePageSize()"
              >
                <el-option
                  class="select-primary"
                  v-for="item in paging.perPageOptions"
                  :key="item"
                  :label="item"
                  :value="item"
                ></el-option>
              </el-select>
            </div>
          </div>

          <div>
            <slot>
              <table
                class="table table-hover-table-stripped thead-light"
                width="100%"
              >
                <thead style="width: 100%">
                  <tr style="background-color: #f6f9fc">
                    <th>Nama Lengkap</th>
                    <th>Jenis Pembayaran</th>
                    <!-- <th>Tanggal Terakhir Pembayaran</th> -->
                    <th>Jumlah Bayar</th>
                    <th>Status</th>
                    <th>Nomor VA</th>
                    <th>Aksi</th>
                  </tr>
                </thead>
                <tbody style="width: 100%">
                  <tr v-for="(item, index) in tableData" :key="index">
                    <td>{{ item.vaName }}</td>
                    <td>{{ item.title }}</td>
                    <!-- <td>
                      {{ item.expiredDate | moment("DD-MMM-YYYY, h:mm:ss") }}
                    </td> -->
                    <td>Rp. {{ formatPrice(item.amount) }}</td>
                    <td>
                      <div v-if="item.paymentStatus === 'PAID'">
                        <div style="color: green">
                          <!-- <b> Lunas </b> -->
                          <base-button type="success" class="btn btn-sm">
                            Sudah Lunas
                          </base-button>
                        </div>
                      </div>
                      <div v-if="item.paymentStatus === 'UNPAID'">
                        <div style="color: orange">
                          <!-- <b> Belum Lunas </b> -->
                          <base-button type="warning" class="btn btn-sm">
                            Belum Lunas
                          </base-button>
                        </div>
                      </div>
                    </td>
                    <td>
                      {{ item.vaNumber }}
                    </td>
                    <td>
                      <a
                        v-bind:href="
                          `${$axios.defaults.baseURL}main_base/invoice/download_invoice/` +
                            item._id +
                            `/invoice.pdf`
                        "
                        target="_blank"
                      >
                        <el-tooltip content="Download Invoice" placement="top">
                          <base-button
                            type="primary"
                            class="btn btn-sm"
                            native-type="submit"
                          >
                            <i class="text-white  icon-cloud-download"></i>
                          </base-button>
                        </el-tooltip>
                      </a>

                      <el-tooltip
                        content="Update Status Pembayaran"
                        placement="top"
                      >
                        <base-button
                          @click="uploadStatusModal(index, item)"
                          size="sm"
                          type="info"
                        >
                          <i class="text-white ni ni-credit-card"></i>
                        </base-button>
                      </el-tooltip>
                    </td>
                  </tr>
                </tbody>
              </table>
            </slot>
          </div>

          <div
            slot="footer"
            class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
          >
            <div class>
              <p class="card-category">
                Showing {{ from + 1 }} to {{ to }} of
                {{ paging.totalElements }} entries
              </p>
            </div>
            <ul class="pagination pagination-no-border">
              <li
                class="page-item prev-page"
                :class="{ disabled: paging.page + 1 === 1 }"
              >
                <a class="page-link" aria-label="Previous" @click="prevPage">
                  <span aria-hidden="true">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                  </span>
                </a>
              </li>
              <li
                class="page-item"
                :class="{ active: paging.page + 1 === item }"
                :key="item"
                v-for="item in range(1, paging.totalPages)"
              >
                <a
                  class="page-link"
                  @click="changePage(item)"
                  v-if="Math.abs(item - paging.page) <= 2"
                  >{{ item }}</a
                >
              </li>
              <li
                class="page-item next-page"
                :class="{ disabled: paging.page + 1 === paging.totalPages }"
              >
                <a class="page-link" aria-label="Next" @click="nextPage">
                  <span aria-hidden="true">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>
<script>
import { Table, TableColumn, Select, Option } from "element-ui";
import RouteBreadCrumb from "@/components/argon-core/Breadcrumb/RouteBreadcrumb";
import { Modal, BaseAlert } from "@/components/argon-core";
import swal from "sweetalert2";
export default {
  components: {
    // BasePagination,
    Modal,
    RouteBreadCrumb,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
  },
  data() {
    return {
      getStatus: [
        {
          label: "SUDAH LUNAS",
          value: "PAID",
        },
        {
          label: "BELUM LUNAS",
          value: "UNPAID",
        },
      ],
      step: false,

      vaName: "",
      paymentStatus: "",
      vaNumber: "",

      tableData: [],
      modals: {
        createVA: false,
        upload: false,
        invoiceDownloadModal: false,
      },
      form: {
        nama: "",
        nomor_va: "",
        name: "",
        _id: "",
      },
      form2: {
        paymentStatus: "",
      },
      form3:{
        status: "",
      },
      errors1: {
        nama: "",
        nomor_va: "",
        paymentStatus: "",
      },
      GET_STATUS: [
        {
          label: "LUNAS",
          value: "PAID",
        },
        {
          label: "BELUM LUNAS",
          value: "UNPAID",
        },
      ],
      aktifCompany: "",
      tampil: {
        vaName: "",
        customerName: "",
      },
      url: "main_base/invoice/get_invoice",
      paging: {
        size: 10,
        totalElements: 0,
        totalPages: 0,
        page: 0,
        perPageOptions: [5, 10, 25, 50],
      },
    };
  },
  beforeMount() {
    this.getDatas(this.paging.size, this.paging.page);

    this.aktifCompany = this.$store.state.user.user.activeCompany;

    console.log(
      "ini aktif company = " + this.$store.state.user.user.activeCompany
    );
  },
  computed: {
    to() {
      let highBound = this.from + this.paging.size;
      if (this.paging.totalElements < highBound) {
        highBound = this.paging.totalElements;
      }
      return highBound;
    },
    from() {
      return this.paging.size * this.paging.page;
    },
  },
  methods: {
    getDatas(size, page) {
      let search = [];
      if (this.vaName) {
        search.push({ field: "vaName", key: this.vaName });
      } else if (this.paymentStatus) {
        search.push({ field: "paymentStatus", key: this.paymentStatus });
      } else if (this.vaNumber) {
        search.push({ field: "vaNumber", key: this.vaNumber });
      }

      this.$axios
        .$post(this.url + "?size=" + size + "&page=" + page, { search })
        .then((response) => {
          this.tableData = response.content;

          this.paging.totalElements = response.totalElements;
          this.paging.totalPages = response.totalPages;
          this.paging.page = page;
          this.paging.size = size;
        });
    },

    downloadInvoice(){
      this.modals.invoiceDownloadModal = true;
    },

    submitStatus() {
      if (this.form2.paymentStatus === "") {
        this.errors1.paymentStatus = "Status Belum Dipilih";

        this.$notify({
          message:
            "Inputan Belum Lengkap, Silahkan Melengkapi Inputan Terlebih Dahulu",
          timeout: 3000,
          icon: "ni ni-fat-remove",
          type: "danger",
        });
      } else {
        let loader = this.$loading.show(); // manggil loading

        this.$axios
          .$put(`main_base/invoice/invoice/` + this.form._id, this.form2)
          .then((response) => {
            loader.hide(); // hide loading

            this.getDatas(this.paging.size, this.paging.page);

            this.$notify({
              message: "Update status invoice berhasil",
              timeout: 1500,
              icon: "ni ni-check-bold",
              type: "success",
            });

            this.modals.upload = false;


          })
          .catch((e) => {
            loader.hide(); // hide loading

            this.$notify({
              message: "Gagal update status invoice",
              timeout: 2500,
              icon: "ni ni-fat-remove",
              type: "danger",
            });
          });
      }
    },

    submitCreateVA() {
      if (this.form.nama === "" || this.form.nomor_va === "") {
        this.errors1.nama = "Nama Belum Diisi";
        this.errors1.nomor_va = "Nomor VA Belum Diisi";

        this.$notify({
          message:
            "Inputan Belum Lengkap, Silahkan Melengkapi Inputan Terlebih Dahulu",
          timeout: 3000,
          icon: "ni ni-fat-remove",
          type: "danger",
        });
      } else {
        let loader = this.$loading.show(); // manggil loading

        this.$axios
          .$get(
            `main_base/invoice/create_invoice_alizzah_manual2?nomor_va=` +
              this.form.nomor_va +
              `&nama=` +
              this.form.nama
          )
          .then((response) => {
            loader.hide(); // hide loading

            if (response.message === "Duplicate transaction/customer ID") {
              this.step = false;

              this.$notify({
                message: "Gagal, Nomor VA Sudah Terpakai",
                timeout: 3000,
                icon: "ni ni-fat-remove",
                type: "danger",
              });
            } else {
              this.step = true;

              this.$notify({
                message: "Virtual Account Berhasil Dibuat",
                timeout: 1500,
                icon: "ni ni-check-bold",
                type: "success",
              });

              this.tampil.vaNumber = response.vaNumber;
              this.tampil.customerName = response.customerName;
            }

            this.isDisabledSubmitButton = false;
          })
          .catch((e) => {
            loader.hide(); // hide loading

            this.$notify({
              message: "Virtual Account Gagal Tersimpan",
              timeout: 2500,
              icon: "ni ni-fat-remove",
              type: "danger",
            });
            this.isDisabledSubmitButton = false;
          });
      }
    },

    uploadStatusModal(index, item) {
      this.modals.upload = true;
      this.form.name = item.vaName;
      this.form._id = item._id;
    },

    formatPrice(value) {
      let val = (value / 1).toFixed(2).replace(".", ",");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    },

    handleDetailPesan(item) {
      // this.modals.detailPesan = true;
      // this.form = item;
    },

    closeDetailPesan() {
      // this.modals.detailPesan = 0;
    },

    createVaModal() {
      this.modals.createVA = true;
    },

    range(min, max) {
      let arr = [];
      for (let i = min; i <= max; i++) {
        arr.push(i);
      }
      return arr;
    },
    changePage(item) {
      const page = item - 1;
      this.getDatas(this.paging.size, page);
    },
    nextPage() {
      const page = this.paging.page + 1;
      this.getDatas(this.paging.size, page);
    },
    prevPage() {
      const page = this.paging.page - 1;
      this.getDatas(this.paging.size, page);
    },
    changePageSize(e) {
      const page = this.paging.page;
      this.getDatas(this.paging.size, page);
    },
  },
};
</script>
