<template>
  <div>
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Data Berita & Info</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-breadcrumb />
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <!-- <base-button size="sm" type="neutral">New</base-button> -->
          <nuxt-link
            to="/admin_server/berita_info_office"
            class="btn btn-neutral btn-sm"
            >Kembali</nuxt-link
          >
          <!-- <base-button size="sm" type="neutral">Filters</base-button> -->
        </div>
      </div>
    </base-header>
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card-wrapper">
            <card>
              <!-- Card header -->
              <h3 slot="header" class="mb-0">Tambah Berita & Info</h3>
              <!-- <validation-observer v-slot="{handleSubmit}" ref="formValidator"> -->
              <validation-observer ref="form">
                <form
                  class="needs-validation"
                  @submit.prevent="dataBeritaFormSubmit"
                >
                  <div class="col-md-8">
                    <!--<div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label"
                        >Tanggal</label
                      >
                      <div class="col-md-9">
                        <base-input
                          name="createTime"
                          placeholder="Tanggal"
                          success-message="Looks good!"
                          rules="required"
                          v-model="form.createTime"
                          type="datetime-local"
                        ></base-input>
                      </div>
                    </div> -->
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label"
                        >Judul</label
                      >
                      <div class="col-md-9">
                        <base-input
                          name="title"
                          placeholder="Judul"
                          success-message="Looks good!"
                          rules="required"
                          v-model="form.title"
                        ></base-input>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label"
                        >Sub Judul</label
                      >
                      <div class="col-md-9">
                        <base-input
                          name="subtitle"
                          placeholder="Sub Judul"
                          success-message="Looks good!"
                          rules="required"
                          v-model="form.subtitle"
                        ></base-input>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label">
                        Keterangan</label
                      >
                      <div class="col-md-9">
                        <textarea
                          class="form-control"
                          name="description"
                          placeholder="Keterangan"
                          success-message="Looks good!"
                          rules="required"
                          v-model="form.description"
                          rows="3"
                        ></textarea>
                      </div>
                    </div>
                    <!-- <div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label">Tags</label>
                      <div class="col-md-9">
                        <tags-input v-model="form.tags"></tags-input>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label">Mesin Absen</label>
                      <div class="col-md-9">
                        <base-input
                          success-message="Looks good!"
                          name="isAbsen"
                          rules="required">
                          <el-select
                            v-model="form.isAbsen"
                            placeholder="Apakah termasuk mesin Absen?">
                            <el-option
                              v-for="option in isOptions"
                              :key="option.label"
                              :label="option.label"
                              :value="option.value"
                            ></el-option>
                          </el-select>
                        </base-input>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label">Mesin Edu Absen</label>
                      <div class="col-md-9">
                        <base-input
                          success-message="Looks good!"
                          name="isEduAbsen"
                          rules="required">
                          <el-select
                            v-model="form.isEduAbsen"
                            placeholder="Apakah termasuk mesin Edu Absen?">
                            <el-option
                              v-for="option in isOptions"
                              :key="option.label"
                              :label="option.label"
                              :value="option.value"
                            ></el-option>
                          </el-select>
                        </base-input>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label">Id Edu Room</label>
                      <div class="col-md-9">
                        <base-input
                          name="idEduRoom"
                          placeholder="Id Edu Room"
                          success-message="Looks good!"
                          rules="required"
                          v-model="form.idEduRoom"
                        ></base-input>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label">Keterangan</label>
                      <div class="col-md-9">
                        <base-input
                          name="keterangan"
                          placeholder="Keterangan"
                          success-message="Looks good!"
                          rules="required"
                          v-model="form.keterangan"
                        ></base-input>
                      </div>
                    </div> -->
                  </div>
                  <base-button type="primary" native-type="submit"
                    >Save</base-button
                  >
                  <nuxt-link
                    class="btn btn-warning"
                    to="/admin_server/berita_info_office"
                    >Cancel</nuxt-link
                  >
                </form>
              </validation-observer>
            </card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import TagsInput from "@/components/argon-core/Inputs/TagsInput";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";

export default {
  name: "dataBeritaForm",
  components: {
    Loading,
    TagsInput,
    flatPicker,
  },
  data() {
    return {
      validated: false,
      loading: false,
      form: {
        // createTime: "",
        title: "",
        subtitle: "",
        description: "",
      },
      doSubmit: true,
    };
  },
  beforeMount() {
    window.addEventListener("keypress", (e) => {
      if (e.keyCode == 13) {
        this.doSubmit == false;
        e.preventDefault();
        return false;
      }
    });
  },
  methods: {
    async dataBeritaFormSubmit() {
      if (this.doSubmit) {
        this.$refs.form.validate().then((success) => {
          if (!success) {
            return;
          }
          this.loading = true;
          this.$axios
            .$post(`main_base/info/info`, this.form)
            .then((response) => {
              this.loading = false;
              // swal.fire({
              //   title: `Saved`,
              //   text: "Your work has been saved",
              //   buttonsStyling: false,
              //   confirmButtonClass: "btn btn-success",
              //   type: "success",
              // });

              this.$notify({
                message:
                  'Data Telah Berhasil Disimpan',
                timeout: 2500,
                icon: 'ni ni-check-bold',
                type: "success",
              });
              this.$router.push("/admin_server/berita_info_office");
            })
            .catch((e) => {});
        });
      }
    },
  },
};
</script>
