<template>
  <div>
    <loading
      :active.sync="loading"
      :can-cancel="false"
      :is-full-page="true"
    ></loading>
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">
            Data Berita & Info - Edit
          </h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-breadcrumb />
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <!-- <base-button size="sm" type="neutral">New</base-button> -->
          <nuxt-link
            to="/admin_server/berita_info_office"
            class="btn btn-neutral btn-sm"
            >Kembali</nuxt-link
          >
          <!-- <base-button size="sm" type="neutral">Filters</base-button> -->
        </div>
      </div>
    </base-header>

    <!-- Form belum diedit!!!! -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card-wrapper">
            <card>
              <!-- Card header -->
              <validation-observer
                v-slot="{ handleSubmit }"
                ref="formValidator"
              >
                <form
                  class="needs-validation"
                  @submit.prevent="handleSubmit(updateBeritaInfo)"
                >
                  <div class="col-md-8">
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label"
                        >Judul</label
                      >
                      <div class="col-md-9">
                        <base-input
                          name="title"
                          placeholder="Judul"
                          success-message="Looks good!"
                          :rules="{ required: true }"
                          v-model="form.title"
                        ></base-input>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label"
                        >Sub Judul</label
                      >
                      <div class="col-md-9">
                        <base-input
                          name="subtitle"
                          placeholder="Sub Judul"
                          success-message="Looks good!"
                          rules="required"
                          v-model="form.subtitle"
                        ></base-input>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label form-control-label"
                        >Keterangan</label
                      >
                      <div class="col-md-9">
                        <base-input
                          name="description"
                          placeholder="Keterangan"
                          success-message="Looks good!"
                          rules="required"
                          v-model="form.description"
                        ></base-input>
                      </div>
                    </div>
                  </div>
                  <base-button type="primary" native-type="submit"
                    >Save</base-button
                  >
                  <nuxt-link
                    class="btn btn-warning"
                    to="/admin_server/berita_info_office"
                    >Cancel</nuxt-link
                  >
                </form>
              </validation-observer>
            </card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import TagsInput from "@/components/argon-core/Inputs/TagsInput";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";

export default {
  name: "beritaInfoForm",
  // layout: "DashboardLayout",
  components: {
    TagsInput,
    Loading,
    flatPicker,
  },
  data() {
    return {
      validated: false,
      loading: false,
      form: {
        title: "",
        subtitle: "",
        description: "",
      },
    };
  },
  beforeMount() {
    this.loading = true;
    this.$axios
      .$get(`main_base/info/info/${this.$route.params.id}`)
      .then((response) => {
        this.form.title = response.title;
        this.form.subtitle = response.subtitle;
        this.form.description = response.description;
        this.loading = false;
      });
  },
  methods: {
    async updateBeritaInfo() {
      this.loading = true;
      this.$axios
        .$put(`main_base/info/info/${this.$route.params.id}`, this.form)
        .then((response) => {
          this.loading = false;
          // swal.fire({
          //   title: `Success`,
          //   text: "Your work has been saved",
          //   buttonsStyling: false,
          //   confirmButtonClass: "btn btn-success",
          //   type: "success",
          // });

          this.$notify({
            message:
              'Data Telah Berhasil Disimpan',
            timeout: 2500,
            icon: 'ni ni-check-bold',
            type: "success",
          });
          this.$router.push("/admin_server/berita_info_office");
        })
        .catch((e) => {});
    },
  },
};
</script>
