<template
  ><div class="content">
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Setting Dokumen</h6>
          <!-- <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-breadcrumb />
          </nav> -->
        </div>
        <div class="col-lg-6 col-5 text-right">

          <base-button
            type="success"
            class="btn btn-sm"
            @click="downloadDokumen()"
          >
            Download Dokumen
          </base-button>

          <base-button
            class="btn btn-neutral btn-sm"
            @click="settingDocModal()"
          >
            Tambah Setting Dokumen
          </base-button>

          <!--Classic modal-->
          <modal backdrop="static" :show.sync="modals.classic">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <b>
                  <center>
                    Tambah Setting Dokumen
                  </center>
                </b>
              </div>
              <div class="col-md-2"></div>
            </div>

            <br />

            <validation-observer ref="form">
              <form class="needs-validation">
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label form-control-label"
                      >Nama Dokumen</label
                    >
                    <div class="col-md-8">
                      <base-input rules="required">
                        <el-select
                          v-model="form.docName"
                          filterable
                          placeholder="Pilih Nama Dokumen"
                        >
                          <el-option
                            v-for="option in GET_TEMPLATE"
                            :key="option"
                            :label="option"
                            :value="option"
                          ></el-option>
                        </el-select>
                      </base-input>

                      <a
                          style="color: red; font-weight: 500; font-size: 13px"
                          v-if="this.form.docName === ''"
                        >
                          {{ this.errors1.docName }}
                      </a>
                    </div>
                  </div>

                  <br />
                </div>

                <base-button
                  type="danger"
                  class="ml-auto"
                  @click="modals.classic = false"
                  >Batal</base-button
                >
                <base-button type="primary" @click="submitAddDoc()"
                  >Submit</base-button
                >
              </form>
            </validation-observer>
          </modal>

          <!-- edit -->
          <modal backdrop="static" :show.sync="modals.edit">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <b>
                  <center>
                    Update Setting Dokumen
                  </center>
                </b>
              </div>
              <div class="col-md-2"></div>
            </div>

            <br />

            <validation-observer ref="form">
              <form class="needs-validation">
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label form-control-label"
                      >Nama Dokumen</label
                    >
                    <div class="col-md-8">
                      <base-input>
                        <el-select
                          v-model="form.docName"
                          filterable
                          placeholder="Pilih Nama Dokumen"
                        >
                          <el-option
                            v-for="option in GET_TEMPLATE"
                            :key="option"
                            :label="option"
                            :value="option"
                          ></el-option>
                        </el-select>
                      </base-input>

                      <a
                          style="color: red; font-weight: 500; font-size: 13px"
                          v-if="this.form.docName === ''"
                        >
                          {{ this.errors1.docName }}
                      </a>
                    </div>
                  </div>

                  <br />
                </div>

                <base-button
                  type="danger"
                  class="ml-auto"
                  @click="modals.edit = false"
                  >Batal</base-button
                >
                <base-button type="primary" @click="submitEditDoc()"
                  >Update</base-button
                >
              </form>
            </validation-observer>
          </modal>

          <!-- upload -->
          <modal backdrop="static" :show.sync="modals.upload">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                
                  <center>
                    <b> Upload Dokumen </b> <br>
                    {{ this.form.docName.replace("_", " ").toUpperCase() }}
                    <br> 
                        <i style="color: red">
                            *Ekstensi .doc atau .docx
                        </i> 
                  </center>
                
              </div>
              <div class="col-md-2"></div>
            </div>

            <br />
            <v-form ref="importDoc">
              <input
                type="file"
                name="file"
                id="file"
                ref="file"
                class="form-control"
                @change="filesChange()"
              />
            </v-form>

            <br />

            <base-button
              type="danger"
              class="ml-auto"
              @click="modals.upload = false"
              >Batal</base-button
            >
            <base-button type="primary" @click="submitFileDoc()"
              >Submit</base-button
            >
          </modal>
        </div>
      </div>
    </base-header>
    <div class="container-fluid mt--6">
      <div>
        <card
          class="no-border-card"
          body-classes="px-0 pb-1"
          footer-classes="pb-2"
        >
          <template slot="header">
            <h3 class="mb-0">Setting Dokumen</h3>
          </template>

          <!-- Column Seaching -->
          <div class="row mt--3 mb-2">
            <!-- search user -->
            <div class="col-3"></div>
            <!-- search  -->
            <div class="col-7"></div>

            <!-- Select Size Page -->
            <div class="col-2">
              <el-select
                class="select-primary pagination-select"
                v-model="paging.size"
                placeholder="Per page"
                @change="changePageSize()"
              >
                <el-option
                  class="select-primary"
                  v-for="item in paging.perPageOptions"
                  :key="item"
                  :label="item"
                  :value="item"
                ></el-option>
              </el-select>
            </div>
          </div>

          <div>
            <slot>
              <table
                class="table table-hover-table-stripped thead-light"
                width="100%"
              >
                <thead>
                  <tr style="background-color: #f6f9fc">
                    <th>Nama Dokumen</th>
                    <th>Status Upload Dokumen</th>
                    <th>Aksi</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in tableData" :key="index">

                    <td>
                      {{ item.docName.replace("_", " ").toUpperCase() }}
                    </td>

                    <td>
                      <div v-if="item.location === null">
                        <div style="color: orange">
                          <!-- <b> Lunas </b> -->
                          <base-button type="warning" class="btn btn-sm">
                            Belum Upload
                          </base-button>
                        </div>
                      </div>
                      <div v-else>
                        <div style="color: green">
                          <!-- <b> Belum Lunas </b> -->
                          <base-button type="success" class="btn btn-sm">
                            Sudah Upload
                          </base-button>
                        </div>
                      </div>
                    </td>
                    <td>
                      <el-tooltip content="Upload Dokumen" placement="top">
                        <base-button
                          @click="uploadDocModal(index, item)"
                          size="sm"
                          type="primary"
                        >
                          <i class="text-white ni ni-cloud-upload-96"></i>
                        </base-button>
                      </el-tooltip>

                      &nbsp; &nbsp;

                      <el-tooltip content="Edit" placement="top">
                        <base-button
                          @click="editDocModal(index, item)"
                          size="sm"
                          type="warning"
                        >
                          <i class="text-white icon-pencil"></i>
                        </base-button>
                      </el-tooltip>

                      &nbsp; &nbsp;

                      <el-tooltip content="Hapus" placement="top">
                        <base-button
                          @click.native="handleDelete(index, item)"
                          size="sm"
                          type="danger"
                          class="remove btn-link"
                        >
                          <i class="text-white icon-trash"></i>
                        </base-button>
                      </el-tooltip>
                    </td>
                  </tr>
                </tbody>
              </table>
            </slot>
          </div>

           <div
            slot="footer"
            class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
          >
            <div class>
              <p class="card-category">
                Showing {{ from + 1 }} to {{ to }} of
                {{ paging.totalElements }} entries
              </p>
            </div>
            <ul class="pagination pagination-no-border">
              <li
                class="page-item prev-page"
                :class="{ disabled: paging.page + 1 === 1 }"
              >
                <a class="page-link" aria-label="Previous" @click="prevPage">
                  <span aria-hidden="true">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                  </span>
                </a>
              </li>
              <li
                class="page-item"
                :class="{ active: paging.page + 1 === item }"
                :key="item"
                v-for="item in range(1, paging.totalPages)"
              >
                <a
                  class="page-link"
                  @click="changePage(item)"
                  v-if="Math.abs(item - paging.page) <= 2"
                  >{{ item }}</a
                >
              </li>
              <li
                class="page-item next-page"
                :class="{ disabled: paging.page + 1 === paging.totalPages }"
              >
                <a class="page-link" aria-label="Next" @click="nextPage">
                  <span aria-hidden="true">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </span>
                </a>
              </li>
            </ul>
          </div>

          </card>
      </div>
    </div>
  </div>
</template>
<script>
import { Table, TableColumn, Select, Option } from "element-ui";
import RouteBreadCrumb from "@/components/argon-core/Breadcrumb/RouteBreadcrumb";
import swal from "sweetalert2";
export default {
  components: {
    RouteBreadCrumb,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
  },
  data() {
    return {
      GET_TEMPLATE: [],
      modals: {
        classic: false,
        edit: false,
        upload: false,
      },
      form: {
        docName: "",
      },
      errors1: {
        docName: "",
      },
      tableData: [],

      url: "main_base/docsetting/get_docsetting",
      paging: {
        size: 10,
        totalElements: 0,
        totalPages: 0,
        page: 0,
        perPageOptions: [5, 10, 25, 50],
      },
    };
  },
  beforeMount() {
    this.getDatas(this.paging.size, this.paging.page);

    this.$axios
      .$get("main_base/docsetting/combo_document_setting_type")
      .then((response) => {
        this.GET_TEMPLATE = response;
        console.log(response);
      });
  },
  computed: {
    to() {
      let highBound = this.from + this.paging.size;
      if (this.paging.totalElements < highBound) {
        highBound = this.paging.totalElements;
      }
      return highBound;
    },
    from() {
      return this.paging.size * this.paging.page;
    },
  },
  methods: {
    getDatas(size, page) {
      this.$axios
        .$post(this.url + "?size=" + size + "&page=" + page, { search: [] })
        .then((response) => {
          this.tableData = response.content;
          this.paging.totalElements = response.totalElements;
          this.paging.totalPages = response.totalPages;
          this.paging.page = page;
          this.paging.size = size;
        });
    },

    settingDocModal() {
      this.modals.classic = true;
    },

    submitAddDoc() {

      let loader = this.$loading.show(); // manggil loading
       if (
          this.form.docName === "" 
        ) {
          this.errors1.docName = "Dokumen Belum Dipilih";
          loader.hide(); // hide loading

          this.$notify({
            message: "Data Belum Lengkap",
            timeout: 3500,
            icon: "ni ni-fat-remove",
            type: "danger",
          });
        } else {

        this.$axios
          .$post(`main_base/docsetting/docsetting`, this.form)
          .then((response) => {
            loader.hide(); // hide loading
            this.$notify({
              message: "Data Telah Berhasil Disimpan",
              timeout: 3500,
              icon: "ni ni-check-bold",
              type: "success",
            });
            this.getDatas(this.paging.size, this.paging.page);
            this.modals.classic = false;
          })
          .catch((e) => {
            loader.hide(); // hide loading

            this.$notify({
              message: "Data Gagal Disimpan",
              timeout: 3500,
              icon: "ni ni-fat-remove",
              type: "danger",
            });

          });
        }
    },

    editDocModal(index, item) {
      this.modals.edit = true;
      this.form.docName = item.docName;
      this.form._id = item._id;
    },

    submitEditDoc() {

      let loader = this.$loading.show(); // manggil loading
       if (
          this.form.docName === "" 
        ) {
          this.errors1.docName = "Dokumen Belum Dipilih";
          loader.hide(); // hide loading

          this.$notify({
            message: "Data Belum Lengkap",
            timeout: 3500,
            icon: "ni ni-fat-remove",
            type: "danger",
          });
        } else {

          this.$axios
            .$put(`main_base/docsetting/docsetting/` + this.form._id, this.form)
            .then((response) => {
              loader.hide(); // hide loading
              this.$notify({
                message: "Data Telah Berhasil Diupdate",
                timeout: 3500,
                icon: "ni ni-check-bold",
                type: "success",
              });
              this.getDatas(this.paging.size, this.paging.page);
              this.modals.edit = false;
            })
            .catch((e) => {
              loader.hide(); // hide loading
            });
        }
    },

    filesChange() {
      const allowTypes0 = [
        "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
        "application/msword",
      ];

      this.file = this.$refs.file.files[0];
      if (!allowTypes0.includes(this.file.type)) {
        swal.fire({
          title: "File Bukan Doc/Docx, Harap Masukan File Doc/Docx !",
          type: "failed",
          confirmButtonClass: "btn btn-danger btn-fill",
          buttonsStyling: false,
        });
        this.modals.upload = true;
      }
    },

    uploadDocModal(index, item) {
      this.modals.upload = true;
      this.form.docName = item.docName;
      this.form._id = item._id;
    },

    submitFileDoc() {
      let formData = new FormData();
      formData.append("file", this.file);

      this.$axios
        .$post(
          `/main_base/docsetting/upload_template_doc/` + this.form._id,
          formData,
          {
            headers: {
              "Content-Type": "multipart/form-data",
              "Access-Control-Allow-Origin": "*",
            },
          }
        )
        .then((response) => {
          this.$notify({
            message: "Upload Dokumen Telah Berhasil",
            timeout: 3500,
            icon: "ni ni-check-bold",
            type: "success",
          });
          this.getDatas(this.paging.size, this.paging.page);
          this.modals.upload = false;
        })
        .catch((e) => {
          this.$notify({
            message: `Gagal Upload Dokumen`,
            timeout: 3500,
            icon: "ni ni-fat-remove",
            type: "danger",
          });
          this.getDatas(this.paging.size, this.paging.page);
          this.modals.upload = false;
        });
    },

    handleDelete(index, item) {
      swal
        .fire({
          title: "Apakah Anda Yakin ?",
          text: `Data Yang Telah Dihapus Tidak Dapat Dikembalikan !`,
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn btn-success btn-fill",
          cancelButtonClass: "btn btn-danger btn-fill",
          confirmButtonText: "Ya, Hapus !",
          cancelButtonText: "Batal",
          buttonsStyling: false,
        })
        .then((result) => {
          if (result.value) {
            this.deleteRow(item);
          }
        });
    },
    deleteRow(item) {
      this.$axios
        .$delete("main_base/docsetting/docsetting/" + item._id)
        .then((user) => {
          this.$notify({
            message: "Data Telah Berhasil Dihapus",
            timeout: 3500,
            icon: "ni ni-check-bold",
            type: "success",
          });
          this.getDatas(this.paging.size, this.paging.page);
        })
        .catch((error) => {
          this.$notify({
            message: "Gagal Menghapus Data",
            timeout: 3500,
            icon: "ni ni-fat-remove",
            type: "danger",
          });
        });
    },

    downloadDokumen() {
      window.open(
        "https://drive.google.com/drive/folders/1EsKP-N2PF02Mz-ZBl50rFUGHPaqM3-bf?usp=sharing",
        "_blank"
      );
    },

    range(min, max) {
      let arr = [];
      for (let i = min; i <= max; i++) {
        arr.push(i);
      }
      return arr;
    },
    changePage(item) {
      const page = item - 1;
      this.getDatas(this.paging.size, page);
    },
    nextPage() {
      const page = this.paging.page + 1;
      this.getDatas(this.paging.size, page);
    },
    prevPage() {
      const page = this.paging.page - 1;
      this.getDatas(this.paging.size, page);
    },
    changePageSize(e) {
      const page = this.paging.page;
      this.getDatas(this.paging.size, page);
    },
  },
};
</script>
